@import '../../../styles/_vars.scss';

.feedbackMessage {
  composes: u-block u-textBold from global;
  margin-top: #{60/$font-size}rem;
  margin-bottom: #{10/$font-size}rem;
  color: $zd-color-grey-800;
}

.buttonGroup {
  composes: u-flex from global;
}

.button {
  flex-grow: 1;
  max-width: 50%;
}

.rightButton {
  composes: button;
  margin-left: #{7/$font-size}rem !important;

  [dir='rtl'] & {
    margin-left: 0 !important;
    margin-right: #{7/$font-size}rem !important;
  }
}

.textarea {
  margin-bottom: #{15/$font-size}rem;
}

.ratingGroup {
  composes: u-marginBS u-marginTT from global;
}
