@import '../../../styles/_vars.scss';

.container {
  margin-left: auto;

  [dir='rtl'] & {
    margin-left: 0;
    margin-right: auto;
  }
}

.ratingIcon {
  composes: u-borderTransparent from global;
  display: inline-block !important;
  padding: #{6/$font-size}rem;
  height: #{16/$font-size}rem;
  width: #{16/$font-size}rem;
  box-sizing: content-box;

  &:hover, &:focus, &:active {
    background-color: $zd-color-white;
  }
}

.ratingIconActive {
  border: #{1/$font-size}rem solid $zd-color-gainsboro !important;
  border-radius: #{4/$font-size}rem;
  background-color: $zd-color-grey-400;

  svg > path {
    fill: $zd-color-grey-800;
  }

  &:hover, &:focus, &:active {
    background-color: $zd-color-grey-400;
  }
}

.leftRatingIcon {
  composes: ratingIcon;
  padding-top: #{5/$font-size}rem;
  padding-bottom: #{7/$font-size}rem;

  svg {
    padding-left: #{1/$font-size}rem;
  }
}

.icon {
  [dir='rtl'] & {
    padding-left: 0 !important;
    padding-right: #{15/$font-size}rem !important;
  }
}
