@import '../../../styles/_vars.scss';

.scrollContainerContent {
  height: 100%;
  max-height: none;
  margin-right: #{7/$font-size}rem !important;
  margin-left: #{7/$font-size}rem !important;
  padding-right: #{8/$font-size}rem !important;
  padding-left: #{8/$font-size}rem !important;
}

.zendeskLogo {
  z-index: 1;
}

.logoFooter {
  height: #{12/$font-size}rem;
}
