@import '../../../styles/_vars.scss';

.ratingIcon {
  composes: u-borderTransparent from global;
  background-color: transparent !important;
  box-sizing: content-box;
  height: #{16 / $font-size}rem !important;
  width: #{16 / $font-size}rem !important;
  border-radius: #{30 / $font-size}rem;
  outline: none;
  display: inline-block !important;
  padding: #{10 / $font-size}rem;

  svg {
    height: #{16 / $font-size}rem;
    width: #{16 / $font-size}rem;

    path,
    rect {
      stroke: $zd-color-grey-600 !important;
      fill: none !important;
    }
  }

  &:focus {
    box-shadow: 0 0 0 #{3 / $font-size}rem rgba(153, 153, 153, 0.4) !important;
  }

  &:hover,
  &:focus,
  &:active {
    svg {
      path,
      rect {
        stroke: $zd-color-grey-800 !important;
        fill: none !important;
      }
    }
  }
}

.ratingIconActive {
  border: #{1 / $font-size}rem solid $zd-color-grey-200 !important;
  background-color: $zd-color-grey-400 !important;

  svg {
    path,
    rect {
      fill: none !important;
    }
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $zd-color-grey-400 !important;
  }
}

.thumbDownIcon {
  margin-left: #{2 / $font-size}rem;

  [dir='rtl'] & {
    margin-left: 0;
    margin-right: #{4 / $font-size}rem;
  }
}
