.buttonList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.buttonItem {
  composes: optionItem from '../../MessageOptions/MessageOptions.scss';

  margin: 0;
  padding: 0;
  max-width: none;
}

.overwriteState {
  &:hover, &:active, &:focus {
    background-color: transparent !important;
  }
}
