@import '../../../../styles/_vars.scss';

.panel {
  border: #{1/$font-size}rem $zd-color-grey-200 solid !important; // messageOptions
  text-align: left;
  background: white;
  width: 100%;
  max-width: none !important;
  padding: 0 !important;
  display: block !important;

  composes: messageBubble from '../../MessageBubble/MessageBubble.scss';

  // For the whole focus ring to be visible in a list
  &:focus {
    position: relative;
    z-index: 9999;
  }
}

.noBorderRadiusTop {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.noBorderRadiusBottom {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.noBorderBottomWidth {
  border-bottom-width: 0 !important;
}

.hasLink:hover {
  background: $zd-color-grey-200;

  .panelHeading {
    text-decoration: underline;
  }
}

.panelContent {
  padding: #{12/$font-size}rem;
  overflow: hidden;
}

.floatedPanelContent {
  width: calc(100% - #{60/$font-size}rem);
}

.panelContentImage {
  width: #{48/$font-size}rem;
  height: #{48/$font-size}rem;
  border-radius: #{4/$font-size}rem;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.panelHeading {
  font-weight: bold;
}

.panelParagraph {
  color: $zd-color-grey-600;
  margin-top: #{4/$font-size}rem;
}

.imageContainer {
  position: relative;
  border-top-left-radius: #{15/$font-size}rem; // Less rounded than messageBubble
  border-top-right-radius: #{15/$font-size}rem; // Less rounded than messageBubble
  overflow: hidden;
}

.imagePlaceholder {
  position: absolute;
  z-index: 1;
  background: $zd-color-grey-200;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    color: $zd-color-grey-400;
    transform: scale(2.0);
  }
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.aspectRatioStub {
  width: 100%;
  visibility: hidden;
}

.lineClamp {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  width: 100%;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  /*! autoprefixer: on */
}
