@import '../../../styles/_vars.scss';

.optionItem {
  line-height: #{16/$font-size}rem;
  padding: #{8/$font-size}rem #{12/$font-size}rem;
  transition: background-color 250ms ease-out;
  border-bottom: #{1/$font-size}rem $zd-color-anti-flash-white solid;
  border-left: #{1/$font-size}rem $zd-color-anti-flash-white solid;
  border-right: #{1/$font-size}rem $zd-color-anti-flash-white solid;
  max-width: #{219/$font-size}rem;

  &:hover {
    background-color: $zd-color-white-smoke;
    cursor: pointer;
    transition: background-color 250ms ease-in;
  }

  &:last-child {
    border-bottom-left-radius: #{16/$font-size}rem;
    border-bottom-right-radius: #{16/$font-size}rem;
  }
}

.firstItemBorders {
  border-top-left-radius: #{16/$font-size}rem;
  border-top-right-radius: #{16/$font-size}rem;
}
