.Attachment-container {
  background-color: $zd-color-anti-flash-white !important;

  &--error {
    background-color: $zd-color-white !important;
  }
}

.Attachment--uploading {
  background-color: transparent;
  border: #{1/$font-size}rem dashed $zd-color-iron;
}

.Attachment-preview {
  overflow: auto;
  min-height: #{32/$font-size}rem;
  height: auto;
  z-index: 2;
}

.Attachment-preview-name {
  max-width: 62%;
}

.Attachment-progress {
  z-index: 1;
  border-radius: #{4/$font-size}rem;
  background-color: rgba(69, 217, 123, 0.15);
}

.AttachmentBox {
  z-index: 100;
}

.Attachment-error {
  width: 90%;
}

.Attachment-title {
  width: 85%;
}
