/**
 * 1. Set to a very large number to give the pill shape
 */
@import '../_vars.scss';
@import '../mixins.scss';
@import '../../../node_modules/zd-css-buttons/dist/index';

$Button-baseFontSize: #{14/$font-size}rem;
$Button-nudge: 5;

.Button {
  font-size: $Button-baseFontSize;
  padding: $spacing-med $spacing-lrg;
  border-radius: #{5/$font-size}rem;
  color: $base-color;
  cursor: pointer;

  &:disabled {
    background: $inactive-color;
  }
  &.is-mobile {
    padding: #{14/$font-size}rem;
  }
}

.ButtonGroup {
  :last-child:not(:only-child) {
    margin-left: #{$Button-nudge/$font-size}rem;
  }

  [dir='rtl'] & {
    :last-child:not(:only-child) {
      margin-right: #{$Button-nudge/$font-size}rem;
      margin-left: 0;
    }
  }
}

.Button--nav {
  color: $zd-color-aluminum;
  padding-top: #{16/$font-size}rem;
  border: 0;

  &:hover, &:active {
    svg {
      fill: $icon-active-color;
    }
  }
}

/**
* ZendeskGarden style override
*/
.c-btn {
  font-size: #{13/$font-size}rem;
  padding-right: #{24/$font-size}rem;
  padding-left: #{24/$font-size}rem;
  min-width: 0;
}

.c-btn--primary {
  color: rgba($base-color, .8);
  @include text-limit(75%);

  &.is-mobile {
    @include text-limit(100%);
  }

  &:hover, &:focus, &:active {
    color: $base-color;
  }
}

.c-btn--primary--icon {
  background: $cta-color;
  color: rgba($base-color, .8);
  padding: #{11/$font-size}rem 0;
  // TODO - Fix for width for wider string translations
  min-width: #{76/$font-size}rem;
  line-height: 1;

  &:hover, &:focus, &:active {
    color: $base-color;
  }
}

.c-btn--pill {
  border-radius: 999rem !important; /* 1 */
  padding: #{7/$font-size}rem #{14/$font-size}rem;
  line-height: 1;

  &:hover, &:active {
    svg {
      fill: $icon-active-color;
    }
  }

  [dir='rtl'] & {
    padding-right: #{14/$font-size}rem !important;
    padding-left: #{9/$font-size}rem !important;
  }
}

.c-btn--secondary {
  color: $zd-color-aluminum;
  border-color: $zd-color-gainsboro !important;

  &:hover, &:active {
    color: $zd-color-dark-gray !important;
    background: $zd-color-white-smoke !important;
  }
}

.c-btn--fullWidth {
  width: 100% !important;
  max-width: 100% !important;
}
