/**
 * 1. Set to a very large number to give the pill shape
 */
@import '../_vars.scss';

$Button-baseFontSize: #{14/$font-size}rem;
$Button-nudge: 5;

.Button {
  font-size: $Button-baseFontSize;
  padding: #{14/$font-size}rem #{22/$font-size}rem;
  border-radius: #{5/$font-size}rem;
  color: $base-color;
  &:disabled {
    background: $inactive-color;
  }
  &.is-mobile {
    padding: #{14/$font-size}rem;
  }
}

.Button--cta {
  background: $cta-color;
  color: $base-color;
  border-radius: #{5/$font-size}rem;
  font-weight: 700;
  letter-spacing: 0.4;
  bottom: -5px; /* 2 */
  padding: #{12/$font-size}rem #{22/$font-size}rem #{14/$font-size}rem;
}

.Button--nav {
  color: $cta-color;
  border: 0;
}

.Button--navDesktop {
  bottom: #{6/$font-size}rem;
}

.Button--launcher {
  border-radius: 999rem; /* 1  */
  border: 0;
  bottom: 0;
  letter-spacing: 0.6;
  font-size: #{15/$font-size}rem;
}

.Button--launcherActive {
  background-color: $active-color;
  margin-right: #{$Button-nudge/$font-size}rem;
  padding: 0;
  width: #{46/$font-size}rem;
  height: #{46/$font-size}rem;
}

.Button--launcherActiveAlt {
  margin-right: 0;
  margin-left: #{$Button-nudge/$font-size}rem;
}

