/**
 * 1. Set to a very large number to give the pill shape
 */
@import '../_vars.scss';

$Button-baseFontSize: #{14/$font-size}rem;
$Button-nudge: 5;

.Button {
  font-size: $Button-baseFontSize;
  padding: $spacing-med $spacing-lrg;
  border-radius: #{5/$font-size}rem;
  color: $base-color;
  &:disabled {
    background: $inactive-color;
  }
  &.is-mobile {
    padding: #{14/$font-size}rem;
  }
}

.ButtonGroup {
  :last-child:not(:only-child) {
    margin-left: #{$Button-nudge/$font-size}rem;
  }

  [dir='rtl'] & {
    :last-child:not(:only-child) {
      margin-right: #{$Button-nudge/$font-size}rem;
      margin-left: 0;
    }
  }
}

.Button--cta {
  background: $cta-color;
  color: $base-color;
  fill: $base-color;
  border-radius: #{5/$font-size}rem;
  font-weight: 700;
  letter-spacing: 0.4;
  bottom: -5px; /* 2 */
  padding: #{12/$font-size}rem #{22/$font-size}rem #{14/$font-size}rem;
}

.Button--nav {
  color: $zendesk-color--aluminum;
  border: 0;
}

.Button--navDesktop {
  bottom: #{6/$font-size}rem;
}

.Button--launcher {
  border-radius: 999rem; /* 1 */
  border: 0;
  bottom: 0;
  letter-spacing: 0.6;
  font-size: #{15/$font-size}rem;
}

/**
* ZendeskGarden style override
*/
.c-btn--primary {
  background: $cta-color;
  color: rgba($base-color, .8);
  font-size: #{13/$font-size}rem;
  border-radius: #{4/$font-size}rem;
  padding: #{11/$font-size}rem #{24/$font-size}rem;

  &:hover, &:focus, &:active {
    color: $base-color;
  }
}

.c-btn--pill {
  color: $secondary-color;
  padding: #{7/$font-size}rem #{14/$font-size}rem !important;
  font-size: $Button-baseFontSize;
  border-radius: 999rem !important; /* 1 */

  &.is-mobile {
    border-color: $secondary-color;
  }

  &:last-child {
    padding-right: 0 !important;
  };
}

.c-btn--secondary {
  font-size: #{13/$font-size}rem;
  border-radius: #{4/$font-size}rem;
  padding: #{11/$font-size}rem #{24/$font-size}rem;
}
