/**
 * 1. Set to a very large number to give the pill shape
 */
@import '../_vars.scss';
@import '../mixins.scss';
@import '../../../node_modules/zd-css-buttons/dist/index';

$Button-baseFontSize: #{14/$font-size}rem;
$Button-nudge: 5;

.Button {
  font-size: $Button-baseFontSize;
  padding: $spacing-med $spacing-lrg;
  border-radius: #{5/$font-size}rem;
  color: $base-color;
  &:disabled {
    background: $inactive-color;
  }
  &.is-mobile {
    padding: #{14/$font-size}rem;
  }
}

.ButtonGroup {
  :last-child:not(:only-child) {
    margin-left: #{$Button-nudge/$font-size}rem;
  }

  [dir='rtl'] & {
    :last-child:not(:only-child) {
      margin-right: #{$Button-nudge/$font-size}rem;
      margin-left: 0;
    }
  }
}

.Button--cta {
  background: $cta-color;
  color: $base-color;
  fill: $base-color;
  border-radius: #{5/$font-size}rem;
  font-weight: 700;
  letter-spacing: 0.4;
  bottom: -5px; /* 2 */
  padding: #{12/$font-size}rem #{22/$font-size}rem #{14/$font-size}rem;
}

.Button--nav {
  color: $zd-color-aluminum;
  padding-top: #{16/$font-size}rem;
  border: 0;

  &:hover, &:active {
    svg {
      fill: $icon-active-color;
    }
  }
}

.Button--navDesktop {
  bottom: #{6/$font-size}rem;
}

.Button--field {
  border-top-right-radius: #{3/$font-size}rem;
  border-bottom-right-radius: #{3/$font-size}rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: #{12/$font-size}rem #{14/$font-size}rem #{8/$font-size}rem;

  [dir='rtl'] & {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: #{3/$font-size}rem;
    border-bottom-left-radius: #{3/$font-size}rem;

    margin-left: 0 !important;
    margin-right: #{10/$font-size}rem !important;
  }
}

.Button--fieldMobile {
  padding: #{14/$font-size}rem #{14/$font-size}rem #{10/$font-size}rem;
  background: $zd-color-anti-flash-white;

  &:focus, &:active {
    background: $zd-color-gainsboro !important;
  }
}

.Button--dropzone {
  padding: #{14/$font-size}rem #{10/$font-size}rem;
  color: $secondary-color;
}

.Button--icon {
  color: $zd-color-aluminum;
  padding: #{10/$font-size}rem;

  &:hover, &:focus, &:active {
    color: $zd-color-dark-gray;
    background: $zd-color-anti-flash-white;
  }
}

/**
* ZendeskGarden style override
*/
.c-btn--primary {
  background: $cta-color;
  color: rgba($base-color, .8);
  font-size: #{13/$font-size}rem;
  border-radius: #{4/$font-size}rem;
  padding: #{11/$font-size}rem #{24/$font-size}rem;
  @include text-limit(75%);

  &.is-mobile {
    @include text-limit(100%);
  }

  &:hover, &:focus, &:active {
    color: $base-color;
  }
}

.c-btn--primary--icon {
  background: $cta-color;
  color: rgba($base-color, .8);
  font-size: #{13/$font-size}rem;
  border-radius: #{4/$font-size}rem;
  padding: #{11/$font-size}rem 0;
  // TODO - Fix for width for wider string translations
  min-width: #{76/$font-size}rem;

  &:hover, &:focus, &:active {
    color: $base-color;
  }
}

.c-btn--pill {
  color: $zd-color-aluminum;
  padding: #{7/$font-size}rem #{14/$font-size}rem #{7/$font-size}rem #{14/$font-size}rem !important;
  font-size: #{13/$font-size}rem;
  border-radius: 999rem !important; /* 1 */

  &.is-mobile {
    border-color: $secondary-color;
  }

  &:hover, &:active {
    color: $zd-color-dark-gray;
    svg {
      fill: $icon-active-color;
    }
  }

  [dir='rtl'] & {
    padding-right: #{14/$font-size}rem !important;
    padding-left: #{9/$font-size}rem !important;
  }
}

.c-btn--secondary {
  font-size: #{13/$font-size}rem;
  border-radius: #{4/$font-size}rem;
  padding: #{11/$font-size}rem #{24/$font-size}rem;
}

.ButtonRating {
  border-radius: #{4/$font-size}rem;
  border: #{2/$font-size}rem solid $zd-color-gainsboro;
  height: #{34/$font-size}rem;
  line-height: #{34/$font-size}rem;
  padding: 0;
  width: #{34/$font-size}rem;

  &.is-disabled {
    color: $zd-color-iron !important;
    background-color: $zd-color-white !important;
  }

  &:hover, &:focus {
    background-color: $zd-color-white-smoke;
    border: #{2/$font-size}rem solid $zd-color-iron;
  }
}
