/**
 * 1. fallback for old android browsers
 */

@import '../_vars.scss';

$Container-spacing: 25/$font-size;

.Container {
  box-sizing: border-box;
}

.Container--popover {
  border-radius: #{8/$font-size}rem;
  box-shadow: 0 0 #{6/$font-size}rem 0 rgba($base-shadow, .1);
  background: $base-color;
}

.Container--fullscreen {
  background: $base-color;
  width: 100%;
  height: 100%;
}

.Container--fullscreen-center-vert {
  padding-top: 20%; /* 1 */
  padding-top: calc(30% - (#{40/$font-size}rem));

  @media screen and (orientation:landscape) {
    padding-top: calc(15% - (#{40/$font-size}rem));
  }
}

.Container-pullout {
  margin: (-#{$Container-spacing}rem) (-#{$Container-spacing}rem) 0;
}

.Container-bar {
  position: absolute;
  height: #{44/$font-size}rem;
  background: $form-cta-color;
  right: 0;
  left: 0;
  top: 0;
}

