@import '../_vars.scss';

$Container-spacing: 25/$font-size;
$Container--popover-arrowFullWidth: 18;
$Container--popover-arrowWidth: $Container--popover-arrowFullWidth/2;

.Container {
  padding: #{$Container-spacing}rem;
}

.Container--popover {
  border-radius: #{8/$font-size}rem;
  border: #{1/$font-size}rem solid $base-border-color;
  box-shadow: 0 0 #{6/$font-size}rem 0 rgba($base-shadow, .1);
  background: $base-color;

  &:after, &:before {
    top: 100%;
    right: #{$Container--popover-arrowFullWidth}px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: transparent;
    border-top-color: $base-color;
    border-width: #{$Container--popover-arrowWidth + 2}px #{($Container--popover-arrowWidth)}px 0;
  }

  &:before {
    border-color: transparent;
    border-top-color: $base-border-color;
    border-width: #{($Container--popover-arrowWidth) + 4}px #{($Container--popover-arrowWidth) + 2}px 0;
    right: #{($Container--popover-arrowFullWidth) - 2}px;
  }
}

.Container--fullscreen {
  background: $base-color;
  border: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.Container-pullout {
  margin: (-#{$Container-spacing}rem) (-#{$Container-spacing}rem) 0;
}

.Container-bar {
  height: #{44/$font-size}rem;
  background: #F5F5F5;
}

