/**
 * 1. fallback for old android browsers
 * 2. removes extra pixels webkit adds
 */

@import '../_vars.scss';

$Container-spacing: 25/$font-size;
$Container--popover-arrowFullWidth: 18;
$Container--popover-arrowWidth: $Container--popover-arrowFullWidth/2;

.Container {
  padding: #{$Container-spacing}rem;
}

.Container--popover {
  border-radius: #{8/$font-size}rem;
  border: #{1/$font-size}rem solid $base-border-color;
  box-shadow: 0 0 #{6/$font-size}rem 0 rgba($base-shadow, .1);
  background: $base-color;

  &:after, &:before {
    top: 100%;
    right: #{$Container--popover-arrowFullWidth}px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: transparent;
    border-top-color: $base-color;
    border-width: #{$Container--popover-arrowWidth + 2}px #{($Container--popover-arrowWidth)}px 0;
  }

  &:before {
    border-color: transparent;
    border-top-color: $base-border-color;
    border-width: #{($Container--popover-arrowWidth) + 3}px #{($Container--popover-arrowWidth) + 1}px 0;
    right: #{($Container--popover-arrowFullWidth) - 1}px;
  }
}

.Container--popoverAlt {
  &:after {
    left: #{$Container--popover-arrowFullWidth}px;
    right: auto;
  }

  &:before {
    left: #{($Container--popover-arrowFullWidth) - 1}px;
    right: auto;
  }
}

.Container--fullscreen {
  background: $base-color;
  border: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: #{$Container-spacing}rem #{18/$font-size}rem;
}

.Container--fullscreen-center-vert {
  padding-top: 40%; /* 1 */
  padding-top: calc(50% - (#{40/$font-size}rem));
}

.Container-pullout {
  margin: (-#{$Container-spacing}rem) (-#{$Container-spacing}rem) 0;
  -webkit-margin-before: -#{24/$font-size}rem; /* 2 */
  -webkit-margin-end: -#{23/$font-size}rem; /* 2 */

  [dir='rtl'] & {
    -webkit-margin-end: -#{25/$font-size}rem;
    -webkit-margin-start: -#{23/$font-size}rem;
  }
}

.Container-bar {
  position: absolute;
  height: #{44/$font-size}rem;
  background: #F5F5F5;
  right: 0;
  left: 0;
  top: 0;
}

