/**
 * 1. fallback for old android browsers
 * 2. fix big margin-top in landscape
 * 3. fix margin-top for box-shadow
 */

@import '../_vars.scss';

$Container-spacing: 25/$font-size;

.Container {
  box-sizing: border-box;
}

.Container--popover {
  border-radius: #{8/$font-size}rem;
  box-shadow: 0 0 #{6/$font-size}rem 0 rgba($base-shadow, .2);
  background: rgba($base-color, .98)
}

.Container--fullscreen {
  background: $base-color;
  width: 100%;
  height: 100%;
}

.Container--card {
  border-radius: #{5/$font-size}rem;
  box-shadow: 0 #{$thin-border-size/$font-size}rem #{4/$font-size}rem 0 rgba($base-shadow, .3);
  background: rgba($base-color, .98);
  max-width: #{620/$font-size}rem;
  min-width: #{400/$font-size}rem;
  padding: #{30/$font-size}rem #{40/$font-size}rem 0;
}

.Container--fullscreen--nps {
  background: $base-color;
  width: 100%;
  height: 100%;
  margin-top: #{4/$font-size}rem;
}

.Container--fullscreen-center-vert {
  padding-top: 20%; /* 1 */
  padding-top: calc(30% - (#{40/$font-size}rem));

  /* 2 */
  @media screen and (orientation: landscape) {
    padding-top: calc(10% - (#{40/$font-size}rem));
  }
}

.Container-pullout {
  margin: (-#{$Container-spacing}rem) (-#{$Container-spacing}rem) 0;
}

.Container-bar {
  position: absolute;
  height: #{44/$font-size}rem;
  background: $form-cta-color;
  right: 0;
  left: 0;
  top: 0;
}

.Container--halfscreen {
  box-shadow: 0 0 #{4/$font-size}rem 0 rgba(0, 0, 0, 0.12);
  height: 98%; /* 3 */
  margin-top: #{4/$font-size}rem;
}

.Container--halfscreen-heading {
  height: 0;
  padding-bottom: #{24/$font-size}rem !important;
  padding-top: #{12/$font-size}rem !important;
}

.Container--overlay {
  width: calc(#{$container-width} - $spacing-lrg);
  height: calc(#{$container-height} - $spacing-lrg);
  background-color: $zendesk-color--white-smoke;
  opacity: 0.8;
}

.Container--dashed {
  border-width: #{2/$font-size}rem;
  border-color: $base-border-color;
  border-style: dashed;
  border-radius: #{5/$font-size}rem;
}
