@import '../_vars.scss';

$Form-spacing: 10px;
$Form-field-border-radius: 4px;

@mixin error-state($thickness) {
  border: $thickness solid $error-color;
}

.Form {
  margin: 0;
}

.Form-legend {
  font-size: #{14/$font-size}rem;
}

.rf-Fieldset {
}

.rf-Field {
  margin-bottom: #{18/$font-size}rem;
  background: $base-color;
  border: 1px solid $stroke-color;
  border-radius: $Form-field-border-radius;
  padding: $Form-spacing;
  color: $secondary-color;

  textarea, input {
    border: none;
    background: none;
    resize: none;
    color: $body-color;
    font-size: #{13/$font-size}rem;

    &:focus {
      appearance: none;
      outline: none;
    }
  }
}

.rf-Field--focused {
  border: 1px solid $cta-color;

  &.rf-Field--dirty.rf-Field--invalid {
    @include error-state(1px);
  }
}

.rf-Field--blurred.rf-Field--invalid {
  @include error-state(1px);
}

.rf-Field__label {
  margin-bottom: $Form-spacing;
  font-weight: 700;
  display: block;
}
