/**
 * 1. because safari 8 is dumb and rounds 1/12 to .083rem
 *    which computes to 0.9999px & borders can't be sub pixel
 *    we boost the calculation to do 1.1/12
 */

@import '../_vars.scss';

$Form-stroke: #{1.1/$font-size}rem; /* 1 */
$Form-spacing: #{10/$font-size}rem;
$Form-gutter: #{15/$font-size}rem;
$Form-fontSize: #{13/$font-size}rem;

@mixin error-state($thickness) {
  border: #{$thickness/$font-size}rem solid $error-color;
}

.Form {
  margin: 0;
}

.rf-Form {
  margin-bottom: #{14/$font-size}rem;
}

.Form-cta {
  border-radius: #{8/$font-size}rem #{8/$font-size}rem 0 0;
  padding: #{25/$font-size}rem #{25/$font-size}rem #{28/$font-size}rem;
}

.Form-cta--bar {
  border-radius: #{8/$font-size}rem #{8/$font-size}rem 0 0;
  padding: #{20/$font-size}rem #{25/$font-size}rem;
  background: $form-cta-color;
  border-bottom: #{1/$font-size}rem solid $base-border-color;
}

.Form-cta--barTitle {
  padding: #{35/$font-size}rem #{25/$font-size}rem;
}

.Form-cta--legend {
  top: #{12/$font-size}rem;
}

.Form-cta--barFullscreen {
  padding-top: #{18/$font-size}rem;
}

.Form-cta--title {
  margin-top: #{24/$font-size}rem;
}

.rf-Field {
  margin-bottom: $Form-gutter;
  background: $base-color;
  border: $Form-stroke solid $stroke-color;
  border-radius: #{4/$font-size}rem;
  padding: $Form-spacing;
  color: $secondary-color;

  textarea, input, select {
    border: none;
    background: none;
    resize: none;
    color: $body-color;
    font-size: $Form-fontSize;

    &:focus {
      appearance: none;
      outline: none;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.rf-Field--search {
  padding: #{11/$font-size}rem $Form-spacing;
  height: 48px;
}

.rf-Field--focused {
  border: $Form-stroke solid $stroke-focused-color;

  &.rf-Field--dirty.rf-Field--invalid {
    @include error-state(1.1);
  }

  > .Icon--search {
    color: $cta-color;
  }
}

.rf-Field--dropdown {
  padding-left: #{2/$font-size}rem;
}

.rf-CheckboxGroup__caption {
  padding-left: #{12/$font-size}rem;
  font-size: $Form-fontSize;
}

.rf-Field--blurred.rf-Field--invalid {
  @include error-state(1.1);
}

.rf-Field__label {
  margin-bottom: $Form-spacing;
  font-weight: 700;
  display: block;
}
