/**
 * 1. width is set here to avoid mobile browser zooming.
 *    the actual value of the width is the full length of the
 *    field minus the size of the icon.
 */

@import '../_vars.scss';

@font-face {
  font-weight: normal;
  font-style: normal;
}

$Form-spacing: #{10/$font-size}rem;
$Form-gutter: #{15/$font-size}rem;
$Form-fontSize: #{13/$font-size}rem;

@mixin error-state($thickness) {
  border: $thickness solid $error-color;
}

.Form {
  margin: 0;
}

.rf-Form, .form-group {
  margin-bottom: #{14/$font-size}rem;
}

.Form-cta--bar {
  border-radius: #{8/$font-size}rem #{8/$font-size}rem 0 0;
  padding: #{19/$font-size}rem #{25/$font-size}rem;
  background: $form-cta-color;
  border-bottom: $thin-border-size solid $base-border-color;
}

.Form-cta--barFullscreen {
  padding-top: #{18/$font-size}rem;
}

.Form-ctaLegend {
  top: #{13/$font-size}rem;
}

.Form-fieldContainer {
  margin-bottom: $spacing-lrg;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.Form-field {
  background: $base-color;
  border: $thin-border-size solid $stroke-color;
  border-radius: #{4/$font-size}rem;
  padding: #{9/$font-size}rem $spacing-sml $spacing-sml;
  color: $secondary-color;

  textarea, input, select {
    border: none;
    background: none;
    resize: none;
    color: $body-color;
    font-size: $Form-fontSize;
    width: 100%;
    padding: 0;

    &:focus {
      appearance: none;
      outline: none;
    }
  }

  textarea {
    height: #{78/$font-size}rem;
  }
}

.Form-field--small {
  padding: #{4/$font-size}rem $spacing-sml #{4/$font-size}rem;
}

.Form-checkbox {
  width: #{14/$font-size}rem;
  height: #{14/$font-size}rem;
  background-color: $base-color;
  border: $thin-border-size solid $stroke-color;
  border-radius: #{4/$font-size}rem;
  margin-right: #{10/$font-size}rem;
  top: #{1/$font-size}rem;

  .Icon--check {
    visibility: hidden;
  }
}

.Form-checkboxInput {
  width: #{14/$font-size}rem;
  height: #{14/$font-size}rem;
}

.Form-checkboxInput:checked + .Form-checkbox .Icon--check {
  visibility: visible;
}

.Form-fieldArrows {
  position: absolute;
  right: #{14/$font-size}rem;
  top: #{13/$font-size}rem;
  pointer-events: none;
}

.Form-field--search {
  padding: #{11/$font-size}rem $Form-spacing;
  height: #{43/$font-size}rem;

  .Form-checkboxCaption {
    font-size: #{15/$font-size}rem;
  }

  &.is-mobile {
    input:not([type="checkbox"]), textarea, select {
      width: calc(100% - #{40/$font-size}rem); /* 1 */
    }
  }
}

.Form-field--focused,
.Form-field:hover,
.Form-checkboxInput--focused + .Form-checkbox {
  border: $thin-border-size solid $stroke-focused-color;

  > .Icon--search {
    color: $cta-color;
  }
}

.Form-field--invalid,
.Form-field--invalid:hover,
.Form-checkboxInput--invalid + .Form-checkbox {
  @include error-state($thin-border-size);
}

.Form-field--clean,
.Form-field--clean:hover {
  border: none;
  padding: 0;
}

.Form-field--dropdown {
  padding-left: #{12/$font-size}rem;
}

.Form-checkboxCaption {
  font-size: $Form-fontSize;
  color: $body-color;
}

.Form-field--blurred.Form-field--invalid {
  @include error-state($thin-border-size);
}

.Form-fieldLabel {
  margin-bottom: #{7/$font-size}rem;
  font-weight: 700;
  display: block;
  color: $zendesk-color--aluminum;
}
