/**
 * 1. Set min-width for old browsers that don't load icons
 *    before launcher is loaded so calculate iframe size wrong.
 */
@import '../_vars.scss';

@font-face {
  font-family: 'embed-font-5';
  src:url('../../asset/font/embed-font-5.eot') format('embedded-opentype'),
      url('../../asset/font/embed-font-5.woff') format('woff'),
      url('../../asset/font/embed-font-5.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Icon {
  font-family: 'embed-font-5';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  min-width: #{20/$font-size}rem; /* 1 */
  width: #{20/$font-size}rem;
  line-height: 1;
  padding-right: #{8/$font-size}rem;
  font-size: #{20/$font-size}rem;
  color: $icon-color;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.Icon--help {
  padding-right: #{5/$font-size}rem;
}

.Icon--active {
  padding-right: 0;
  height: #{50/$font-size}rem;
  width: #{50/$font-size}rem;
  font-size: #{16/$font-size}rem;
  line-height: #{50/$font-size}rem;
}

.Icon:before {
  content: '\e603';
}

.Icon--chat:before {
  content: '\e600';
}

.Icon--mail:before {
  content: '\e602';
}

.Icon--avatar:before {
  content: '\e605';
}

.Icon--msg:before {
  content: '\e604';
}

.Icon--search:before {
  content: '\e609';
}

.Icon--cross {
  padding-right: 0;

  &:before {
    content: '\e601';
  }
}

.Icon--tick {
  border: #{1/$font-size}rem solid $icon-color;
  padding: #{20/$font-size}rem;
  margin-bottom: #{15/$font-size}rem;
  border-radius: 50%;
  color: $cta-color;

  &:before {
    content: '\e606';
  }
}

.Icon--zendesk {
  width: auto;
  bottom: 0;

  &:hover, &:active, &:focus {
    color: $cta-color;
  }

  &:before {
    content: '\e608';
    font-size: #{60/$font-size}rem;
  }
}
