/**
 * 1. Set min-width for old browsers that don't load icons
 *    before launcher is loaded so calculate iframe size wrong.
 * 2. Set to 50% to create circle
 * 3. Clip whitespace so that onHover effects don't trigger
 *    above and below the icon.
 */
@import '../_vars.scss';

@font-face {
  font-family: 'icomoon';
  src:url('../../asset/font/icomoon.eot') format('embedded-opentype'),
      url('../../asset/font/icomoon.woff') format('woff'),
      url('../../asset/font/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  min-width: #{20/$font-size}rem; /* 1 */
  width: #{20/$font-size}rem;
  line-height: 1;
  padding-right: #{12/$font-size}rem;
  font-size: #{20/$font-size}rem;
  color: $icon-color;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.Icon--launcher {
  padding-right: #{8/$font-size}rem;
}

.Icon--active {
  padding-right: 0;
  height: #{50/$font-size}rem;
  width: #{50/$font-size}rem;
  font-size: #{16/$font-size}rem;
  line-height: #{50/$font-size}rem;
}

.Icon:before {
  content: '\e603';
}

.Icon--chat:before {
  content: '\e600';
}

.Icon--mail:before {
  padding-left: #{4/$font-size}rem;;
  content: '\e602';
}

.Icon--avatar:before {
  padding-left: #{4/$font-size}rem;;
  content: '\e605';
}

.Icon--msg:before {
  padding-left: #{4/$font-size}rem;;
  content: '\e604';
}

.Icon--arrow {
  font-size: #{12/$font-size}rem;
  padding-right: #{3/$font-size}rem;
  color: $cta-color;

  &:before {
    content: '\e610';
  }
}

.Icon--search {
  height: #{14/$font-size}rem;
  width: #{14/$font-size}rem;
  font-size: #{14/$font-size}rem;
  padding: 0;
  padding-left: 6px;
  padding-right: 3px;

  &:before {
    content: '\e609';
  }
}

.Icon--cross {
  padding-right: 0;

  &:before {
    content: '\e601';
  }
}

.Icon--close {
  @extend .Icon--cross;

  font-size: #{12/$font-size}rem;
  padding-left: #{5/$font-size}rem;
  color: $cta-color;
}

.Icon--clearInput {
  @extend .Icon--cross;

  height: #{16/$font-size}rem;
  width: #{16/$font-size}rem;
  min-width: #{16/$font-size}rem;
  line-height: #{16/$font-size}rem;
  font-size: #{8/$font-size}rem;
  background: $stroke-color;
  color: $base-color;
  border-radius: 50%; /* 2  */
}

.Icon--tick {
  border: #{1/$font-size}rem solid $icon-color;
  padding: #{20/$font-size}rem;
  margin-bottom: #{20/$font-size}rem;
  border-radius: 50%;
  color: $cta-color;

  &:before {
    content: '\e606';
  }
}

.Icon--zendesk {
  width: auto;
  color: $icon-inactive-color;
  padding-left: 5px;
  bottom: -5;
  clip: rect(20px, 80px, 40px, 0px); /* 3 */

  &:hover, &:active, &:focus {
    color: $cta-color;
  }

  &:before {
    content: '\e608';
    font-size: #{60/$font-size}rem;
  }
}
