/**
 * 1. Set min-width for old browsers that don't load icons
 *    before launcher is loaded so calculate iframe size wrong.
 * 2. Set to 50% to create circle
 * 3. Clip whitespace so that onHover effects don't trigger
 *    above and below the icon.
 * 4. removes extra pixels webkit adds
 */
@import '../_vars.scss';

.Icon {
  padding-right: #{12/$font-size}rem;

  [dir='rtl'] & {
    padding-right: 0;
    padding-left: #{12/$font-size}rem;
  }

  svg {
    min-width: #{20/$font-size}rem; /* 1 */
    min-height: #{20/$font-size}rem; /* 1 */
    height: #{20/$font-size}rem;
    width: #{20/$font-size}rem;
  }
}

.Icon--search {
  padding-left: #{6/$font-size}rem;
  padding-right: #{8/$font-size}rem;

  [dir='rtl'] & {
    padding-left: #{3/$font-size}rem;
    padding-right: #{6/$font-size}rem;
  }

  svg {
    fill: $icon-inactive-color;
    min-width: #{14/$font-size}rem; /* 1 */
    min-height: #{14/$font-size}rem; /* 1 */
    height: #{14/$font-size}rem;
    width: #{14/$font-size}rem;
  }
}

.Icon--form {
  svg {
    min-width: #{16/$font-size}rem; /* 1 */
    min-height: #{16/$font-size}rem; /* 1 */
    height: #{16/$font-size}rem;
    width: #{16/$font-size}rem;
  }
}

.Icon--zendesk {
  top: #{10/$font-size}rem;

  margin-left: #{4/$font-size}rem;
  margin-right: #{13/$font-size}rem;

  [dir='rtl'] & {
    padding-left: #{3/$font-size}rem;
    padding-right: #{6/$font-size}rem;
  }

  svg {
    min-width: #{50/$font-size}rem; /* 1 */
    width: #{50/$font-size}rem;

    &:hover, &:active, &:focus {
      path {
        fill: $zd-color-algae;
      }
    }

    path {
      fill: $zd-color-iron;
    }
  }
}

.Icon--close {
  padding: 0;

  &.is-mobile {
    display: block;
    margin-top: #{2/$font-size}rem;
  }

  svg {
    fill: $icon-inactive-color;
    min-width: #{10/$font-size}rem; /* 1 */
    min-height: #{10/$font-size}rem; /* 1 */
    height: #{10/$font-size}rem;
    width: #{10/$font-size}rem;
  }
}

.Icon--back {
  display: block;
  margin-top: #{-2/$font-size}rem;

  &.is-mobile {
    margin-top: 0;
    padding-left: #{1/$font-size}rem;;
  }

  svg {
    fill: $icon-inactive-color;
    min-width: #{14/$font-size}rem; /* 1 */
    min-height: #{14/$font-size}rem; /* 1 */
    height: #{14/$font-size}rem;
    width: #{14/$font-size}rem;
  }
}

.Icon--link {
  padding-left: #{7/$font-size}rem !important;
  padding-right: 0 !important;

  svg {
    fill: $icon-inactive-color;
    min-width: #{8/$font-size}rem; /* 1 */
    min-height: #{8/$font-size}rem; /* 1 */
    height: #{8/$font-size}rem;
    width: #{8/$font-size}rem;
  }
}

.Icon--paperclip-small {
  padding-right: #{5/$font-size}rem;

  svg {
    fill: $icon-inactive-color;
    min-width: #{16/$font-size}rem; /* 1 */
    min-height: #{16/$font-size}rem; /* 1 */
    height: #{16/$font-size}rem;
    width: #{16/$font-size}rem;
  }
}

.Icon--paperclip-medium {
  padding-right: 0;

  svg {
    fill: $icon-inactive-color;
    min-width: #{36/$font-size}rem; /* 1 */
    min-height: #{36/$font-size}rem; /* 1 */
    height: #{36/$font-size}rem;
    width: #{36/$font-size}rem;
  }
}

.Icon--paperclip-large {
  padding-right: 0;

  svg {
    fill: $icon-inactive-color;
    min-width: #{36/$font-size}rem; /* 1 */
    min-height: #{36/$font-size}rem; /* 1 */
    height: #{36/$font-size}rem;
    width: #{36/$font-size}rem;
  }
}

.Icon--tick {
  border: #{2/$font-size}rem solid $icon-color;
  padding: $spacing-lrg;
  width: #{68/$font-size}rem;
  height: #{68/$font-size}rem;
  box-sizing: border-box;
  border-radius: 50%;
  margin-bottom: #{9/$font-size}rem;

  [dir='rtl'] & {
    padding: $spacing-lrg;
  }

  svg {
    fill: $cta-color;
    min-width: #{24/$font-size}rem; /* 1 */
    min-height: #{18/$font-size}rem; /* 1 */
    width: #{24/$font-size}rem;
    height: #{18/$font-size}rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.Icon--tick-inline {
  padding-right: #{8/$font-size}rem;

  svg {
    fill: $zd-color-white;
    min-width: #{12/$font-size}rem;
    min-height: #{9/$font-size}rem;
    width: #{12/$font-size}rem;
    height: #{9/$font-size}rem;
  }
}

.Icon--check {
  svg {
    fill: $secondary-color;
    margin-left: #{2/$font-size}rem;
    margin-top: #{2/$font-size}rem;
    min-width: #{10/$font-size}rem; /* 1 */
    min-height: #{10/$font-size}rem; /* 1 */
    height: #{10/$font-size}rem;
    width: #{10/$font-size}rem;
  }

  [dir='rtl'] & {
    padding-left: 0;
    padding-right: $spacing-tny;
  }
}

.Icon--caret {
  svg {
    fill: $secondary-color;
    min-width: #{7/$font-size}rem; /* 1 */
    min-height: #{7/$font-size}rem; /* 1 */
    height: #{7/$font-size}rem;
    width: #{7/$font-size}rem;
    padding: 0;
  }
}

.Icon--dropdownArrow {
  display: block;
  width: 0;
  height: 0;
  border-left: $spacing-tny solid transparent;
  border-right: $spacing-tny solid transparent;
  border-bottom: $spacing-tny solid $icon-color;
  margin-bottom: #{3/$font-size}rem;
}

.Icon--dropdownArrowBottom {
  border-top: $spacing-tny solid $icon-color;
  border-bottom: 0;
  margin-bottom: 0;
}

.Icon--avatar {
  box-sizing: border-box;

  svg {
    fill: $cta-color;
    color: #999;
    min-width: #{26/$font-size}rem; /* 1 */
    min-height: #{26/$font-size}rem; /* 1 */
    height: #{26/$font-size}rem;
    width: #{26/$font-size}rem;
    padding: 0;
    display: inline-block;
    position: relative;
    top: 50%;
    margin-top: -#{14/$font-size}rem;
    margin-left: -#{1/$font-size}rem;
  }
}

.Icon--clearInput {
  display: block;
  padding-left: $spacing-tny;
  padding-right: 0;

  svg {
    min-width: #{16/$font-size}rem;
    min-height: #{16/$font-size}rem;
    width: #{16/$font-size}rem;
    height: #{16/$font-size}rem;
  }

  [dir='rtl'] & {
    padding-left: 0;
  }
}

.Icon--preview {
  padding-right: #{8/$font-size}rem;
  margin-top: #{4/$font-size}rem;

  svg {
    min-width: #{24/$font-size}rem; /* 1 */
    min-height: #{24/$font-size}rem; /* 1 */
    height: #{24/$font-size}rem;
    width: #{24/$font-size}rem;
  }
}

.Icon--preview-close {
  position: absolute;
  top: 50%;
  right: #{5/$font-size}rem;
  margin-top: #{-3.5/$font-size}rem !important;

  svg {
    fill: $icon-inactive-color;
    min-width: #{7/$font-size}rem; /* 1 */
    min-height: #{7/$font-size}rem; /* 1 */
    height: #{7/$font-size}rem;
    width: #{7/$font-size}rem;
  }
}

.Icon--article {
  box-sizing: border-box;

  svg {
    fill: $cta-color;
    color: #999;
    padding: 0;
    display: inline-block;
    position: relative;
    top: 50%;
    min-width: #{23/$font-size}rem;
    min-height: #{23/$font-size}rem;
    height: #{23/$font-size}rem;
    width: #{23/$font-size}rem;
    margin-top: -#{12/$font-size}rem;
    margin-left: #{1/$font-size}rem;
  }
}
