/**
 * 1. Set min-width for old browsers that don't load icons
 *    before launcher is loaded so calculate iframe size wrong.
 * 2. Set to 50% to create circle
 * 3. Clip whitespace so that onHover effects don't trigger
 *    above and below the icon.
 * 4. removes extra pixels webkit adds
 */
@import '../_vars.scss';

.Icon {
  padding-right: #{12/$font-size}rem;

  [dir='rtl'] & {
    padding-right: 0;
    padding-left: #{12/$font-size}rem;
  }

  svg {
    min-width: #{20/$font-size}rem; /* 1 */
    min-height: #{20/$font-size}rem; /* 1 */
    height: #{20/$font-size}rem;
    width: #{20/$font-size}rem;
  }
}

.Icon--search {
  svg {
    fill: $zd-color-grey-400;
    min-width: #{14/$font-size}rem; /* 1 */
    min-height: #{14/$font-size}rem; /* 1 */
    height: #{14/$font-size}rem;
    width: #{14/$font-size}rem;
  }
}

.Icon--zendesk {
  top: #{10/$font-size}rem;

  margin-left: #{4/$font-size}rem;
  margin-right: #{13/$font-size}rem;

  [dir='rtl'] & {
    padding-left: #{3/$font-size}rem;
    padding-right: #{6/$font-size}rem;
  }

  svg {
    min-width: #{50/$font-size}rem; /* 1 */
    min-height: #{30/$font-size}rem; /* 1 */
    width: #{50/$font-size}rem;
    height: #{30/$font-size}rem;

    &:hover, &:active, &:focus {
      path {
        fill: $zd-color-grey-600;
      }
    }

    path {
      fill: $zd-color-grey-500;
    }
  }
}

.Icon--close {
  padding: 0;

  &.is-mobile {
    display: block;
    margin-top: #{2/$font-size}rem;
  }

  svg {
    fill: $zd-color-grey-400;
    min-width: #{10/$font-size}rem; /* 1 */
    min-height: #{10/$font-size}rem; /* 1 */
    height: #{10/$font-size}rem;
    width: #{10/$font-size}rem;
  }
}

.Icon--dash {
  display: block;
  padding-bottom: #{5/$font-size}rem !important;
  padding-top: #{5/$font-size}rem !important;

  &.is-mobile {
    display: block;
    margin-top: #{2/$font-size}rem;
  }

  svg {
    min-width: #{12/$font-size}rem; /* 1 */
    min-height: #{2/$font-size}rem; /* 1 */
    height: #{2/$font-size}rem;
    width: #{12/$font-size}rem;
  }
}

.Icon--back {
  display: block;
  margin-top: #{-2/$font-size}rem;

  &.is-mobile {
    margin-top: 0;
    padding-left: #{1/$font-size}rem;
  }

  svg {
    stroke: none;
    min-width: #{14/$font-size}rem; /* 1 */
    min-height: #{14/$font-size}rem; /* 1 */
    height: #{14/$font-size}rem;
    width: #{14/$font-size}rem;
  }
}

.Icon--arrow-down {
  position: relative;
  top: #{1/$font-size}rem;
  padding-left: #{5/$font-size}rem !important;

  svg {
    fill: $zd-color-grey-800;
    min-width: #{12/$font-size}rem; /* 1 */
    min-height: #{12/$font-size}rem; /* 1 */
    height: #{12/$font-size}rem;
    width: #{12/$font-size}rem;
  }

  [dir='rtl'] & {
    padding-left: 0 !important;
    padding-right: #{5/$font-size}rem !important;
  }
}

.Icon--paperclip-small {
  padding-right: #{5/$font-size}rem;

  svg {
    min-width: #{16/$font-size}rem; /* 1 */
    min-height: #{16/$font-size}rem; /* 1 */
    height: #{16/$font-size}rem;
    width: #{16/$font-size}rem;

    path {
      transform-origin: center;
      transform: rotate(45deg);
    }
  }
}

.Icon--paperclip-large {
  padding-right: 0;

  svg {
    min-width: #{36/$font-size}rem; /* 1 */
    min-height: #{36/$font-size}rem; /* 1 */
    height: #{36/$font-size}rem;
    width: #{36/$font-size}rem;
    transform: rotate(45deg) scaleX(-1);
  }
}

.Icon--tick {
  border: #{2/$font-size}rem solid $zd-color-grey-300;
  padding: $spacing-lrg;
  width: #{68/$font-size}rem;
  height: #{68/$font-size}rem;
  box-sizing: border-box;
  border-radius: 50%;
  margin-bottom: #{35/$font-size}rem;

  [dir='rtl'] & {
    padding: $spacing-lrg;
  }

  svg {
    fill: $cta-color;
    min-width: #{24/$font-size}rem; /* 1 */
    min-height: #{18/$font-size}rem; /* 1 */
    width: #{24/$font-size}rem;
    height: #{18/$font-size}rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.Icon--check {
  svg {
    fill: $secondary-color;
    margin-left: #{2/$font-size}rem;
    margin-top: #{2/$font-size}rem;
    min-width: #{10/$font-size}rem; /* 1 */
    min-height: #{10/$font-size}rem; /* 1 */
    height: #{10/$font-size}rem;
    width: #{10/$font-size}rem;
  }

  [dir='rtl'] & {
    padding-left: 0;
    padding-right: #{2/$font-size}rem;
  }
}

.Icon--avatar {
  box-sizing: border-box;

  svg {
    fill: $zd-color-white;
    color: $zd-color-white;
    min-width: #{15/$font-size}rem; /* 1 */
    min-height: #{15/$font-size}rem; /* 1 */
    height: #{15/$font-size}rem;
    width: #{15/$font-size}rem;
    padding: #{8/$font-size}rem 0 0;
    display: inline-block;
    position: relative;
  }
}

.Icon--clearInput {
  display: block;
  padding-left: $spacing-tny;
  padding-right: 0;

  svg {
    min-width: #{16/$font-size}rem;
    min-height: #{16/$font-size}rem;
    width: #{16/$font-size}rem;
    height: #{16/$font-size}rem;
  }

  [dir='rtl'] & {
    padding-left: 0;
  }
}

.Icon--ellipsis {
  padding-right: 0;

  svg {
    padding: #{5/$font-size}rem;
    border-radius: #{4/$font-size}rem;

    min-width: #{14/$font-size}rem;
    min-height: #{14/$font-size}rem;
    width: #{14/$font-size}rem;
    height: #{14/$font-size}rem;
  }
}

.Icon--preview {
  padding-right: #{8/$font-size}rem;
  margin-top: #{4/$font-size}rem;

  [dir='rtl'] & {
    padding-left: #{8/$font-size}rem;
    padding-right: 0;
  }

  svg {
    min-width: #{24/$font-size}rem; /* 1 */
    min-height: #{24/$font-size}rem; /* 1 */
    height: #{24/$font-size}rem;
    width: #{24/$font-size}rem;
  }
}

.Icon--preview-close {
  position: absolute;
  top: 50%;
  right: #{5/$font-size}rem;
  margin-top: #{-18/$font-size}rem !important;

  svg {
    fill: $zd-color-grey-500;
    min-width: #{7/$font-size}rem; /* 1 */
    min-height: #{7/$font-size}rem; /* 1 */
    height: #{7/$font-size}rem;
    width: #{7/$font-size}rem;
  }
}

.Icon--preview-default {
  path {
    fill: $zd-color-algae;
  }
}

.Icon--preview-pdf {
  path {
    fill: $zd-color-razzmatazz;
  }
}
.Icon--preview-presentation {
  path {
    fill: $zd-color-orange-peel;
  }
}
.Icon--preview-spreadsheet {
  path {
    fill: $zd-color-chateau-green;
  }
}
.Icon--preview-document {
  path {
    fill: $zd-color-cool-blue;
  }
}
.Icon--preview-image {
  path {
    fill: $zd-color-persian-green;
  }
}
.Icon--preview-zip {
  path {
    fill: $zd-color-algae;
  }
}
.Icon--preview-error {
  path {
    fill: $zd-color-grey-300;
  }
}

.Icon--error-fill {
  path {
    fill: $error-color;
  }
}

.Icon--checkmark-fill {
  path {
    fill: $zd-color-green-500;
  }
  svg {
    min-width: #{15/$font-size}rem;
    min-height: #{15/$font-size}rem;
    height: #{15/$font-size}rem;
    width: #{15/$font-size}rem;
  }
}

.Icon--remove {
  path {
    fill: $zd-color-grey-500;
  }
}

.Icon--menu {
  svg {
    min-width: #{13/$font-size}rem;
    min-height: #{13/$font-size}rem;
    height: #{13/$font-size}rem;
    width: #{13/$font-size}rem;
  }
}

.Icon--facebook {
  svg {
    min-width: #{15/$font-size}rem;
    min-height: #{15/$font-size}rem;
    max-width: #{15/$font-size}rem;
    max-height: #{15/$font-size}rem;
    height: #{15/$font-size}rem;
    width: #{15/$font-size}rem;

    path {
      fill: $facebook-blue;
    }
  }
}

.Icon--google {
  svg {
    min-width: #{15/$font-size}rem;
    min-height: #{15/$font-size}rem;
    max-height: #{15/$font-size}rem;
    max-width: #{15/$font-size}rem;
    height: #{15/$font-size}rem;
    width: #{15/$font-size}rem;

    path {
      fill: $google-plus-red;
    }
  }
}

.Icon--trash-fill {
  svg {
    min-width: #{15/$font-size}rem;
    min-height: #{15/$font-size}rem;
    max-height: #{15/$font-size}rem;
    max-width: #{15/$font-size}rem;
    height: #{15/$font-size}rem;
    width: #{15/$font-size}rem;
  }
}

.Icon--success-contactForm {
  svg {
    min-width: #{160/$font-size}rem;
    width: #{160/$font-size}rem;
  }
}

.Icon--success-talk {
  svg {
    min-width: #{160/$font-size}rem;
    width: #{160/$font-size}rem;
  }
}

.Icon--talk {
  svg {
    min-width: #{50/$font-size}rem;
    min-height: #{50/$font-size}rem;
    height: #{50/$font-size}rem;
    width: #{50/$font-size}rem;
  }
}

.Icon--agent-avatar {
  svg rect {
    fill: $zd-color-grey-500;
  }
}
