@import '../_vars.scss';

.List {
  padding: #{8/$font-size}rem 0 #{17/$font-size}rem #{24/$font-size}rem;
  font-size: #{17/$font-size}rem;
  border-bottom: #{1/$font-size}rem solid $base-border-color;

  [dir="rtl"] & {
    padding-right: #{24/$font-size}rem;
    padding-left: 0;
  }
}

.List-item {
  color: $list-color;
  list-style: decimal;
  font-size: #{13/$font-size}rem;
  margin-bottom: #{7/$font-size}rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.List--fullscreen {
  padding: #{8/$font-size}rem 0 0 #{24/$font-size}rem;
}

.List--noResults {
  margin-bottom: #{14/$font-size}rem !important;
}

.RatingsList {
  padding-bottom: #{5/$font-size}rem;
}

.RatingsList-item {
  margin: 0.3rem;
}

.RatingsList-btn {
  border-radius: #{4/$font-size}rem;
  border: #{2/$font-size}rem solid $zendesk-color--gainsboro;
  height: #{34/$font-size}rem;
  line-height: #{34/$font-size}rem;
  width: #{34/$font-size}rem;

  &:hover, &:focus {
    background-color: $zendesk-color--white-smoke;
    border: #{2/$font-size}rem solid $zendesk-color--iron;
  }
}

.RatingsList-spinner {
  border-color: $zendesk-color--white;
  margin-top: #{9/$font-size}rem;
}

.RatingsList-legend {
  color: $zendesk-color--aluminum;
}

.RatingsList-legend-text {
  width: 50%;
}
