@import '../_vars.scss';

.RatingsList {
  &.is-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: #{12/$font-size}rem 0 #{14/$font-size}rem;
  }
}

.RatingsList-item {
  margin: 0.3rem;
}

.RatingsList-btn {
  border-radius: #{4/$font-size}rem;
  border: #{2/$font-size}rem solid $zd-color-gainsboro;
  height: #{34/$font-size}rem;
  line-height: #{34/$font-size}rem;
  width: #{34/$font-size}rem;

  &:hover, &:focus {
    background-color: $zd-color-white-smoke;
    border: #{2/$font-size}rem solid $zd-color-iron;
  }
}

.RatingsList-spinner {
  margin-top: #{7/$font-size}rem;
}

.RatingsList-legend {
  color: $zd-color-aluminum;
}
