/**
 * 1. Prevent first frame from flickering when animation starts
 */
@import '../_vars.scss';

.Loading {

}

.Loading-item {
  width: #{6/$font-size}rem;
  height: #{6/$font-size}rem;
  background-color: $cta-color;

  border-radius: 100%;
  animation: Bounce-delay 1.2s infinite ease-in-out;
  animation-fill-mode: both; /* 1 */
}

.Loading-item1 {
  animation-delay: -0.32s;
}

.Loading-item2 {
  animation-delay: -0.16s;
}
