/**
 * 1. Prevent first frame from flickering when animation starts
 */
@import '../_vars.scss';

.LoadingEllipses {
  min-width: #{20/$font-size}rem;
}

.LoadingEllipses-item {
  width: #{6/$font-size}rem;
  height: #{6/$font-size}rem;
  background-color: $cta-color;

  border-radius: 100%;
  animation-fill-mode: both; /* 1 */
}

.LoadingEllipses-item--fade {
  animation: Fade-delay 1.2s infinite ease-in-out;
}

.LoadingEllipses-item--bounce {
  animation: Bounce-delay 1.2s infinite ease-in-out;
}

.LoadingEllipses-item:nth-child(1) {
  animation-delay: -0.32s;
}

.LoadingEllipses-item:nth-child(2) {
  animation-delay: -0.16s;
}

.LoadingSpinner {
  background: transparent !important;
  border-bottom-color: transparent !important;
  border: #{2/$font-size}rem solid;
  height: #{12/$font-size}rem;
  width: #{12/$font-size}rem;

  animation: Rotate-delay 0.85s linear 0s infinite;
  border-radius: 100%;
  display: inline-block;
}
