/**
 * 1. Justifying content will look ugly once wrapped items exist
 *    For the moment this is fine for Nps 0 - 10 rating
 *
 * 2. (Desktop) Adjust LoadingSpinner button to be same size as sendfeedback
 *
 */

.NpsComment-label {
  color: $zendesk-color--dark-gray;
  font-size: #{14/$font-size}rem !important;
  border: 0 !important;
}

.NpsComment-label--mobile {
  padding: #{12/$font-size}rem 0 !important;
}

//FIXME
.NpsComment-comment-button {
  height: #{80/$font-size}rem;
  width: 92%;
  border-radius: #{4/$font-size}rem;
  border: #{1.1/$font-size}rem solid #DADADA;
  color: #939393;
  padding: #{9/$font-size}rem #{10/$font-size}rem #{10/$font-size}rem;
}

.NpsComment-textarea {
  height: #{80/$font-size}rem;
}

.NpsComment-selectlist {
  background-color: $zendesk-color--snow;
  border-radius: #{4/$font-size}rem;
  height: 2rem;
  padding-left: #{6/$font-size}rem;
  padding-right: #{13/$font-size}rem;
  margin-top: -1.91rem; //vertically align
}

.NpsComment-selectlist-icon {
  pointer-events: none;
  position: absolute;
  right: -#{8.5/$font-size}rem;
  top: 0;
}

.NpsComment-submitContainer {
  display: flex;
  justify-content: flex-end; /* 1 */
  padding-bottom: -#{2/$font-size}rem;
}

.NpsComment-sendButton--desktop {
  min-width: #{95/$font-size}rem;
  max-height: #{40/$font-size}rem;
}

.NpsComment-loadingButton--desktop {
  min-width: #{95/$font-size}rem;
  max-height: #{13/$font-size}rem;
}

.NpsComment-loadingButton--desktop-loadingSpinner {
  margin-top: -#{2/$font-size}rem; /* 2 */
}

.NpsComment-loadingButton--mobile {
  min-height: #{40/$font-size}rem;
  max-height: #{40/$font-size}rem;
}
