.NpsComment-label {
  color: $zendesk-color--dark-gray;
  font-size: #{14/$font-size}rem !important;
  font-weight: normal;
  padding-bottom: #{12/$font-size}rem !important;
  padding-top: #{12/$font-size}rem !important;
  text-align: center;
}

.NpsComment-textarea {
  font-size: #{16/$font-size}rem !important;
  height: #{80/$font-size}rem;
}

.NpsComment-selectlist {
  background-color: $zendesk-color--snow;
  border-radius: #{4/$font-size}rem;
  font-size: #{16/$font-size}rem !important;
  height: 2rem;
  padding-left: #{6/$font-size}rem;
  padding-right: #{13/$font-size}rem;
  margin-top: -1.91rem; //vertically align
}

.NpsComment-selectlist-icon {
  pointer-events: none;
  position: absolute;
  right: -#{8.5/$font-size}rem;
  top: 0;
}
