.SurveyQuestion {
  margin: 0;
  padding-bottom: #{9.6/$font-size}rem;
  padding-top: #{14.4/$font-size}rem;
  font-size: #{14/$font-size}rem !important;
}

.ZendeskLogo {
  svg {
    fill: $zd-color-iron;
  }
}

.ThankyouTick {
  padding-top: 1rem;
  padding-left: 9.5rem;
}
