/**
 * 1. fallback for old android browsers
 */

@import '../_vars.scss';
@import 'UserContent';

.ScrollContainer {
  box-sizing: border-box;
}

.ScrollContainer-header {
  background: $form-cta-color;
  border-bottom: $thin-border-size solid $header-stroke;
}

.ScrollContainer-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: #{280/$font-size}rem;
  box-sizing: border-box;

  /*
   * Customise scrollbar for safari/chrome
   */
  &::-webkit-scrollbar-track {
    margin: $spacing-med 0;
  }
  &::-webkit-scrollbar {
    box-shadow: none;
    width: #{3/$font-size}rem;
  }
  &::-webkit-scrollbar-thumb {
    background: $base-border-color;
    border-radius: #{3/$font-size}rem;
  }
}

.ScrollContainer-footer {
  &--shadow {
    border-top: $thin-border-size solid $inactive-color;
    box-shadow: 0 -1px 3px rgba($base-shadow, .08);
  }
}
