@import '../_vars.scss';

.UserContent {
  max-width: 100%;
  overflow: auto;
  word-break: break-word;
  max-height: 400px;

  ul {
    white-space: pre-wrap;
  }

  ol, ul {
    list-style: disc;
    margin: 0 0 0 #{20/$font-size}rem;
  }

  ol {
    list-style: decimal;
  }
}

.UserContent-viewArticleLink {
  &:before {
    content: '';
    display: block;
    width: #{20/$font-size}rem;
    border-top: #{1/$font-size}rem solid $base-border-color;
    margin-top: #{16/$font-size}rem;
    padding-bottom: #{19/$font-size}rem;
  }
}

.UserContent--mobile {
  max-height: calc(100% - #{40/$font-size}rem);
}

.UserContent-article {
  iframe, img, p:empty, video, table, code, pre {
    display: none;
  }
}

