@import '../_vars.scss';

.UserContent {
  max-width: 100%;
  word-break: break-word;
  line-height: 1.5;
  font-size: #{13/$font-size}rem;
  max-width:#{339/$font-size}rem;

  ul {
    white-space: pre-wrap;
  }

  ol, ul {
    list-style: disc;
    margin: 0 0 #{20/$font-size}rem #{20/$font-size}rem;
  }

  ol {
    list-style: decimal;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  h1, h2, h3, h4, h5, h6,
  .wysiwyg-font-size-large,
  .wysiwyg-font-size-x-large {
    font-weight: 600;
    color: $body-color;
    margin-bottom: #{5/$font-size}rem;
  }

  h1, .wysiwyg-font-size-x-large {
    font-size: #{16/$font-size}rem;
  }

  h2, .wysiwyg-font-size-large {
    font-size: #{15/$font-size}rem;
  }

  h3 {
    font-size: #{14/$font-size}rem;
  }

  h4 {
    font-size: #{13/$font-size}rem;
  }

  h5, .wysiwyg-font-size-small {
    font-size: #{12/$font-size}rem;
  }

  h6 {
    font-size: #{11/$font-size}rem;
  }

  blockquote {
    border-left: #{4/$font-size}rem solid $icon-color;
    padding-left: #{20/$font-size}rem;
    font-style: italic;
  }

  img {
    max-width: 100%;
  }
}

.UserContent--mobile {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  overflow: auto;
  height: calc(100% - #{90/$font-size}rem);
  max-width: 100%;
}
