@import '../../styles/_vars.scss';

.closeBtn {
  right: #{291/$font-size}rem;
  padding: #{15/$font-size}rem #{20/$font-size}rem #{16/$font-size}rem;

  & > span {
    padding: 0 !important;
  }
}

.backBtn {
  left: #{276/$font-size}rem;

  & > span {
    padding-left: 0 !important;
    padding-right: #{12/$font-size}rem !important;
  }
}