@import 'src/styles/_vars.scss';

.container {
  min-height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
}

.talkSuccessIcon {
  min-width: #{160 / $font-size}rem;
  width: #{160 / $font-size}rem;
  height: #{80 / $font-size}rem;
}

.primary {
  composes: u-userTextColor from global;
  font-weight: 700;
}

.secondary {
  margin: #{5 / $font-size}rem;
  color: $zd-color-grey-800;
}
