<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Web Widget Popout</title>
</head>
<body>
  <script type='text/javascript'>
    var parseQueryParams = function(inputString) {
      var params = {}, queries;

      inputString = inputString.substring(inputString.indexOf('?') + 1);
      queries = inputString.split('&');

      queries.forEach(function(element) {
        var splitElement = element.split('=');

        if (splitElement.length > 1) {
          params[splitElement[0]] = splitElement[1];
        }
      });

      return params;
    };

    var parseSettings = function(parameters) {
      if (!parameters || !parameters.settings) return {};

      return JSON.parse(window.atob(parameters.settings));
    }

    var loadLocale = function(locale) {
      if (locale) {
        zE('webWidget', 'setLocale', locale);
      }
    };

    var loadSnippet = function(parameters) {
      var head = document.head;
      var scriptElement = document.createElement('script');

      window.zEPopout = true;
      scriptElement.id = 'ze-snippet';

      if (parameters && typeof parameters === 'object') {
        scriptElement.src = '{{popoutURL}}';

        if (parameters.key) {
          scriptElement.src += ('?key=web_widget/' + parameters.key);
        }
        // Insert other required parameters below
        head.appendChild(scriptElement);
      }
    };

    var queryParams = parseQueryParams(window.location.search);

    if (queryParams.mid) {
      document.cookie = '__zlcpomid=' + queryParams.mid;
      window.location.href = (window.location.href || '').replace(/([?&])mid=[^&#]+/, '$1');
    }

    window.zESettings = parseSettings(queryParams);
    loadLocale(queryParams.locale);

    loadSnippet(queryParams);
  </script>
</body>
</html>
