<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Web Widget Popout</title>
</head>
<body>
  <script type='text/javascript'>
    var parseQueryParams = function(inputString) {
      var params = {}, queries;

      inputString = inputString.substring(inputString.indexOf('?') + 1);
      queries = inputString.split('&');

      queries.forEach(element => {
        var splitElement = element.split('=');

        if (splitElement.length > 1) {
          params[splitElement[0]] = splitElement[1];
        }
      });

      return params;
    };

    var parseSettings = function(parameters) {
      if (!parameters || !parameters.settings) return {};

      return JSON.parse(window.atob(parameters.settings));
    }

    var loadSnippet = function(parameters) {
      var head = document.head;
      var scriptElement = document.createElement('script');


      window.zEPopout = true;
      scriptElement.id = 'ze-snippet';
      scriptElement.src = 'https://static.zdassets.com/ekr/snippet.js';

      if (parameters && typeof parameters === 'object') {
        if (parameters.key) {
          scriptElement.src += ('?key=web_widget/' + parameters.key);
        }
        // Insert other required parameters below
        head.appendChild(scriptElement);
      }
    }
    var queryParams = parseQueryParams(window.location.search);
    window.zESettings = parseSettings(queryParams);

    loadSnippet(queryParams);
  </script>
</body>
</html>
