@import '../../../styles/_vars.scss';

.content {
  composes: u-textCenter u-textHeightMed from global;
  position: relative;
  font-size: #{14/$font-size}rem !important;
  margin-top: #{48/$font-size}rem !important;
  margin-bottom: 80%;
  top: #{2/$font-size}rem !important;
}

.contentMobile {
  composes: u-textHeightLrg from global;
  font-size: $font-size-mobile;
}

.firstMessage {
  composes: u-textBold u-userTextColor from global;
}

.firstMessageDesktop {
  font-size: $font-size-lrg;
}

.firstMessageMobile {
  font-size: #{16/$font-size}rem;
}

.messages {
  p {
    margin: $spacing-tny !important;
    color: $zd-color-grey-800;
  }
}

.mobileMessages {
  composes: messages;
  margin-top: #{25/$font-size}rem;
}

.desktopMessages {
  composes: messages;
  margin-top: #{20/$font-size}rem;
}

.icon {
  composes: u-userFillCustomColor from global;
}
