@import '../../../styles/_vars.scss';

.content {
  composes: u-textCenter u-textHeightMed from global;
  font-size: #{14/$font-size}rem !important;
  margin-top: #{50/$font-size}rem !important;
  margin-bottom: 80%;
}

.contentMobile {
  composes: u-textHeightLrg from global;
  font-size: $font-size-mobile;
}

.firstMessage {
  composes: u-textBold u-userTextColor from global;
}

.firstMessageDesktop {
  font-size: $font-size-lrg;
}

.firstMessageMobile {
  composes: u-textSizeLrg from global;
}

.messages {
  p {
    margin: $spacing-tny !important;
  }
}

.mobileMessages {
  composes: messages;
  margin-top: #{25/$font-size}rem;
}

.desktopMessages {
  composes: messages;
  margin-top: #{20/$font-size}rem;
}

.icon {
  composes: u-userFillCustomColor from global;
}
