@import '../../../styles/_vars.scss';

.iconContainer {
  composes: u-flex from global;
  justify-content: flex-end;
  align-items: center;
  padding-top: #{8 / $font-size}rem;

  button {
    margin-right: #{3 / $font-size}rem;
  }
}

.containerMobile {
  display: flex;
  align-items: center;
}

.inputContainerMobile {
  flex-grow: 1;
}
