@import '../../../styles/_vars.scss';

.iconContainer {
  composes: u-flex from global;
  justify-content: flex-end;
  padding-top: #{8/$font-size}rem;

  > div {
    margin-right: #{3/$font-size}rem;
  }
}

.icon {
  border-radius: #{4/$font-size}rem;

  svg {
    box-sizing: content-box;
    padding: #{5/$font-size}rem;
    min-width: #{14/$font-size}rem;
    min-height: #{14/$font-size}rem;
    width: #{14/$font-size}rem;
    height: #{14/$font-size}rem;

    g {
      fill: $zd-color-grey-500 !important;
    }
  }

  &:hover, &:active, &:focus {
    cursor: pointer;
    background: $zd-color-grey-200;

    svg > g {
      fill: $zd-color-grey-700 !important;
    }
  }
}

.iconActive {
  cursor: pointer;
  background: $zd-color-grey-200;

  svg > g {
    fill: $zd-color-grey-700 !important;
  }
}

.iconMobile {
  border-radius: 50%;
  margin: 0 #{4/$font-size}rem;

  svg {
    padding: #{8/$font-size}rem;
    min-width: #{16/$font-size}rem;
    min-height: #{16/$font-size}rem;
    width: #{16/$font-size}rem;
    height: #{16/$font-size}rem;
  }

  &:hover, &:active, &:focus {
    background: $zd-color-grey-200;
  }
}

.iconEndChat {
  composes: icon;
}

.iconAttachment {
  composes: icon;

  svg {
    path {
      stroke: $zd-color-grey-500 !important;
    }
  }

  &:hover, &:active, &:focus {
    svg > path {
      stroke: $zd-color-grey-700 !important;
    }
  }
}

.iconAttachmentMobile {
  composes: iconMobile;

  svg {
    padding-right: #{8/$font-size}rem;
  }
}

.iconMenu {
  composes: icon;
  margin-right: 0;
}

.iconSendChatMobile {
  composes: icon iconMobile;

  svg {
    padding: #{8/$font-size}rem #{7/$font-size}rem #{8/$font-size}rem #{9/$font-size}rem;

    path {
      fill: $zd-color-grey-500 !important;
    }
  }
}

.iconDisabled {
  svg > g {
    fill: $zd-color-grey-300 !important;
  }

  &:hover, &:active, &:focus {
    cursor: default;
    background: none;

    svg > g {
      fill: $zd-color-grey-300 !important;
    }
  }
}

.containerMobile {
  display: flex;
  align-items: center;
}

.inputContainerMobile {
  flex-grow: 1;
}
