@import '../../../styles/_vars.scss';
@import '../../../styles/mixins.scss';
@import '../../shared/QuickReplies/QuickReplies.scss';

.chatLogContainer {
  min-height: calc(100% - #{$sliderHeight});
}

.chatLogContainerMobile {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: #{14 / $font-size}rem;
}
