@import '../../../styles/_vars.scss';

.requestRatingButton {
  display: block;
  margin: #{10/$font-size}rem auto 0;
  height: #{30/$font-size}rem;
  line-height: #{30/$font-size}rem;
}

.updateInfo {
  composes: u-hiddenButton from global;;
  color: #007fab;
  display: block !important;
  position: relative;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
}
