@import '../../../styles/_vars.scss';

.footer {
  box-shadow: 0 0 #{12 / $font-size}rem #{8 / $font-size}rem $zd-color-white;
  z-index: 1;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: #{8 / $font-size}rem;
}

.iconContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  transform: translate(0px, 33%);

  button {
    margin-right: #{3 / $font-size}rem;
  }
}

.containerMobile {
  display: flex;
  align-items: center;
  box-shadow: 0 #{-1 / $font-size}rem 0 0 $zd-color-grey-300;
  padding: #{10 / $font-size}rem 0;
}

.inputContainerMobile {
  flex-grow: 1;
}
