@import '../../../styles/_vars.scss';
@import '../../../styles/mixins.scss';

.container {
  position: relative;
  margin-bottom: #{5/$font-size}rem;
}

.wrapper {
  composes: u-cf from global;
  display: block;

  [dir='rtl'] & {
    margin-left: 0;
    margin-right: #{40/$font-size}rem;
  }
}

.avatarAgentWrapper {
  margin-left: #{40/$font-size}rem;
}

.avatarEndUserWrapper {
  margin-right: #{40/$font-size}rem;
}

.message {
  margin-bottom: #{5/$font-size}rem;
}

.messageUser {
  color: $zd-color-white;
  float: right;

  [dir='rtl'] & {
    float: left;
  }
}

.messageAgent {
  color: $zd-color-grey-800;
  float: left;

  [dir='rtl'] & {
    float: right;
  }
}

.attachment {
  width: #{180/$font-size}rem;
  border-radius: #{8/$font-size}rem;
}

.attachmentError {
  composes: u-borderError from global;
  background: transparent;
  float: right;
  width: #{202/$font-size}rem;

  [dir='rtl'] & {
    float: left;
  }
}

.messageErrorContainer {
  margin-bottom: $spacing-tny;
  display: inline-block;
  float: right;

  [dir='rtl'] & {
    float: left;
  }
}

.userBackground {
  composes: u-userBackgroundColorNoHover from global;
  display: inline-block;
  float: right;
}

.agentBackground {
  background: $zd-color-grey-200;
  max-width: #{219/$font-size}rem !important;
}

.name {
  margin: #{8/$font-size}rem 0;
  color: $zd-color-grey-600 !important;
}

.nameAvatar {
  composes: name;
  margin-left: #{45/$font-size}rem;

  [dir='rtl'] & {
    margin-right: #{45/$font-size}rem;
  }
}

.nameNoAvatar {
  composes: name;
  margin-left: $spacing-tny;

  [dir='rtl'] & {
    margin-left: 0;
    margin-right: $spacing-tny;
  }
}

.avatar {
  width: #{32/$font-size}rem;
  height: #{32/$font-size}rem;
  position: absolute;
  transition: top 300ms ease-in-out;
  bottom: #{5/$font-size}rem;

  svg {
    min-width: #{32/$font-size}rem;
    min-height: #{32/$font-size}rem;
    max-width: #{32/$font-size}rem;
    max-height: #{32/$font-size}rem;
  }
}

.agentAvatar {
  left: 0;
}

.endUserAvatar {
  right: 0;
}

.fadeIn {
  @include fade-in(200ms);
}

.fadeUp {
  @include fade-up(200ms);
}

.attachmentMessageError {
  display: inline-block;
  hyphens: auto;
  line-height: #{18/$font-size}rem;
  max-width: calc(#{202/$font-size}rem - #{19/$font-size}rem);
  word-break: break-word;
}

.attachmentErrorMessageContainer {
  float: right;

  [dir='rtl'] & {
    float: left;
  }
}

.sentIndicator {
  color: $zd-color-grey-400;
  height: #{12/$font-size}rem;
  left: -#{15/$font-size}rem;
  position: absolute;
  top: calc(50% - #{5/$font-size}rem);
  width: #{12/$font-size}rem;

  svg {
    min-height: #{12/$font-size}rem;
    min-width: #{12/$font-size}rem;
    max-height: #{12/$font-size}rem;
    max-width: #{12/$font-size}rem;
  }

  [dir='rtl'] & {
    right: -#{15/$font-size}rem;
    left: 0;
  }
}

.defaultMessageContainer {
  position: relative;

  & > * {
    display: inline-block;
  }
}
