@import '../../../styles/_vars.scss';
@import '../../../styles/mixins.scss';

.eventMessage {
  composes: u-textCenter from global;
  margin-top: #{5/$font-size}rem;
  margin-bottom: #{10/$font-size}rem;
  color: $zd-color-grey-600 !important;
}

.fadeIn {
  @include fade-in(200ms);
}
