@import '../../../styles/_vars.scss';

.divider {
  margin-top: #{10/$font-size}rem;
  margin-bottom: #{10/$font-size}rem;
  padding-top: #{10/$font-size}rem;
  overflow: hidden;
  text-align: center;
  color: $zd-color-grey-600;

  &:before,
  &:after {
    background-color: $zd-color-grey-300;
    content: "";
    display: inline-block;
    height: #{1/$font-size}rem;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  [dir="ltr"] & {
    &:before {
      right: #{12/$font-size}rem;
      margin-left: -50%;
    }

    &:after {
      left: #{12/$font-size}rem;
      margin-right: -50%;
    }
  }

  [dir="rtl"] & {
    &:before {
      left: #{12/$font-size}rem;
      margin-right: -50%;
    }

    &:after {
      right: #{12/$font-size}rem;
      margin-left: -50%;
    }
  }
}
