@import '../../../styles/_vars.scss';

.container {
  composes: u-inlineBlock from global;
  background: $zd-color-grey-200;
  border-radius: #{8/$font-size}rem;

  img {
    max-width: #{180/$font-size}rem;
    max-height: #{180/$font-size}rem;
    border: #{1/$font-size}rem solid $zd-color-grey-300;
    border-radius: #{8/$font-size}rem;
  }
}

.link {
  composes: u-linkClean from global;
}

.hidden {
  composes: u-isHidden from global;
}
