@import '../../../styles/_vars.scss';

.container {
  color: $error-color;
}

.messageErrorLink {
  color: $error-color;
  cursor: pointer;
  text-decoration: underline;

  &:hover, &:focus, &:active {
    color: $error-color;
  }
}

.icon {
  display: inline-block;
  position: relative;
  margin-right: $spacing-tny;
  height: #{14/$font-size}rem;
  width: #{14/$font-size}rem;
  vertical-align: top;
  top: #{2/$font-size}rem;

  svg {
    height: #{14/$font-size}rem;
    width: #{14/$font-size}rem;
  }

  [dir='rtl'] & {
    margin-left: $spacing-tny;
    margin-right: 0;
  }
}
