@import '../../../styles/_vars.scss';

.container {
  background-color: transparent;
  background-position: #{14/$font-size}rem #{3/$font-size}rem;
  border: none;
  color: $error-color;
  font-size: #{14/$font-size}rem;
  padding-bottom: #{12/$font-size}rem;
  padding-top: 0;
  background-size: #{14/$font-size}rem;

  [dir='rtl'] & {
    padding-left: 0;
    padding-right: #{35/$font-size}rem;

    background-position-x: #{67/$font-size}rem;
    background-position-y: #{0.28/$font-size}rem;
  }

  [dir='ltr'] & {
    padding-left: #{35/$font-size}rem;
    padding-right: 0;
  }
}

.messageErrorLink {
  color: $error-color;
  cursor: pointer;
  text-decoration: underline;

  &:hover, &:focus, &:active {
    color: $error-color;
  }
}

.icon {
  display: inline-block;
  position: relative;
  height: #{14/$font-size}rem;
  width: #{14/$font-size}rem;
  vertical-align: top;
  top: #{2/$font-size}rem;

  svg {
    height: #{14/$font-size}rem;
    width: #{14/$font-size}rem;
  }

  [dir='rtl'] & {
    margin-left: $spacing-tny;
    margin-right: 0;
  }

  [dir='ltr'] & {
    margin-right: $spacing-tny;
    margin-left: 0;
  }
}
