{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "modules": false
      }
    ],
    "@babel/preset-react"
  ],
  "ignore": ["src/translation/*.js"],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", { "targets": { "node": "current" } }],
        "@babel/preset-react"
      ],
      "plugins": ["dynamic-import-node"]
    },
    "development": {
      "plugins": ["lodash"]
    },
    "production": {
      "plugins": ["lodash"]
    },
    "ci": {
      "presets": [
        ["@babel/preset-env", { "targets": { "node": "current" } }],
        "@babel/preset-react"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-json-strings",
    "@babel/plugin-proposal-export-namespace-from"
  ]
}
