{
  "extends": [
    "./config/eslint/eslint-defaults.js",
    "./config/eslint/eslint-es6.js",
    "./config/eslint/eslint-react.js",
    "./config/eslint/eslint-plugin-import.js",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended",
    "eslint:recommended"
  ],
  "plugins": [
    "jest",
    "lodash",
    "react-hooks",
    "jsx-a11y"
  ],
  "root": true,
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "globals": {
    "__DEV__": true,
    "__EMBEDDABLE_VERSION__": true,
    "__EMBEDDABLE_FRAMEWORK_ENV__": true,
    "__ASSET_BASE_PATH__": true,
    "addCustomCommands": true,
    "webdrivercss": true,
    "webdriverio": true,
    "Component": true,
    "mount": true,
    "noop": true,
    "page": true,
    "browser": true,
    "context": true,
    "jestPuppeteer": true,
    "zE": true,
    "$zopim": true,
    "fail": true
  },
  "rules": {
    "no-var": 0,
    "lodash/chaining": [2, "never"],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "camelcase": [2, {"properties": "never"}],
    "no-empty": 0,
    "newline-after-var": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "eol-last": ["error", "always"],
    "jsx-quotes": ["error", "prefer-double"],
    "no-nested-ternary": "error",
    "space-infix-ops": "error",
    "space-unary-ops": ["error", {"words": true, "nonwords": false}],
    "no-case-declarations": "off",
    "no-extra-semi":"off"
  },
  "overrides": [
    {
      "files": ["*.test.js", "*_test.js"],
      "rules": {
        "lodash/chaining": "off"
      }
    }
  ]
}
