{
  "extends": [
    "./config/eslint/eslint-defaults.js",
    "./config/eslint/eslint-es6.js",
    "./config/eslint/eslint-react.js",
    "./config/eslint/eslint-plugin-import.js"
  ],
  "plugins": [
    "jest",
    "lodash"
  ],
  "root": true,
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "globals": {
    "__DEV__": true,
    "__EMBEDDABLE_VERSION__": true,
    "__EMBEDDABLE_FRAMEWORK_ENV__": true,
    "__ASSET_BASE_PATH__": true,
    "addCustomCommands": true,
    "webdrivercss": true,
    "webdriverio": true,
    "Component": true,
    "mount": true,
    "noop": true
  },
  "rules": {
    "no-var": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "lodash/chaining": [2, "never"],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error"
  },
  "overrides": [
    {
      "files": ["*.test.js", "*_test.js"],
      "rules": {
        "lodash/chaining": "off"
      }
    }
  ]
}
