# Dependencies
node_modules/
src/vendor
vendor/bundle

# Logs
npm-debug.log

# Build
dist/
build/
REVISION

# Editor specific things
.vscode/*.*
!.vscode/*.code-snippets
.idea
jsconfig.json

# Other
example/*
!example/csp.js
!example/*-template.html
.DS_Store
.bundle
webdrivercss/
**/*.csv
docker-chromium
**/coverage/**
!**/*/.babelrc.js
!**/*/.babelrc.json

**/*/yarn-error.log
