# Dependencies
node_modules/
vendor/
vendor/bundle

# Logs
npm-debug.log

# Build
dist/
build/
REVISION
src/translation/*

# Dev config
dev/configs/*.json
dev/configs/*.js
!dev/configs/*-template.json
dev/templates/web_widget/*.html

# Editor specific things
.vscode/*.*
!.vscode/*.code-snippets
.idea
jsconfig.json

# Other
example/*
!example/csp.js
!example/*-template.html
.DS_Store
.bundle
webdrivercss/
