sudo: false
language: node_js
node_js:
  - "8.9.4"

cache:
  directories:
    - node_modules
    - /home/travis/.rvm/
    - vendor/bundle

env:
  - TASK=build:validate
  - TASK=lint
  - TASK=test:ci
  - TASK=build:prod
  - TASK=securityscan SECURITYSCAN=srcclr
  - TASK=validate-i18n

before_install:
  - curl -u "$ARTIFACTORY_USERNAME:$ARTIFACTORY_API_KEY" https://zdrepo.jfrog.io/zdrepo/api/npm/npm/auth/zendesk >> ~/.npmrc
  - rvm install 2.3.1

install:
  - bundle install --jobs=3 --retry=3 --path=vendor/bundle
  - npm set progress=false && npm install
  - npm run build-setup:prod

script:
  - |
    if [[ "$SECURITYSCAN" == "srcclr" ]]
    then
        echo "Starting Source clear scan ...";
        ./script/run_sourceclear.sh;
    elif [[ "$TASK" == "validate-i18n" ]]
    then
        echo "Validating translation files";
        bundle exec ruby ./script/validate_i18n.rb;
    else
        echo "Running unit or integration tests";
        npm run $TASK;
    fi
branches:
  only:
    - master
    - /^feature.*$/
    - Code_Freeze

notifications:
  email: false
  webhooks: https://samson.zende.sk/integrations/travis/b127503546dbc459293e47fbae026af2
  slack:
    secure: pHyAv7xNsAF1mdz9o4joPqvfe2mM9q5ttvN0GqJYWRfQIUlcwvMQnyRZMSrsRRAFh5nqRayXOMuLa/wE1MyqAug5nK5yPEgZQRjLDeXeHXv3vOLlcgcHJcrrqyCGkLRnFP0LDintwpJIIzNkcr+qSJPQ7QjPjZd5Rf0zfvfTQwo=
