@import 'src/styles/_vars.scss';

.button {
  composes: u-textNormal u-userBorderColor from global;
  composes: c-btn from 'src/styles/components/Button.scss';
  padding: #{8/$font-size}rem #{14/$font-size}rem !important;
  border-radius: #{16/$font-size}rem !important;
  border-width: #{1/$font-size}rem !important;
  white-space: normal !important;
  line-height: 1.3 !important;
}
