.cardContainer {
  border-radius: 8px;
}

.cardMessage {
  background-color: #ccc;
}

.buttonItem {
  border: none;
  padding: 0;
  margin: 0;
}

.buttonList {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}
