@import '../../styles/_vars.scss';

.pill {
  font-size: $font-size-lrg;
  min-width: 0;
  box-shadow: 0 #{1 / $font-size}rem #{10 / $font-size}rem 0 rgba(0, 0, 0, 0.2);

  color: $zd-color-grey-600 !important;
  border-color: $zd-color-grey-200 !important;
  line-height: 1.3;
  border-radius: #{16 / $font-size}rem !important;

  padding: #{8 / $font-size}rem #{14 / $font-size}rem !important;

  &:hover,
  &:active {
    color: $zd-color-grey-800 !important;
    background: $zd-color-grey-100 !important;

    svg {
      fill: $zd-color-grey-800;
    }
  }

  [dir='rtl'] & {
    padding-right: #{14 / $font-size}rem !important;
    padding-left: #{9 / $font-size}rem !important;
  }
}

.fullscreen {
  composes: u-sizeFull is-mobile from global;

  font-size: $font-size-mobile;
}

.rtl {
  composes: u-textNoWrap is-mobile from global;
}
