@import '../../styles/_vars.scss';

.container {
  composes: u-flex u-flexAlignItemsCenter from global;

  color: $zd-color-grey-800;
  padding: #{10/$font-size}rem;

  &:hover, &:focus, &:active {
    background: $zd-color-grey-100;
    color: $zd-color-grey-800;
  }
}

.containerActionable {
  composes: u-isActionable from global;
}

.icon {
  svg {
    min-width: #{16/$font-size}rem;
    min-height: #{16/$font-size}rem;
    height: #{16/$font-size}rem;
    width: #{16/$font-size}rem;

    path {
      fill: $zd-color-grey-500;
    }
  }
}

.label {
  composes: u-pullLeft from global;
  padding-top: #{1/$font-size}rem;
}
