@import '../../styles/_vars.scss';

.container {
  composes: u-flex u-flexAlignItemsCenter u-isDisabled from global;

  color: $zd-color-grey-800;
  padding: #{10/$font-size}rem;

  .Icon svg path {
    fill: $zd-color-monsoon;
  }

  &:hover, &:focus, &:active {
    background: $zd-color-anti-flash-white;
    border-radius: #{4/$font-size}rem;
    color: $zd-color-oil;

    .Icon svg path {
      fill: $zd-color-dark-gray;
    }
  }
}

.containerActionable {
  composes: u-isActionable from global;
}

.icon {
  composes: Arrange-sizeFit u-pullLeft u-paddingRM from global;

  svg {
    min-width: #{16/$font-size}rem;
    min-height: #{16/$font-size}rem;
    height: #{16/$font-size}rem;
    width: #{16/$font-size}rem;

    path {
      fill: $zd-color-monsoon;
    }
  }

  [dir='rtl'] & {
    padding-right: 0 !important;
    padding-left: #{15/$font-size}rem !important;
  }
}

.label {
  composes: u-pullLeft from global;
  padding-top: #{1/$font-size}rem;
}
