@import '../../styles/_vars.scss';

.container {
  composes: ButtonGroup from '../../styles/components/Button.scss';
}

.buttonleft {
  composes: u-textLeft from global;
}

.buttonRight {
  composes: u-textRight from global;
}
