@import '../../styles/_vars.scss';

.container {
  composes: u-posRelative u-zIndex1 from global;
}

.button {
  composes: u-posAbsolute u-posStart--vertFlush from global;
  composes: Button from '../../styles/components/Button.scss';
  margin-top: #{10/$font-size}rem !important;
  margin-right: #{14/$font-size}rem !important;
  margin-left: #{14/$font-size}rem !important;
  padding: #{6/$font-size}rem !important;
}

.left {
  composes: u-posStart--flush u-paddingL from global;
}

.leftRtl {
  composes: u-posEnd--flush from global;
}

.desktop {
  composes: u-userHeaderButtonColor from global;
  composes: AnimColorEaseInOut from '../../styles/components/Animation.scss';
}

.fullscreen {
  composes: u-isActionable u-textSizeBaseMobile u-userHeaderButtonColorMobile from global;

  margin-top: 0 !important;
  margin-right: #{2/$font-size}rem !important;
  margin-left: #{2/$font-size}rem !important;
  padding: #{16/$font-size}rem !important;
}

.right {
  composes: u-posEnd--flush u-paddingR from global;
}

.rightRtl {
  composes: u-posStart--flush from global;
}

.rtl {
  composes: u-flipText from global;
}
