@import '../../styles/_vars.scss';

.container {
  composes: u-paddingAS u-flex u-flexAlignItemsCenter u-isDisabled from global;

  color: $zd-color-dark-gray;

  .Icon svg path {
    fill: $zd-color-monsoon;
  }

  &:hover, &:focus, &:active {
    background: $zd-color-anti-flash-white;
    border-radius: #{4/$font-size}rem;
    color: $zd-color-oil;

    .Icon svg path {
      fill: $zd-color-dark-gray;
    }
  }
}

.containerIE {
  composes: u-paddingBXL from global;
}

.containerActionable {
  composes: u-isActionable from global;
}

.icon {
  composes: Icon--form from '../../styles/components/Icon.scss';
  composes: Arrange-sizeFit u-pullLeft u-paddingRM from global;

  svg path {
    fill: $zd-color-monsoon;
  }

  [dir='rtl'] & {
    padding-right: 0 !important;
    padding-left: #{15/$font-size}rem !important;
  }
}

.label {
  composes: u-pullLeft u-textSizeNml from global;
  padding-top: #{1/$font-size}rem;
}
