@import '../../styles/_vars.scss';

.container {
  :last-child:not(:only-child) {
    margin-left: #{5 / $font-size}rem;
  }

  [dir='rtl'] & {
    :last-child:not(:only-child) {
      margin-right: #{5 / $font-size}rem;
      margin-left: 0;
    }
  }
}

.buttonLeft {
  composes: u-textLeft from global;
}

.buttonRight {
  text-align: right !important;
}
