@import '../../styles/_vars.scss';

.dropzone {
  composes: u-isActionable u-marginTS from global;
  composes: Container--dashed from '../../styles/components/Container.scss';

  padding: #{14/$font-size}rem #{10/$font-size}rem;
  color: $zd-color-grey-800;

  &:hover {
    background-color: $zd-color-grey-100 !important;
  }
}

.dropzoneActive {
  composes: u-userTextColor u-textBold from global;
  composes: Anim-color from '../../styles/components/Animation.scss';
}

.dropzoneChild {
  composes: u-textCenter from global;
}

.dropzoneChildLabel {
  composes: u-inlineBlock u-alignTop from global;
  color: $zd-color-grey-600;
}

.icon {
  composes: u-inlineBlock u-userTextColor from global;

  padding-right: #{5/$font-size}rem;

  [dir='rtl'] & {
    padding-right: 0;
    padding-left: #{5/$font-size}rem;
  }
}
