@import '../../styles/_vars.scss';

.pill {
  composes: c-btn c-btn--secondary c-btn--pill u-textNormal from global;
}

.fullscreen {
  composes: u-sizeFull u-textSizeBaseMobile is-mobile from global;
}

.rtl {
  composes: u-textNoWrap is-mobile from global;
}
