@import '../../styles/_vars.scss';

.notFocused {
  svg {
    fill: $zd-color-grey-400 !important;
  }
}

.focused {
  svg {
    fill: $zd-color-grey-600 !important;
  }
}

.icon {
  composes: u-paddingLN from global;
}

.button {
  composes: u-hiddenButton from global;
}
