@import '../../styles/_vars.scss';

.button {
  composes: u-borderTransparent u-marginLS from global;
  composes: Button--field from '../../styles/components/Button.scss';
}

.focused {
  composes: u-fillAluminum from global;
}

.notFocused {
  composes: u-fillGainsboro from global;
}

.fullscreen {
  composes: Button--fieldMobile from '../../styles/components/Button.scss';
  composes: Anim-color from '../../styles/components/Animation.scss';
}

.hovering {
  composes: u-userFillColor from global;
}

.icon {
  composes: u-paddingLN from global;
}
