@import '../../styles/_vars.scss';

.field {
  composes: Arrange Arrange--middle u-isSelectable is-mobile u-paddingRN u-paddingVN from global;
  composes: Form-field Form-field--search from '../../styles/components/Form.scss'
}

.searchTerm {
  composes: Arrange-sizeFit u-textSizeBaseMobile u-hsizeAll u-textBody u-paddingHT from global;
}

.container {
  composes: u-cf u-paddingHN u-paddingBN from global;
  padding-top: #{18/$font-size}rem;
}

.placeholder {
  composes: Form-placeholder from '../../styles/components/Form.scss'
}
