@import '../../styles/_vars.scss';

.desktop {
  composes: u-borderTransparent u-posRelative u-noPrint from '../../styles/utils.scss';
}

.left {
  composes: u-pullLeft from '../../styles/utils.scss';
}

.right {
  composes: u-pullRight from '../../styles/utils.scss';
}
