@import '../../styles/_vars.scss';

.icon {
  composes: u-textInheritColor u-userHeaderButtonColor from global;
  composes: AnimColorEaseInOut from '../../styles/components/Animation.scss';
}

.popout {
  [dir='rtl'] & {
    margin-left: #{40/$font-size}rem !important;
  }

  [dir='ltr'] & {
    margin-right: #{40/$font-size}rem !important;
  }
}

.popoutMobile {
  composes: popout;
  margin-top: #{3/$font-size}rem ! important;
}

.popoutDesktop {
  composes: popout;
  margin-top: #{12/$font-size}rem ! important;
}
