@import '../../../styles/_vars.scss';

.message {
  composes: messageBubbleWithOptions from '../MessageBubble/MessageBubble.scss';

  background-color: $zd-color-grey-200;
  max-width: none !important;
  width: 100%;
}
