$focusRingWidth: 2px;
$height: 38px + ($focusRingWidth * 2);

.scrollContainer {
  width: 100%;
  padding: 0;
  overflow-x: auto;
}

.replyContainer {
  white-space: nowrap;
  text-align: right;
  height: $height;
  width: 100%;
  position: relative;
}

.item {
  margin-left: 5px;
  display: inline-block;
  padding: $focusRingWidth 0; // to make room for the focus ring
}
