@import 'Container';
@import 'List';
@import 'Button';
@import 'Icon';
@import 'Form';
@import 'Loading';
@import 'Animation';

.IpmDesktop {
  margin-top: #{45/$font-size}rem;
  min-width: #{380/$font-size}rem;
  max-width: #{380/$font-size}rem;
}

.IpmDesktop-avatar {
  top: #{-32/$font-size}rem;
  left: 50%;
  margin-left: #{-32/$font-size}rem;
  height: #{60/$font-size}rem;
  width: #{60/$font-size}rem;
}

.IpmDesktop-intro {
  color: $zendesk-color--aluminum;
  font-size: #{12/$font-size}rem;
  line-height: #{20/$font-size}rem;
  margin-top: #{7/$font-size}rem;
}

.IpmDesktop-message {
  color: $zendesk-color--oil;
  font-size: #{14/$font-size}rem;
  line-height: #{20/$font-size}rem;
  border-bottom: #{1/$font-size}rem solid $zendesk-color--gainsboro;
  white-space: pre-line;
}

.IpmDesktop-footer {
  height: #{37/$font-size}rem;
}

.IpmDesktop-footer--logo {
  left: -#{4/$font-size}rem;
  bottom: #{2/$font-size}rem;

  span {
    padding-left: 0;
  }
}

.closeButton {
  .Button {
    padding: #{15/$font-size}rem;
  }
}

.IpmDesktop-footer .c-btn--primary {
  background-color: $zendesk-color--pelorous;
}
