$font-size: 12;
$zendesk-green: #78A300;

// Button colors
$cta-color: $zendesk-green;
$inactive-color: #DDDDDD;
$active-color: #474747;

// Container colors
$stroke-color: #D4D4D4;
$base-color: #FFFFFF;

// Text colors
$body-color: #353535;
$secondary-color: #939393;

// Fields
$error-color: #D24000;

// Icons
$icon-color: #BBBBBB;
