/**
 * 1. because safari 8 is dumb and rounds 1/12 to .083rem
 *    which computes to 0.9999px & borders can't be sub pixel
 *    we boost the calculation to do 1.1/12
 */
$font-size: 12;

$thin-border-size: #{1.1/$font-size}rem; /* 1 */

@import '../../node_modules/zd-css-variables/dist/index';

// Button colors
$cta-color: $zd-color-zendesk-green;
$inactive-color: $zd-color-gainsboro;
$active-color: #8e8e8e;

//Scroll Container colors
$header-stroke: $zd-color-gainsboro;

// Container colors
$stroke-color: #DADADA;
$stroke-focused-color: $zd-color-aluminum;
$base-color: $zd-color-white;
$base-shadow: $zd-color-black;
$base-border-color: $zd-color-gainsboro;
$form-cta-color: $zd-color-white-smoke;

// Text colors
$body-color: $zd-color-dark-gray;
$secondary-color: $zd-color-aluminum;

// Icons
$icon-color: $zd-color-silver-sand;
$icon-inactive-color: $zd-color-aluminum;
$icon-active-color: $zd-color-dark-gray;

// Lists
$list-color: $zd-color-aluminum;

// Errors
$error-color: $zd-color-flamingo;
$error-border-color: $error-color;
$error-text-color: $error-color;
$error-field-color: #FFE3D6;

// Spacing units and rem calculations
$xl: 30;
$lrg: 20;
$med: 15;
$sml: 10;
$tny: 5;

$spacing-xl: #{$xl/$font-size}rem;
$spacing-lrg: #{$lrg/$font-size}rem;
$spacing-med: #{$med/$font-size}rem;
$spacing-sml: #{$sml/$font-size}rem;
$spacing-tny: #{$tny/$font-size}rem;

$container-height: #{384/$font-size}rem;
$container-width: #{342/$font-size}rem;
