/**
 * 1. because safari 8 is dumb and rounds 1/12 to .083rem
 *    which computes to 0.9999px & borders can't be sub pixel
 *    we boost the calculation to do 1.1/12
 */
@import 'bower_components/zd-css-settings.colors/settings.colors';

$font-size: 12;

$thin-border-size: #{1.1/$font-size}rem; /* 1 */

// Button colors
$cta-color: $zendesk-color--zendesk-green;
$inactive-color: #DDDDDD;
$active-color: #8e8e8e;

//Scroll Container colors
$header-stroke: $zendesk-color--gainsboro;

// Container colors
$stroke-color: #DADADA;
$stroke-focused-color: #AEAEAE;
$base-color: #FFFFFF;
$base-shadow: #000000;
$base-border-color: #E4E4E4;
$form-cta-color: $zendesk-color--white-smoke;

// Text colors
$body-color: $zendesk-color--dark-gray;
$secondary-color: #939393;

// Icons
$icon-color: #BBBBBB;
$icon-inactive-color: $zendesk-color--aluminum;
$icon-active-color: $zendesk-color--dark-gray;

// Lists
$list-color: #BDBDBD;

// Errors
$error-color: #D24000;
$error-text-color: #C14D00;
$error-field-color: #FFE3D6;

// Spacing units and rem calculations
$xl: 30;
$lrg: 20;
$med: 15;
$sml: 10;
$tny: 5;

$spacing-xl: #{$xl/$font-size}rem;
$spacing-lrg: #{$lrg/$font-size}rem;
$spacing-med: #{$med/$font-size}rem;
$spacing-sml: #{$sml/$font-size}rem;
$spacing-tny: #{$tny/$font-size}rem;
