/**
 * 1. because safari 8 is dumb and rounds 1/12 to .083rem
 *    which computes to 0.9999px & borders can't be sub pixel
 *    we boost the calculation to do 1.1/12
 */
@import 'bower_components/zd-css-settings.colors/settings.colors';

$font-size: 12;

$thin-border-size: #{1.1/$font-size}rem; /* 1 */

$zendesk-green: #78A300;

// Button colors
$cta-color: $zendesk-green;
$inactive-color: #DDDDDD;
$active-color: #8e8e8e;

// Container colors
$stroke-color: #DADADA;
$stroke-focused-color: #AEAEAE;
$base-color: #FFFFFF;
$base-shadow: #000000;
$base-border-color: #E4E4E4;
$form-cta-color: #F7F7F7;

// Text colors
$body-color: #535353;
$secondary-color: #939393;

// Icons
$icon-color: #BBBBBB;
$icon-inactive-color: #A3A3A3;

// Lists
$list-color: #BDBDBD;

// Errors
$error-color: #D24000;
$error-text-color: #C14D00;
$error-field-color: #FFE3D6;
