@import '_vars.scss';
@import 'utils.scss';

$font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
$font-weight: 300;
$line-height: 1.4;


/**
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications. Removes the default spacing and border for
 * appropriate elements.
 * 1. With the translation keys sometimes the launcher will show scroll bars
 * 2. Set iOS/Android tap highlight to be transparent using rgba
 * 3. Some androids need transparent keyword over rbga value
 * 4. IE doesn't have appearance: none so we can't override its
 *    arrows like other browsers so we just need to hide this
 *    and use the default ones.
 */

html {
  color: $body-color;
  font: #{$font-size}px/#{$line-height} $font-family;
  overflow: hidden; /* 1 */
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

a {
  color: $cta-color;
  text-decoration: none;
}

p {
  margin-bottom: #{15/$font-size}rem;
}

a:hover,
a:focus,
a:active {
  color: $cta-color;
  text-decoration: underline;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

/**
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */

[tabindex="-1"]:focus {
  outline: none !important;
}

input[type="search"] {
  box-sizing: border-box;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3 */
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand { /* 4 */
  display: none;
}

