/**
 * Extra utility classes beyond built-in suit css ones
 */

@import '_vars.scss';

/**
 * Positions
 */

$Base-posOffset: #{20/$font-size}rem;

.u-posEnd {
  right: $Base-posOffset;
}

.u-posEnd--flush {
  right: 0;
}

.u-posStart {
  left: $Base-posOffset;
}

.u-posCenter {
  left: 50%;
  transform: translateX(-50%);
}

.u-posStart--vert {
  top: $Base-posOffset;
}

.u-posEnd--vert {
  bottom: $Base-posOffset;
}

.u-posCenter--vert {
  top: 50%;
  transform: translateY(-50%);
}

/**
 * Vertical and horizontal offsets margin
 */

.u-marginBS {
  margin-bottom: #{20/$font-size}rem;
}

.u-marginTS {
  margin-top: #{20/$font-size}rem;
}

.u-marginTA {
  margin-top: auto !important;
}

/**
 * Vertical and horizontal offsets padding
 */

.u-paddingR {
  padding-right: #{25/$font-size}rem;
}

.u-paddingTM {
  padding-top: #{20/$font-size}rem;
}

.u-paddingHN {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.u-paddingBN {
  padding-bottom: 0 !important;
}

/**
 * Text properties
 */

.u-textCTA {
  color: $cta-color;
}

.u-textSecondary {
  color: $secondary-color;
}

.u-textSizeSml {
  font-size: #{12/$font-size}rem !important;
}

.u-textSizeMed {
  font-size: #{14/$font-size}rem !important;
}

.u-textSizeLrg {
  font-size: 5rem;
}

.u-textBold {
  font-weight: 700;
}

.u-textNormal {
  font-weight: normal;
}

/**
 * States
 */

.u-isSelectable {
  cursor: text;
}

/**
 * Vertical sizes
 */

.u-vsizeAll {
  height: 100% !important;
}

.u-borderNone {
  border: none !important;
}

.u-borderTop {
  border-top: #{1/$font-size}rem solid $base-border-color;
}

