/**
 * Extra utility classes beyond built-in suit css ones
 */

@import '_vars.scss';

/**
 * Positions
 */

$Base-posOffset: $med + 1;

.u-posEnd {
  right: #{$Base-posOffset/$font-size}rem;
}

.u-posEnd--flush {
  right: 0;
}

.u-posStart {
  left: #{$Base-posOffset/$font-size}rem;
}

.u-posStart--flush {
  left: 0;
}

.u-posStartL {
  left: #{18/$font-size}rem;
}

.u-posCenter {
  left: 50%;
  transform: translateX(-50%);
}

.u-posStart--vert {
  top: #{$Base-posOffset/$font-size}rem;
}

.u-posStart--vertFlush {
  top: 0;
}

.u-posStart--vertL {
  top: #{17/$font-size}rem;
}

.u-posEnd--vert {
  bottom: #{$Base-posOffset/$font-size}rem;
}

.u-posCenter--vert {
  top: 50%;
  transform: translateY(-50%);
}

.u-posStatic {
  position: static !important;
}

/**
 * Used to adjust the default spacing between components
 * Use with great care!
 *
 * u-<type><direction><size>
 *
 * A = all
 * T = top
 * R = right
 * B = bottom
 * L = left
 * H = horizontal
 * V = vertical
 *
 * A = auto
 * N = none
 * T = tiny 5px
 * S = small 10px
 * M = medium 15px
 * L = large 20px
 */

.u-marginAS {
  margin: $spacing-sml !important;
}

.u-marginBN {
  margin-bottom: 0 !important;
}

.u-marginBT {
  margin-bottom: $spacing-tny !important;
}

.u-marginBS {
  margin-bottom: $spacing-sml !important;
}

.u-marginBM {
  margin-bottom: $spacing-med !important;
}

.u-marginBL {
  margin-bottom: $spacing-lrg !important;
}

.u-marginTA {
  margin-top: auto !important;
}

.u-marginTT {
  margin-top: $spacing-tny !important;
}

.u-marginTS {
  margin-top: $spacing-sml !important;
}

.u-marginTM {
  margin-top: $spacing-med !important;
}

.u-marginTL {
  margin-top: $spacing-lrg !important;
}

.u-marginVS {
  margin-top: $spacing-sml !important;
  margin-bottom: $spacing-sml !important;
}

.u-marginVM {
  margin-top: $spacing-med !important;
  margin-bottom: $spacing-med !important;
}

.u-marginVL {
  margin-top: $spacing-lrg !important;
  margin-bottom: $spacing-lrg !important;
}

.u-marginVXL {
  margin-top: $spacing-xl !important;
  margin-bottom: $spacing-xl !important;
}

.u-marginRS {
  margin-right: $spacing-sml !important;

  [dir='rtl'] & {
    margin-right: 0;
    margin-left: $spacing-sml;
  }
}

.u-marginRM {
  margin-right: $spacing-med !important;
}

.u-marginRL {
  margin-right: $spacing-lrg !important;
}

.u-marginLS {
  margin-left: $spacing-sml !important;
}

.u-marginHM {
  margin-left: $spacing-med !important;
  margin-right: $spacing-med !important;
}

.u-marginHL {
  margin-left: $spacing-lrg !important;
  margin-right: $spacing-lrg !important;
}

.u-marginHXL {
  margin-left: $spacing-xl !important;
  margin-right: $spacing-xl !important;
}

.u-marginHN {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.u-paddingAN {
  padding: 0 !important;
}

.u-paddingAS {
  padding: $spacing-sml !important;
}

.u-paddingAL {
  padding: $spacing-lrg !important;
}

.u-paddingHN {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.u-paddingHT {
  padding-left: $spacing-tny !important;
  padding-right: $spacing-tny !important;
}

.u-paddingHL {
  padding-left: $spacing-lrg !important;
  padding-right: $spacing-lrg !important;
}

.u-paddingHXL {
  padding-left: $spacing-xl !important;
  padding-right: $spacing-xl !important;
}

.u-paddingVN {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.u-paddingVM {
  padding-top: $spacing-med !important;
  padding-bottom: $spacing-med !important;
}

.u-paddingVL {
  padding-top: $spacing-lrg !important;
  padding-bottom: $spacing-lrg !important;
}

.u-paddingVXL {
  padding-top: $spacing-xl !important;
  padding-bottom: $spacing-xl !important;
}

.u-paddingR {
  padding-right: #{25/$font-size}rem;

  [dir='rtl'] & {
    padding-right: 0;
    padding-left: #{25/$font-size}rem;
  }
}

.u-paddingLN {
  padding-left: 0 !important;
}

.u-paddingL {
  padding-left: #{25/$font-size}rem;
}

.u-paddingLL {
  padding-left: $spacing-lrg;
}

.u-paddingRN {
  padding-right: 0 !important;
}

.u-paddingRS {
  padding-right: $spacing-sml !important;

  [dir='rtl'] & {
    padding-right: 0;
    padding-left: $spacing-sml;
  }
}

.u-paddingRM {
  padding-right: $spacing-med !important;
}

.u-paddingRL {
  padding-right: $spacing-lrg !important;
}

.u-paddingTT {
  padding-top: $spacing-tny !important;
}

.u-paddingTS {
  padding-top: $spacing-sml !important;
}

.u-paddingTM {
  padding-top: $spacing-med !important;
}

.u-paddingTL {
  padding-top: $spacing-lrg !important;
}

.u-paddingBN {
  padding-bottom: 0 !important;
}

.u-paddingBT {
  padding-bottom: $spacing-tny !important;
}

.u-paddingBS {
  padding-bottom: $spacing-sml !important;
}

.u-paddingBM {
  padding-bottom: $spacing-med !important;
}

.u-paddingBL {
  padding-bottom: $spacing-lrg !important;
}

.u-paddingBXL {
  padding-bottom: $spacing-xl !important;
}

/**
 * Text properties
 */

.u-textCTA {
  color: $cta-color;
}

.u-textSecondary {
  color: $secondary-color !important;
}

.u-textBody {
  color: $body-color;
}

.u-textError {
  color: $error-text-color;
}

.u-textPlaceholder {
  color: #DADADA;
}

.u-textAluminum {
  color: $zendesk-color--aluminum !important;
}

.u-fillAluminum {
  svg {
    fill: $zendesk-color--aluminum !important;
  }
}

.u-fillGainsboro {
  svg {
    fill: $zendesk-color--gainsboro !important;
  }
}

.u-textSizeSml {
  font-size: #{12/$font-size}rem !important;
}

.u-textSizeNml {
  font-size: #{13/$font-size}rem !important;
}

.u-textSizeMed {
  font-size: #{14/$font-size}rem !important;
}

.u-textSize15 {
  font-size: $spacing-med !important;
}

.u-textSizeLrg {
  font-size: #{16/$font-size}rem;
}

.u-textSizeBaseMobile {
  font-size: #{16/$font-size}rem !important;
}

.u-textBold {
  font-weight: 700;
}

.u-textNormal {
  font-weight: normal !important;
}

/* Force a single line to have exact font height  */
.u-textXHeight {
  line-height: 0.9;
}

/**
 * States
 */

.u-isSelectable {
  cursor: text;
}

.u-isSuccessful {
 color: $cta-color !important;

 svg {
   fill: $cta-color !important;
 }
}

.u-isError{
 color: $zendesk-color--cg-red !important;
}

/**
 * Background
 */

.u-backgroundWhite {
  background-color: $zendesk-color--white !important;
}

.u-backgroundWhiteSmoke {
  background-color: $zendesk-color--white-smoke !important;
}

/**
 * Misc
 */

.u-flipText {
  transform: scale(-1);
}

.u-borderTransparent {
  border: #{1/$font-size}rem solid transparent !important;
}

.u-borderNone {
  border: none !important;
}

.u-borderTop {
  border-top: $thin-border-size solid $base-border-color;
}

.u-borderBottom {
  border-bottom: $thin-border-size solid $base-border-color;
}

.u-borderError {
  border-color: $error-border-color !important;
}

.u-zIndex1 {
  z-index: 1;
}


/**
 * Vertical sizes
 */

.u-vsizeAll {
  height: 100% !important;
}

/**
 * Horizontal sizes
 */

.u-hsizeAll {
  width: 100% !important;
}

/**
 * Clear float utils
 */

.u-clearLeft {
  clear: left;
}

/**
 * Extend display utils
 */

.u-flex {
  display: flex;
}

.u-flexJustifyCenter {
  justify-content: center !important;
}

.u-flexJustifyBetween {
  justify-content: space-between !important;
}

.u-flexAlignItemsCenter {
  align-items: center !important;
}


/**
 * Used to hide the widget when printing the host page
 */
@media print {
  .u-noPrint {
    display: none !important;
  }
}
