@import 'src/styles/_vars.scss';

.container {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;

  padding-top: #{5 / $font-size}rem !important;
  font-weight: 700;
  color: $zd-color-grey-800;
  font-size: #{14 / $font-size}rem !important;
}

.content {
  vertical-align: middle;
  font-size: #{15 / $font-size}rem;
}

.containerMobile {
  font-size: $font-size-mobile;
}
