<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta content='width=device-width initial-scale=1' name='viewport'>
  <title>Web Widget New Chat</title>
</head>
<body>
  <h1>Web Widget New Chat</h1>
  <%= htmlWebpackPlugin.options.snippet %>
  <script nonce="<%= htmlWebpackPlugin.options.nonce %>">
    zE(function() {
      zE.devRender({
        webWidgetCustomizations: true,
        newChat: true,
        embeds: {
          launcher: {
            embed: 'launcher',
            props: {
              position: 'right'
            }
          },
          zopimChat: {
            embed: 'chat',
            props: {
              zopimId: '<%= htmlWebpackPlugin.options.zopimId %>'
            }
          },
          ticketSubmissionForm: {
            embed: 'submitTicket',
            props: {
              attachmentsEnabled: true
            }
          }
        }
      });
    });
  </script>
</body>
</html>
