@import 'src/styles/_vars.scss';

.container {
  overflow: hidden !important;
  box-sizing: border-box;
  color: $zd-color-grey-800;
  flex-direction: column;
  display: flex;
}

.desktop {
  height: #{550 / $font-size}rem;
}

.desktopContainer {
  border-radius: #{8 / $font-size}rem;
}

.fullscreen {
  height: 100%;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

.mobile {
  height: 100%;
}
