@import '../../styles/_vars.scss';

.footerWithLogo {
  box-shadow: 0 0 #{12/$font-size}rem #{8/$font-size}rem $zd-color-white;
  padding-top: #{8/$font-size}rem !important;
  padding-bottom: #{36/$font-size}rem !important;
}

.footer {
  box-shadow: 0 0 #{12/$font-size}rem #{8/$font-size}rem $zd-color-white;
  padding-top: #{8/$font-size}rem !important;
  padding-bottom: #{8/$font-size}rem !important;
}

.scrollContainerMobile {
  height: auto;
  max-height: none;
}

.scrollContainer {
  margin-right: #{7/$font-size}rem !important;
  margin-left: #{7/$font-size}rem !important;
  padding-right: #{8/$font-size}rem !important;
  padding-left: #{8/$font-size}rem !important;
}

.footerMobile {
  padding: 0 !important;
  border-top: $thin-border-size solid $zd-color-grey-200;
  margin-top: #{12/$font-size}rem !important;
}

.footerMobileWithLogo {
  margin-top: #{24/$font-size}rem !important;
}

.zendeskLogo {
  z-index: 1;
}

.zendeskLogoChatMobile {
  bottom: #{48/$font-size}rem;

  [dir='rtl'] & {
    right: #{12/$font-size}rem;
  }

  [dir='ltr'] & {
    left: #{12/$font-size}rem;
  }
}
