@import 'src/styles/_vars.scss';

.contextualNoResults {
  color: $zd-color-grey-600;
  height: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contextualNoResultsMobile {
  font-size: #{16 / $font-size}rem;
}

.useSearchBarTextDesktop {
  line-height: #{18 / $font-size}rem;
}

.useSearchBarTextMobile {
  line-height: #{22 / $font-size}rem;
}
