@import 'src/styles/_vars.scss';

.form {
  composes: u-cf from global;
  margin: 0;
}

.footer {
  padding: 0 !important;
}

.footerLogo {
  composes: u-paddingVL from global;
}

.footerArticleView {
  composes: u-paddingTT from global;
}

.noCustomHeight {
  height: auto;
}

.loadingBars {
  margin-top: #{5 / $font-size}rem;
}

.onHelpCenterSmallScreen {
  composes: u-marginBL from global;
}

.onHelpCenterLargeScreen {
  margin-top: #{10 / $font-size}rem;
}
