/**
 * 1. Composed classes on Container and ScrollContainer come
 *    later in the class atrribute, so they will override
 *    composed classes defined here.
 */

@import 'src/styles/_vars.scss';

.inner {
  margin-bottom: #{20 / $font-size}rem !important;
}

.footerNoLogo {
  padding-top: #{10 / $font-size}rem !important; /* 1 */
  padding-bottom: 0 !important; /* 1 */
}

.container {
  padding-top: #{10 / $font-size}rem !important; /* 1 */
  padding-left: 0 !important; /* 1 */
  padding-right: 0 !important; /* 1 */
}

.newChannelChoiceContainer {
  composes: container;
  padding-top: #{20 / $font-size}rem !important;
}
