@import '../../styles/_vars.scss';

.container {
  composes: u-posAbsolute from global;

  background-color: $base-color;
  bottom: #{42/$font-size}rem;
  right: 0;
  min-width: #{158/$font-size}rem;
  max-width: #{300/$font-size}rem;
  padding: #{5/$font-size}rem;
  border-radius: #{4/$font-size}rem;
  box-shadow: 0 0 #{6/$font-size}rem 0 rgba($base-shadow, .2);
  animation: channelChoiceAppear 100ms ease-in-out;

  [dir='rtl'] & {
    right: auto;
    left: 0;
  }
}

@keyframes channelChoiceAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
