/**
 * 1. Composes classes on Container and ScrollContainer come
 *    later in the class atrribute, so they will override
 *    composed classes defined here.
 */

@import '../../styles/_vars.scss';

.hr {
  composes: u-paddingN u-marginTS u-marginBN u-marginHS u-borderNone from '../../styles/utils.scss';
  height: #{1/$font-size}rem;
  border-bottom: #{1/$font-size}rem solid $zd-color-gainsboro !important;
}

.inner {
  composes: u-marginBL from '../../styles/utils.scss';
}

.footerNoLogo {
  padding-top: #{10/$font-size}rem !important; /* 1 */
  padding-bottom: 0 !important; /* 1 */
}

.container {
  padding-top: #{10/$font-size}rem !important; /* 1 */
  padding-left: 0 !important; /* 1 */
  padding-right: 0 !important; /* 1 */
}
