@import '../../styles/_vars.scss';

.inner {
  composes: u-paddingVS u-paddingHM from '../../styles/utils.scss';
}

.innerItem {
  padding-bottom: #{13/$font-size}rem !important;
}

.innerItemLabel {
  composes: u-textSizeMed from '../../styles/utils.scss' !important;
}

.buttonContainer {
  composes: u-posRelative u-marginTT u-paddingHM u-paddingBM from '../../styles/utils.scss';
}

.cancelButton {
  composes: u-textSizeMed from '../../styles/utils.scss';
}
