@import '../../styles/_vars.scss';

.inner {
  padding: #{10/$font-size}rem #{15/$font-size}rem;
}

.innerItem {
  padding-bottom: #{13/$font-size}rem !important;
}

.innerItemLabel {
  composes: u-textSizeMed from '../../styles/utils.scss' !important;
}

.buttonContainer {
  composes: u-posRelative from '../../styles/utils.scss';
  margin-top: #{5/$font-size}rem;
  padding-left: #{15/$font-size}rem;
  padding-right: #{15/$font-size}rem;
  padding-bottom: #{15/$font-size}rem;
}

.cancelButton {
  composes: u-textSizeMed from '../../styles/utils.scss';
}
