/**
 * 1. Composed classes on Container and ScrollContainer come
 *    later in the class atrribute, so they will override
 *    composed classes defined here.
 */

@import '../../styles/_vars.scss';

.container {
  height: calc(100% - 10rem);

  padding-top: $spacing-tny !important; /* 1 */
  padding-left: 0 !important; /* 1 */
  padding-right: 0 !important; /* 1 */
}

.newContainer {
  composes: container;
  padding-top: $spacing-sml !important; /* 1 */
}
