@import '../../styles/_vars.scss';

.inner {
  padding-left: #{15/$font-size}rem;
  padding-right: #{15/$font-size}rem;
  padding-top: #{10/$font-size}rem;
  padding-bottom: #{10/$font-size}rem;
}

.innerItem {
  padding-top: #{8/$font-size}rem;
  padding-bottom: #{8/$font-size}rem;

  &:hover, &:focus, &:active {
    color: $zd-color-grey-800;

    svg path {
      fill: $zd-color-grey-800;
    }
  }
}

.innerItemLabel {
  font-size: $font-size-lrg;
}

.buttonContainer {
  composes: u-posRelative u-marginTT from global;
  padding-left: #{15/$font-size}rem;
  padding-right: #{15/$font-size}rem;
  padding-bottom: #{15/$font-size}rem;
}

.cancelButton {
  width: 100%;
}
