@import '../../styles/_vars.scss';

.btnDisabled {
  background-color: $zd-color-white !important;
  color: $zd-color-aluminum !important;
}

.chatBtnDisabled {
  composes: btnDisabled;

  svg path {
    fill: $zd-color-iron !important;
  }
}

.talkBtnDisabled {
  composes: btnDisabled;

  svg path {
    stroke: $zd-color-iron !important;
  }
}

.iconTalk {
  padding-right: #{13/$font-size}rem !important;

  svg {
    height: #{18/$font-size}rem !important;
    width: #{18/$font-size}rem !important;

    path {
      stroke: $zd-color-monsoon;
      fill: none !important;
    }
  }
}

.buttonTalk {
  padding-left: #{9/$font-size}rem !important;

  &:hover, &:focus, &:active {
    svg path {
      fill: none;
      stroke: $zd-color-dark-gray;
    }
  }
}
