@import '../../styles/_vars.scss';

.chatBtnDisabled {
  background-color: $zd-color-white !important;
  color: $zd-color-aluminum !important;

  svg path {
    fill: $zd-color-iron !important;
  }
}
