@import '../../styles/_vars.scss';

.inner {
  composes: u-paddingVS u-paddingHM from global;
}

.innerItem {
  padding-top: #{8/$font-size}rem;
  padding-bottom: #{8/$font-size}rem;

  &:hover, &:focus, &:active {
    color: $zd-color-oil;

    svg path {
      fill: $zd-color-dark-gray;
    }
  }
}

.innerItemLabel {
  composes: u-textSizeMed from global !important;
}

.buttonContainer {
  composes: u-posRelative u-marginTT u-paddingHM u-paddingBM from global;
}

.cancelButton {
  composes: u-textSizeMed from global;
}
