@import '../../styles/_vars.scss';

.inner {
  composes: u-paddingVS u-paddingHM from global;
}

.innerItem {
  padding-top: #{8/$font-size}rem;
  padding-bottom: #{8/$font-size}rem;

  &:hover, &:focus, &:active {
    color: $zd-color-grey-800;

    svg path {
      fill: $zd-color-grey-800;
    }
  }
}

.innerItemLabel {
  font-size: $font-size-lrg;
}

.buttonContainer {
  composes: u-posRelative u-marginTT u-paddingHM u-paddingBM from global;
}

.cancelButton {
  font-size: $font-size-lrg;
}
