@import '../../styles/_vars.scss';

.form {
  composes: u-cf from global;
  margin: 0;
}

.container {
  height: auto;
}

.containerMobile {
  font-size: $font-size-mobile;
}

.hidden {
  composes: u-isHidden from global;
}

.ticketFormTitle {
  composes: ticketFormsListTitle from './SubmitTicket.scss';
  composes: u-marginBM from global;
}

.ticketFormTitleMobile {
  font-size: $font-size-mobile;
}

.ticketFormContainer {
  composes: u-paddingTN from global;
}

.formWrapper {
  margin-bottom: #{15/$font-size}rem;
}

.buttonGroup {
  margin-top: #{15/$font-size}rem;
  margin-bottom: #{15/$font-size}rem;
}

.button {
  max-width: #{120/$font-size}rem !important;
  padding-right: #{10/$font-size}rem !important;
  padding-left: #{10/$font-size}rem !important;
}
