@import '../../styles/_vars.scss';
.ticketFormsContainer {
  composes: u-paddingTN u-posRelative from global;
}

.error {
  composes: u-flex u-marginTL from global;
  background-position: #{14 / $font-size}rem #{14 / $font-size}rem;
  padding: #{12 / $font-size}rem;
  padding-left: #{40 / $font-size}rem;
}

.loadingBarContentContainer {
  padding-top: #{15 / $font-size}rem;
}

.button {
  width: 100%;
}

.zendeskLogoButton {
  margin-bottom: #{40 / $font-size}rem;
}

.noZendeskLogoButton {
  margin-bottom: #{20 / $font-size}rem;
}

.scrollContainerSuccess {
  overflow-y: hidden;
  height: 100%;

  & > div {
    height: 100%;
    overflow-y: auto;
  }
}
