@import '../../styles/_vars.scss';

.form {
  composes: u-cf from global;
  composes: Form from '../../styles/components/Form.scss';
}

.container {
  height: auto;
}

.containerMobile {
  font-size: $font-size-mobile;
}

.hidden {
  composes: u-isHidden from global;
}

.ticketFormTitle {
  composes: ticketFormsListTitle from './SubmitTicket.scss';
  composes: u-marginBM from global;
}

.ticketFormTitleMobile {
  font-size: $font-size-mobile;
}

.ticketFormContainer {
  composes: u-paddingTN from global;
}

.formWrapper {
  margin-bottom: #{15/$font-size}rem;
}

.buttonGroup {
  margin-top: #{15/$font-size}rem;
  margin-bottom: #{15/$font-size}rem;
}

.fieldContainer {
  margin-bottom: $field-margin-bottom;
}

.fieldLabel {
  font-size: #{14/$font-size}rem !important;
}

.fieldInput {
}

.textareaInput {
  height: #{105/$font-size}rem;
  font-size: #{14/$font-size}rem !important;
  border-radius: #{4/$font-size}rem;
}
