@import '../../styles/_vars.scss';

.form {
  composes: u-cf from '../../styles/utils.scss';
  composes: Form from '../../styles/components/Form.scss';
}

.container {
  height: auto;
}

.hidden {
  composes: u-isHidden from '../../styles/utils.scss';
}

.ticketFormTitle {
  composes: ticketFormsListTitle from './SubmitTicket.sass';
  composes: u-marginBM from '../../styles/utils.scss';
}

.ticketFormTitleMobile {
  composes: u-textSize15 from '../../styles/utils.scss';
}

.ticketFormContainer {
  composes: u-paddingTN from '../../styles/utils.scss';
}
