@import '../../styles/_vars.scss';

.form {
  composes: u-cf from global;
  word-break: break-word;
  overflow-wrap: break-word;
  margin: 0;
}

.hidden {
  composes: u-isHidden from global;
}

.ticketFormTitle {
  composes: ticketFormsListTitle from './SubmitTicket.scss';
  composes: u-marginBM from global;
}

.ticketFormTitleMobile {
  font-size: $font-size-mobile;
}

.formWrapper {
  margin-bottom: #{15 / $font-size}rem;

  label:first-of-type {
    margin-top: 0;
  }

  > div,
  label {
    margin-top: #{16 / $font-size}rem;
  }
}

.buttonGroup {
  margin-top: #{15 / $font-size}rem;
  margin-bottom: #{15 / $font-size}rem;
}

.button {
  max-width: #{120 / $font-size}rem !important;
  padding-right: #{10 / $font-size}rem !important;
  padding-left: #{10 / $font-size}rem !important;
}
