@import '../../styles/_vars.scss';

.ticketFormsList {
  composes: u-userTextDecorationColor u-userTextColor u-borderBottom u-isActionable u-paddingHN from global;
  padding-top: #{18/$font-size}rem;
  padding-bottom: #{18/$font-size}rem;
  line-height: #{18/$font-size};
  list-style: none;

  &:hover, &:focus, &:active {
    text-decoration: underline;
  }

  &:last-child {
    border: none;
  }
}

.ticketFormsListMobile {
  composes: u-paddingHL from global;
  padding-top: #{24/$font-size}rem;
  padding-bottom: #{24/$font-size}rem;
  font-size: $font-size-mobile;

  &:hover, &:focus, &:active {
    background: $zd-color-snow;
  }
}

.ticketFormsListTitle {
  composes: u-borderBottom u-textBold u-paddingHN from global;
  padding-top: #{16/$font-size}rem;
  padding-bottom: #{16/$font-size}rem;
  color: $zd-color-grey-800;
  font-size: #{14/$font-size}rem;
}

.ticketFormsContainer {
  composes: u-paddingTN u-posRelative from global;
  min-height: #{357/$font-size}rem;
}

.ticketFormsFooter {
  height: #{36/$font-size}rem;
  min-height: #{36/$font-size}rem;
}

.ticketFormsContainerMobile {
  composes: u-paddingHN u-marginHN u-paddingTN from global;
}

.notify {
  composes: u-textCenter from global;
}

.notifyIcon {
  composes: u-inlineBlock u-posRelative u-marginTL from global;
}

.error {
  composes: u-flex u-marginTL from global;
  background-position: #{14/$font-size}rem #{14/$font-size}rem;
  padding: #{12/$font-size}rem;
  padding-left: #{40/$font-size}rem;
}

.errorIcon {
  composes: ErrorIcon from '../../styles/components/Error.scss';
  margin-right: #{12/$font-size}rem;
}

.loadingSpinner {
  composes: u-flex u-posFill u-posAbsolute u-flexAlignItemsCenter u-flexJustifyCenter from global;
}

.loadingSpinnerIE {
  composes: u-paddingBXL u-paddingRXL from global;
}

.button {
  width: 100%;
}

.zendeskLogoButton {
  margin-bottom: #{40/$font-size}rem;
}

.noZendeskLogoButton {
  margin-bottom: #{20/$font-size}rem;
}

.scrollContainerSuccess {
  overflow-y: hidden;
}
