@import 'Container';
@import 'Button';
@import 'Icon';
@import 'Error';
@import 'Animation';

.AutomaticAnswersDesktop {
  margin-top: #{15/$font-size}rem;
  margin-right: #{12/$font-size}rem;
  box-shadow: 0 0 #{12/$font-size}rem 0 rgba($base-shadow, .25);
  min-width: #{380/$font-size}rem;
  max-width: #{380/$font-size}rem;

  .Icon--close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: #{10/$font-size}rem;
    height: #{10/$font-size}rem;
    padding: #{15/$font-size}rem;
    opacity: 0.2;

    svg {
      fill: black;
    }
  }

  .Icon--close:hover {
    opacity: 0.4;
  }
}

.AutomaticAnswersDesktop-message {
  color: $zd-color-oil;
  font-size: #{12/$font-size}rem;
  line-height: #{20/$font-size}rem;
  white-space: pre-line;

  span {
    color: $zd-color-aluminum;
    display: block;
  }

  a {
    color: $zd-color-apple-green;
  }
}

.AutomaticAnswersDesktop-footer {
  height: #{37/$font-size}rem;
}

.closeButton {
  .Button {
    padding: #{15/$font-size}rem;
  }
}

.AutomaticAnswersMobile-message {
  color: $zd-color-dark-gray;
  font-size: #{12/$font-size}rem;
  line-height: #{18/$font-size}rem;
  font-weight: bold;
  white-space: pre-line;
}

.AutomaticAnswersMobile {
  width: 100%;
  margin-top: #{10/$font-size}rem;
  border-left: 0;
  border-right: 0;
  box-shadow: 0 0 #{10/$font-size}rem #{3/$font-size}rem rgba(0,0,0,0.2);
  border-radius: 0;
  display: inline-block;
}

.AutomaticAnswersBtn {
  font-size: #{12/$font-size}rem;
}

.AutomaticAnswersBtn--no {
  min-width: #{90/$font-size}rem;
}
