@import 'Container';
@import 'Button';
@import 'Icon';
@import 'Error';
@import 'Animation';

.AutomaticAnswersDesktop {
  margin-top: #{45/$font-size}rem;
  min-width: #{380/$font-size}rem;
  max-width: #{380/$font-size}rem;
}

.AutomaticAnswersDesktop-masterIcon {
  border-radius: 50%;
  top: #{-32/$font-size}rem;
  left: 50%;
  margin-left: #{-32/$font-size}rem;
  border: #{2/$font-size}rem solid $zd-color-apple-green;
  background-color: $zd-color-white;
  height: #{60/$font-size}rem;
  width: #{60/$font-size}rem;
}

.AutomaticAnswersDesktop-message {
  color: $zd-color-oil;
  font-size: #{14/$font-size}rem;
  line-height: #{20/$font-size}rem;
  white-space: pre-line;

  span {
    display: block;
    margin-bottom: #{20/$font-size}rem;
  }

  a {
    color: $zd-color-curious-blue;
  }
}

.AutomaticAnswersDesktop-footer {
  height: #{37/$font-size}rem;
}

.closeButton {
  .Button {
    padding: #{15/$font-size}rem;
  }
}

.AutomaticAnswersMobile-message {
  color: $zd-color-dark-gray;
  font-size: #{12/$font-size}rem;
  line-height: #{18/$font-size}rem;
  font-weight: bold;
  white-space: pre-line;
}

.AutomaticAnswersMobile {
  margin-top: #{10/$font-size}rem;
  border-left: 0;
  border-right: 0;
  box-shadow: 0 0 #{10/$font-size}rem #{3/$font-size}rem rgba(0,0,0,0.2);
  border-radius: 0;
  display: inline-block;
}

