@import 'Container';
@import 'Button';
@import 'Icon';
@import 'Error';
@import 'Animation';

.AutomaticAnswersDesktop {
  margin-top: #{15/$font-size}rem;
  margin-right: #{12/$font-size}rem;
  box-shadow: 0 0 #{12/$font-size}rem 0 rgba($base-shadow, .25);
  min-width: #{380/$font-size}rem;
  max-width: #{380/$font-size}rem;

  .Icon--close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: #{10/$font-size}rem;
    height: #{10/$font-size}rem;
    padding: #{15/$font-size}rem;
    opacity: 0.2;

    svg {
      fill: black;
    }
  }

  .Icon--close:hover {
    opacity: 0.4;
  }
}

.AutomaticAnswersDesktop-message {
  color: $zd-color-oil;
  font-size: #{12/$font-size}rem;
  line-height: #{20/$font-size}rem;
  white-space: pre-line;

  span {
    color: $zd-color-aluminum;
    display: block;
  }
}

// START: AutomaticAnswersAnchor
// lovingly adapted from ZD Garden http://garden.zendesk.com/css-buttons/
.AutomaticAnswersAnchor {
  display: inline;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  user-select: none;
  line-height: normal;
  white-space: normal;
  color: $zd-color-pelorous;
  font-size: inherit;
  font-weight: $zd-font-weight-bold;

  &:hover,
  &:active {
    background-color: transparent;
    text-decoration: none;
    color: $zd-color-pelorous;
  }

  &:focused {
    text-decoration: underline;
  }
}

.AutomaticAnswersAnchor--disabled {
  background-color: transparent;
  color: $inactive-color;

  &:hover {
    color: $inactive-color;
    cursor: default;
  }
}
// END: AutomaticAnswersAnchor

.AutomaticAnswersDesktop-footer {
  height: #{37/$font-size}rem;
}

.closeButton {
  .Button {
    padding: #{15/$font-size}rem;
  }
}

.AutomaticAnswersMobile-message {
  color: $zd-color-aluminum;
  line-height: #{18/$font-size}rem;
  white-space: pre-line;

  strong {
    color: $zd-color-dark-gray;
  }

  .Error {
    color: $zd-color-dark-gray;
  }

  .Icon {
    top: #{5/$font-size}rem;
  }
}

.AutomaticAnswersMobile {
  margin-left: #{8/$font-size}rem;
  margin-right: #{8/$font-size}rem;
  margin-top: #{10/$font-size}rem;
  margin-bottom: #{10/$font-size}rem;
  border-left: 0;
  border-right: 0;
  box-shadow: 0 0 #{10/$font-size}rem #{3/$font-size}rem rgba(0,0,0,0.2);
  border-radius: #{6/$font-size}rem;

  .Icon--close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: #{10/$font-size}rem;
    height: #{10/$font-size}rem;
    padding: #{15/$font-size}rem;
    opacity: 0.2;

    svg {
      fill: black;
    }
  }

  .Icon--close:hover {
    opacity: 0.4;
  }
}

.AutomaticAnswersBtn {
  color: $zd-color-white;
  font-size: #{12/$font-size}rem;
  border-radius: #{3/$font-size}rem;
  border: #{1/$font-size}rem solid $zd-color-oil !important;

  &:disabled {
    border-color: transparent !important;
  }
}

.AutomaticAnswersBtn--no {
  min-width: #{90/$font-size}rem;
}

.AutomaticAnswersBtn--mobile {
  border-radius: #{3/$font-size}rem;
  font-size: #{14/$font-size}rem;
  min-width: #{100/$font-size}rem;
  padding-left: #{10/$font-size}rem;
  padding-right: #{10/$font-size}rem;

  // Neutralise c-btn behaviour
  &.u-userBorderColor:not([disabled]):hover,
  &.u-userBorderColor:not([disabled]):active,
  &.u-userBorderColor:not([disabled]):focus {
    color: $zd-color-oil !important;
    background-color: transparent !important;
  }
}

// START: AutomaticAnswersCallOut
// lovingly adapted from ZD Garden http://garden.zendesk.com/css-callouts/
.AutomaticAnswersCallout {
  background-color: $zd-color-white;
}

.AutomaticAnswersCallout--error {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%23EB6651'%3E%3Cpath fill='currentColor' d='M7 0C3.13 0 0 3.13 0 7s3.13 7 7 7 7-3.13 7-7-3.13-7-7-7zm-.75 3.75c0-.41.34-.75.75-.75s.75.34.75.75v2.5c0 .41-.34.75-.75.75s-.75-.34-.75-.75v-2.5zM7 11c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 10px 0;
  padding-left: 40px;
}

.AutomaticAnswersCallout__title {
  display: block;
  margin: 0;
  color: $zd-color-flamingo;
  font-weight: $zd-font-weight-bold;
}

.AutomaticAnswersCallout__paragraph {
  margin: 5px 0 0;
  color: $zd-color-monsoon;
}
// END: AutomaticAnswersCallout
