@import 'src/styles/_vars.scss';

.form {
  padding: 0 #{10 / $font-size}rem;
}

.header {
  composes: u-userHeaderColor from global;

  background: $zd-color-grey-100;
  color: $zd-color-grey-800;
  border-radius: #{8 / $font-size}rem #{8 / $font-size}rem 0 0;
  padding: #{15 / $font-size}rem #{20 / $font-size}rem;
}

.headerMobile {
  border-radius: 0;
}

.title {
  font-weight: 700;
  text-align: center;
  letter-spacing: #{0.3 / $font-size}rem;
  line-height: 1.2;
  padding: 0 #{30 / $font-size}rem #{10 / $font-size}rem;
  font-size: #{15 / $font-size}rem;
}
