@import '../../styles/_vars.scss';

.scrollContainerSuccess {
  overflow-y: hidden;
}

.content {
  composes: u-textHeightMed from global;
  color: $zd-color-grey-800;
}

.contentMobile {
  composes: u-textHeightLrg from global;
  font-size: $font-size-mobile;
}

.form {
  composes: u-marginBM from global;
}

.formHeaderMessage {
  composes: u-marginBM from global;
}

.averageWaitTime {
  composes: u-marginBM from global;
}

.notify {
  composes: u-textCenter from global;
}

.notifyIcon {
  composes: u-inlineBlock u-posRelative u-marginTL from global;
}

.notifyMessage {
  composes: u-marginBN u-textHeightMed from global;
}

.phoneDisplayLabel {
  composes: u-marginBL from global;
}

.formDivider {
  composes: u-marginBL u-hsizeAll from global;
  border: #{0.5/$font-size}rem solid $zd-color-grey-200;
  margin-left: #{-10/$font-size}rem;
  padding-right: #{20/$font-size}rem;
}

.phoneOnlyContainer {
  composes: u-textCenter u-userFillColor from global;
  font-size: #{14/$font-size}rem !important;
  margin-top: #{50/$font-size}rem !important;
  margin-bottom: #{40/$font-size}rem;
}

.phoneOnlyMobileContainer {
  composes: u-textHeightLrg from global;
  font-size: $font-size-mobile;
}

.phoneOnlyMessage {
  composes: u-marginTL u-marginBS from global;
}

.phoneNumber {
  composes: u-textCenter u-userLinkColor from global;
  font-size: #{20/$font-size}rem;
}

.phoneLink {
  color: $neutral-link-color;
  text-decoration: underline;

  &:hover, &:focus, &:active {
    color: $neutral-link-color;
  }
}

.error {
  composes: u-flex u-marginBM from global;
  composes: Error from '../../styles/components/Error.scss';
}

.errorIcon {
  composes: ErrorIcon from '../../styles/components/Error.scss';
  margin-right: #{12/$font-size}rem;
}

.offline {
  margin-bottom: #{50/$font-size}rem;
}

.offlineLabel {
  composes: u-textCenter u-paddingBS from global;
}

.offlineLink {
  composes: u-isActionable u-textCenter u-userLinkColor from global;
}

.button {
  width: 100%;
}

.submitBtnMobile {
  composes: button;
}

.zendeskLogoButton {
  margin-bottom: #{40/$font-size}rem;
}

.noZendeskLogoButton {
  margin-bottom: #{20/$font-size}rem;
}

.textField {
  margin-bottom: $field-margin-bottom;
}
