.footer {
  composes: u-paddingVN from global;
}

.notify {
  composes: u-textCenter from global;
}

.notifyIcon {
  composes: u-inlineBlock u-posRelative u-marginTL from global;
}

.notifyMessage {
  composes: u-marginBN from global;
}
