/* 1. Special case this for Talk product.
      Remove this once Dropdown component has been fixed for menuUp case. */


@import '../../styles/_vars.scss';

$flag-size: #{17.5/$font-size}rem !important;
$flag-size-mobile: #{20.5/$font-size}rem !important;
$menu-height: #{200/$font-size}rem;

.staticCountryContainer {
  width: #{58/$font-size}rem;
  border: $thin-border-size solid $stroke-color;
  border-radius: #{4/$font-size}rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;

  [dir="rtl"] & {
    border-top-right-radius: #{4/$font-size}rem;
    border-bottom-right-radius: #{4/$font-size}rem;
    border-right: $thin-border-size solid $stroke-color;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
}

.staticCountryContainerActive {
  composes: u-borderNone from global;
  border-right: $thin-border-size solid $stroke-focused-color !important;
  width: #{58/$font-size}rem;

  [dir="rtl"] & {
    border-right: none !important;
    border-left: $thin-border-size solid $stroke-focused-color !important;
  }
}

.staticCountryImage {
  composes: u-block from global;
  height: $flag-size;
  width: $flag-size;
  margin: #{7/$font-size}rem auto;
}

.dropdown {
  composes: u-inlineBlock from global;
  width: 20%;
}

.dropdownContainer {
  margin-bottom: 0 !important;
}

.menuContainer {
  width: #{300/$font-size}rem !important;
  max-height: $menu-height; /* 1 */
  height: auto !important; /* 1 */
}

.dropdownInput {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;

  [dir="rtl"] & {
    border-top-right-radius: #{4/$font-size}rem;
    border-bottom-right-radius: #{4/$font-size}rem;
    border-right: $thin-border-size solid $stroke-color;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
}

.arrow {
  composes: u-paddingAN from global;
  top: #{12/$font-size}rem;
  right: #{8/$font-size}rem;

  [dir="rtl"] & {
    left: #{8/$font-size}rem;
  }
}

.arrowMobile {
  top: #{13/$font-size}rem;
  right: #{12/$font-size}rem;

  [dir="rtl"] & {
    left: #{12/$font-size}rem;
  }
}

.attention {
  border: none !important;
  box-shadow: none !important;
}

.dropdownAttention {
  border-top: none !important;
  border-left: none !important;
  border-bottom: none !important;
  border-right: $thin-border-size solid $stroke-focused-color !important;

  [dir="rtl"] & {
    border-right: none !important;
    border-left: $thin-border-size solid $stroke-focused-color !important;
  }

  &:focus {
    box-shadow: none !important;
  }
}

.dropdownOption {
  display: inline-flex;
}

.fieldContainer {
  composes: u-inlineBlock from global;
  width: 80%;
}

.fieldLabel {
  composes: u-isHiddenVisually from global;
}

.fieldInput {
  height: #{14.5/$font-size}rem !important;

  [dir="rtl"] & {
    text-align: right;
    direction: ltr;
  }
}

.fieldInputMobile {
  height: #{18.5/$font-size}rem !important;
}

.field {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  [dir="rtl"] & {
    border-top-left-radius: #{4/$font-size}rem;
    border-bottom-left-radius: #{4/$font-size}rem;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.countrySelection {
  composes: u-inlineBlock from global;
}

.label {
  composes: u-textXHeight from global;
  composes: Form-fieldLabel from '../../styles/components/Form.scss';
  color: $zd-color-grey-800;
}

.labelPortrait {
  font-size: $font-size-mobile;
}

.labelLandscape {
  font-size: #{13/$font-size}rem
}

.selectedFlag {
  composes: u-block from global;
  margin: 0 auto;
  height: $flag-size;
}

.selectedFlagMobile {
  height: $flag-size-mobile;
}

.selectedFlagContainer {
  composes: u-block from global;
  width: 70%;
}

.dropdownFlag {
  width: #{20/$font-size}rem !important;
  height: #{20/$font-size}rem !important;
}

.dropdownName {
  composes: u-marginLS from global;
  padding-top: #{2/$font-size}rem !important;

  [dir="rtl"] & {
    margin-right: $spacing-sml !important;
    margin-left: inherit;
  }
}

.dropdownNameMobile {
  composes: u-paddingTN from global;
}

.controls {
  composes: u-flex from global;
}

.controlsFocus {
  box-shadow: 0 0 0 #{3/$font-size}rem rgba(153,153,153, 0.4);
  border: $thin-border-size solid $stroke-focused-color;
  border-radius: #{4/$font-size}rem;
}

.controlsHover {
  border: $thin-border-size solid $stroke-focused-color;
  border-radius: #{4/$font-size}rem;
}

.container {
  composes: u-marginBM from global;
  padding: 0;
  margin: 0;
}
