@import '../../styles/_vars.scss';

.scrollContainer {
  max-height: none;
}

.content {
  composes: u-textHeightMed from global;
}

.contentMobile {
  composes: u-textHeightLrg u-textSize15 from global;
}

.form {
  composes: u-marginBM from global;
}

.formHeaderMessage {
  composes: u-marginBM from global;
}

.averageWaitTime {
  composes: u-marginBM from global;
}

.footer {
  composes: u-paddingVN from global;
}

.notify {
  composes: u-textCenter from global;
}

.notifyIcon {
  composes: u-inlineBlock u-posRelative u-marginTL from global;
}

.notifyMessage {
  composes: u-marginBN u-textHeightMed from global;
}

.phoneDisplayLabel {
  composes: u-marginBL from global;
}

.formDivider {
  composes: u-marginBL u-hsizeAll from global;
  border: #{0.5/$font-size}rem solid $zd-color-gainsboro;
  margin-left: #{-10/$font-size}rem;
  padding-right: #{20/$font-size}rem;
}

.phoneOnlyContainer {
  margin-bottom: #{40/$font-size}rem;
}

.phoneOnlyMessage {
  composes: u-marginBS u-textHeightMed from global;
}

.phoneNumber {
  composes: u-textCenter from global;
  font-size: #{20/$font-size}rem;
}

.phoneLink {
  color: $neutral-link-color;
  text-decoration: underline;

  &:hover, &:focus, &:active {
    color: $neutral-link-color;
  }
}

.error {
  composes: u-flex u-marginBM from global;
  composes: Error from '../../styles/components/Error.scss';
}

.errorIcon {
  composes: ErrorIcon from '../../styles/components/Error.scss';
  margin-right: #{12/$font-size}rem;
}

.offline {
  margin-bottom: #{50/$font-size}rem;
}

.offlineLabel {
  composes: u-textCenter u-paddingBS from global;
}

.offlineLink {
  composes: u-isActionable u-textCenter u-userLinkColor from global;
}
