@import '../../styles/_vars.scss';

.scrollContainer {
  max-height: none;
}

.form {
  composes: u-marginBM from global;
}

.footer {
  composes: u-paddingVN from global;
}

.notify {
  composes: u-textCenter from global;
}

.notifyIcon {
  composes: u-inlineBlock u-posRelative u-marginTL from global;
}

.notifyMessage {
  composes: u-marginBN from global;
}

.phoneDisplayLabel {
  composes: u-marginBL from global;
}

.formDivider {
  composes: u-marginBL u-hsizeAll from global;
  border: #{0.5/$font-size}rem solid $zd-color-gainsboro;
  margin-left: #{-10/$font-size}rem;
  padding-right: #{20/$font-size}rem;
}

.phoneOnlyContainer {
  margin-bottom: #{50/$font-size}rem;
}

.phoneOnlyMessage {
  composes: u-marginBS from global;
}

.phoneNumber {
  composes: u-textCenter from global;
  font-size: #{20/$font-size}rem;
}
