/**
 * 1. Need to specify here to override c-btn-primary
 */

@import '../../../styles/_vars.scss';

.scrollContainerContent {
  padding-bottom: #{20/$font-size}rem;
  height: 100%;
  max-height: none;
}

.button {
  composes: u-sizeFull u-marginTM from global;

  max-width: 100%; /* 1 */
}

.greetingMessage {
  color: $zd-color-grey-800;
  margin-bottom: #{13/$font-size}rem;
  white-space: pre-line;
}

.dropdown {
  composes: u-marginBL from global;
}

.dropdownMenuContainer {
  height: auto !important;
  max-height: #{200/$font-size}rem;
}

.defaultDropdownText {
  color: $zd-color-grey-300;
}

.nameFieldWithSocialLogin {
  margin-bottom: #{7/$font-size}rem !important;
}

.submitBtn {
  margin-top: #{15/$font-size}rem;
  margin-bottom: #{15/$font-size}rem;
  float: right;
  max-width: #{200/$font-size}rem !important;
  padding-right: #{10/$font-size}rem !important;
  padding-left: #{10/$font-size}rem !important;

  [dir='rtl'] & {
    float: left;
  }
}

.zendeskLogo {
  z-index: 1;

  [dir='rtl'] & {
    right: #{16/$font-size}rem;
  }
}

.textAreaMarginBtn {
  margin-bottom: #{16/$font-size}rem !important;
}
