@import 'src/styles/_vars.scss';

.icon {
  position: relative;
  display: inline-block;

  svg {
    min-width: #{50 / $font-size}rem; /* 1 */
    width: #{50 / $font-size}rem;
    height: #{10 / $font-size}rem;

    &:hover,
    &:active,
    &:focus {
      path {
        fill: $zd-color-grey-600;
      }
    }

    path {
      fill: $zd-color-grey-500;
    }
  }
}
