@import '../../../styles/_vars.scss';

$focusRingWidth: 3px;

.sliderButton:global(:not([disabled])) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  svg {
    path {
      stroke: $zd-color-grey-500;
    }
  }

  &:hover, &:active, &:focus {
    background-color: white !important;

    svg {
      path {
        stroke: $zd-color-grey-800;
      }
    }
  }
}

.sliderButton:global(.slick-disabled) {
  display: none;
}

.sliderButton--left {
  left: -32px;
  z-index: 1;
}

.sliderButton--right {
  right: -34px;
  z-index: 1;
}

:global(.variableWidth) {
  .sliderButton--right {
    box-shadow: 0 0 #{12/$font-size}rem #{8/$font-size}rem $zd-color-white;
    border-radius: 0;
  }

  .sliderButton--left {
    border-radius: 0;
  }
}

:global {
  .structuredMessageSlider {
    .variableWidth {
       .slick-slide {
        height: auto !important;
      }
    }

    .slick-slider {
      margin: 0 24px;
    }

    .slick-list {
      padding: $focusRingWidth;
    }
  }
}
