@import '../../styles/_vars.scss';

.container {
  composes: u-posRelative from global;
  box-sizing: border-box;
}

.desktop {
  border-radius: #{8/$font-size}rem;
  box-shadow: 0 0 #{6/$font-size}rem 0 rgba($base-shadow, .2);
  background: rgba($base-color, .98);
}

.mobile {
  composes: Container--fullscreen from '../../styles/components/Container.scss';
}

.card {
  border-radius: #{5/$font-size}rem;
  box-shadow: 0 #{$thin-border-size/$font-size}rem #{4/$font-size}rem 0 rgba($base-shadow, .3);
  background: rgba($base-color, .98);
  max-width: #{620/$font-size}rem;
  min-width: #{400/$font-size}rem;
  padding: #{30/$font-size}rem #{40/$font-size}rem 0;
}
