/**
 * 1. Chrome on android acts weird when keyboard is shown
 *    it triggers landscape mode and we need to reset scroll
 *    containers height so the footer doesn't sit over the top.
 */

@import '../../styles/_vars.scss';

.container {
  composes: u-nbfc from global;
  box-sizing: border-box;
}

.desktop {
  height: #{550/$font-size}rem;
}

.mobile {
  height: 100%;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

.containerDesktop {
  border-radius: #{8/$font-size}rem;
}

.header {
  composes: u-paddingVM u-paddingHL from global;
  background: $zd-color-grey-100;
  color: $zd-color-grey-800;
}

.userHeader {
  composes: u-userHeaderColor from global;
}

.title {
  composes: u-textBold u-textCenter from global;
  letter-spacing: #{0.3/$font-size}rem;
  line-height: 1.2;
  padding-left: #{30/$font-size}rem;
  padding-right: #{30/$font-size}rem;
  font-size: $font-size-lrg;
}

.titleMobile {
  font-size: $font-size-mobile;
}

.content {
  composes: u-paddingHS u-marginHS u-paddingTM from global;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  flex-grow: 1;

  /*
   * Customise scrollbar for safari/chrome
   */
  &::-webkit-scrollbar-track {
    margin: $spacing-med 0;
  }
  &::-webkit-scrollbar {
    box-shadow: none;
    width: #{3/$font-size}rem;
  }
  &::-webkit-scrollbar-thumb {
    background: $zd-color-grey-300;
    border-radius: #{3/$font-size}rem;
  }
}

.contentMobile {
  -webkit-overflow-scrolling: touch;
  composes: u-overflowAuto from global;
  box-sizing: border-box;
  height: calc(100% - #{108/$font-size}rem);
  max-height: initial;
  max-width: 100%;

  @media screen and (orientation: landscape) {
    height: auto; /* 1 */
  }
}

.contentBigheader {
  height: calc(100% - #{166/$font-size}rem);
}

.footer {
  composes: u-paddingHL u-posRelative from global;
}

.footerShadow {
  border-top: $thin-border-size solid $zd-color-grey-200;
  box-shadow: 0 -#{1/$font-size}rem #{12/$font-size}rem rgba($base-shadow, .08);
}
