@import '../../../styles/_vars.scss';

.genericMessageBubble {
  composes: u-textBreak u-inlineBlock from global;
  white-space: pre-wrap;
  max-width: #{245/$font-size}rem;

  [dir='rtl'] & {
    float: left;
  }
}

.messageBubble {
  composes: genericMessageBubble;
  border-radius: #{16/$font-size}rem;
  line-height: #{16/$font-size}rem;
  padding: #{8/$font-size}rem #{12/$font-size}rem;
}

.messageBubbleWithOptions {
  line-height: #{16/$font-size}rem;
  composes: genericMessageBubble;
  border-top-left-radius: #{16/$font-size}rem;
  border-top-right-radius: #{16/$font-size}rem;
  border: #{1/$font-size}rem #f3f3f3 solid;
  padding: #{8/$font-size}rem #{12/$font-size}rem;
}

.link {
  &:link, &:hover, &:active, &:visited {
    color: inherit;
    text-decoration: underline;
  }
}

.translateLink {
  margin-left: $spacing-tny;
  transition: 100ms ease;
  border-bottom: #{1/$font-size}rem solid transparent;
  text-decoration: none !important;

  [dir='rtl'] & {
    margin-right: $spacing-tny;
    margin-left: 0;
  }

  &:hover {
    border-color: $zd-color-blue-400;
    cursor: pointer;
    text-decoration: none !important;
  }
}

