@import '../../styles/_vars.scss';

.desktop {
  composes: u-borderTransparent u-posRelative u-noPrint from global;
  width: 100%;
}

.left {
  composes: u-pullLeft from global;
}

.right {
  composes: u-pullRight from global;
}
