@import '../styles/_vars.scss';

.avatar {
  composes: u-block u-paddingAN u-textCenter from global;
  border-radius: 50%;
  border: #{1/$font-size}rem solid $zd-color-iron;
  background-color: $zd-color-white;
  height: #{32/$font-size}rem;
  width: #{32/$font-size}rem;
}
