@import '../styles/_vars.scss';

.mobile {
  composes: is-mobile from global;
  padding: 0;
}

.container {
  display: inline-block;
  composes: u-userColor from global;

  &:hover {
    color: currentColor;
  }
}

.button {
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;

  &:focus {
    outline: none;
  }
}

.altText {
  position: absolute;
  left: -10000px;
  top: auto;
  width: #{1/$font-size}rem;
  height: #{1/$font-size}rem;
  overflow: hidden;
}

.wrapper {
  position: relative;
}

.tooltip-base {
  composes: c-tooltip c-arrow from global;
  position: absolute;
  top: #{-29/$font-size}rem;
  right: #{3/$font-size}rem;
  z-index: 9999;
  visibility: hidden;
  border-radius: #{4/$font-size}rem;
  background-color: $zd-color-grey-800;
  padding-top: #{2/$font-size}rem;
  padding-bottom: #{2/$font-size}rem;
  transition: opacity 150ms ease-out;
  opacity: 0;
}

.tooltip {
  composes: tooltip-base;
  composes: c-arrow--br from global;
}

.tooltipRtl {
  composes: tooltip-base;
  composes: c-arrow--bl from global;
  left: #{3/$font-size}rem;
  right: auto;
}

.tooltipShown {
  visibility: visible;
}

.tooltipTransition {
  transition: opacity 200ms ease-in-out 300ms;
  opacity: 1;
}
