@import '../styles/_vars.scss';

.logo {
  composes: u-linkClean from global;
}

.formSuccess {
  composes: u-posAbsolute u-posEnd--vert from global;
}

.fullscreen {
  composes: u-posRelative from global;
}

.rtl {
  composes: u-posEnd from global;
}

.ltr {
  composes: u-posStart from global;
}

.hidden {
  composes: u-isHiddenVisually from global;
}

.icon {
  composes: u-posRelative from global;
}
