@import '../styles/_vars.scss';

.logo {
  composes: u-linkClean from global;
}

.formSuccess {
  position: absolute;
  bottom: #{6 / $font-size}rem;
}

.fullscreen {
  composes: u-posRelative from global;
}

.hidden {
  composes: u-isHiddenVisually from global;
}

.icon {
  composes: u-posRelative from global;
}
