@import '../../../../styles/_vars.scss';

.error {
  composes: u-flex u-marginBM from global;
  composes: Error from '../../../../styles/components/Error.scss';
}

.errorIcon {
  composes: ErrorIcon from '../../../../styles/components/Error.scss';
  margin-right: #{12/$font-size}rem;
}
