@import 'src/styles/_vars.scss';

.error {
  margin-bottom: #{15 / $font-size}rem !important;
  display: flex !important;
  background-color: rgba($zd-color-red-500, 0.1);
  border-radius: #{4 / $font-size}rem;
  border: #{1 / $font-size}rem solid $zd-color-red-300;
  color: $error-text-color;
  padding: #{13 / $font-size}rem #{13 / $font-size}rem;
  line-height: #{18 / $font-size}rem;
}

.errorIcon {
  margin-top: #{2 / $font-size}rem;

  svg {
    min-width: #{14 / $font-size}rem;
    min-height: #{14 / $font-size}rem;
    width: #{14 / $font-size}rem;
    height: #{14 / $font-size}rem;

    g {
      circle {
        stroke: $zd-color-red-600;
        fill: $zd-color-red-600;
      }

      path {
        stroke: $zd-color-white;
      }
    }

    circle {
      fill: $zd-color-white;
    }
  }

  margin-right: #{12 / $font-size}rem;
}
