/**
 * 1. This ensures there is a margin between the footer and the
      Help Center article content. Appears as a small white strip.
 */

@import '../../styles/_vars.scss';
@import '../../styles/mixins.scss';

.form {
  composes: u-cf from global;
  composes: Form from '../../styles/components/Form.scss';
}

.buttonContainer {
  composes: u-posRelative from global;
}

.searchTitle {
  composes: u-textSizeBaseMobile u-marginTM u-textCenter from global;
  composes: Container--fullscreen-center-vert from '../../styles/components/Container.scss';
}

.link {
  composes: u-block u-userTextColor u-textNoWrap from global;
  margin: 0 auto;
  @include text-limit(80%);
}

.linkContext {
  composes: u-marginBN from global;
}

.linkContainer {
  composes: u-textSizeBaseMobile u-textCenter u-marginTL from global;
}

.container {
  /* 1 */
  height: calc(100% - #{60/$font-size}rem);
}

.channelChoiceContainer {
  composes: u-posAbsolute u-hsizeAll from global;
  bottom: 0;
  box-shadow: 0 #{-2/$font-size}rem #{8/$font-size}rem 0 rgba(51,51,51,0.2);
  background-color: $zd-color-white;
}
