@import '../../styles/_vars.scss';

.form {
  composes: u-cf from global;
  composes: Form from '../../styles/components/Form.scss';
}

.buttonContainer {
  composes: u-posRelative from global;
}

.footer {
  composes: u-paddingVN from global;
}

.footerLogo {
  composes: u-paddingVL from global;
}

.footerArticleView {
  composes: u-paddingTT from global;
}

.noCustomHeight {
  height: auto;
}
