@import '../../styles/_vars.scss';

.loadingSpinnerContainer {
  composes: u-paddingTN u-posRelative from '../../styles/utils.scss';
  height: #{77/$font-size}rem;
}

.loadingSpinner {
  composes: u-flex u-flexJustifyCenter from '../../styles/utils.scss';
  margin-top: #{22/$font-size}rem;
}

.loadingSpinnerIE {
  composes: u-paddingBXL u-paddingRXL from '../../styles/utils.scss';
}

.loadingSpinnerSvg {
  width: #{32/$font-size}rem;
  height: #{32/$font-size}rem;
}
