@import '../../styles/_vars.scss';

.form {
  composes: u-cf from global;
  margin: 0;
}

.buttonContainer {
  composes: u-posRelative from global;
}

.footer {
  composes: u-paddingVN from global;
}

.footerLogo {
  composes: u-paddingVL from global;
}

.footerArticleView {
  composes: u-paddingTT from global;
}

.noCustomHeight {
  height: auto;
}

.buttonGroup {
  margin-top: #{15/$font-size}rem;
  margin-bottom: #{15/$font-size}rem;
}

.loadingBars {
  margin-top: #{5/$font-size}rem;
}

.button {
  max-width: #{200/$font-size}rem !important;
  padding-right: #{10/$font-size}rem !important;
  padding-left: #{10/$font-size}rem !important;
}
