.form {
  composes: u-cf from '../../styles/utils.scss';
  composes: Form from '../../styles/components/Form.scss';
}

.buttonContainer {
  composes: u-posRelative from '../../styles/utils.scss';
}

.footer {
  composes: u-paddingVN from '../../styles/utils.scss';
}

.footerLogo {
  composes: u-paddingVL from '../../styles/utils.scss';
}

.footerArticleView {
  composes: u-paddingTT from '../../styles/utils.scss';
}
