.form {
  composes: u-cf from '../../styles/utils.scss';
  composes: Form from '../../styles/components/Form.scss';
}

.buttonContainer {
  composes: u-posRelative from '../../styles/utils.scss';
}

.logoHidden {
  composes: u-marginVM from '../../styles/utils.scss';
}