.title {
  composes: u-textSizeLrg u-marginBT u-textBold u-textBody from '../../styles/utils.scss';
}

.originalArticleButton {
  composes: u-marginBM from '../../styles/utils.scss';
}

.link {
  composes: u-linkClean from '../../styles/utils.scss';
}

.content {
  composes: UserContent from '../../styles/components/UserContent.scss';
}

.article {
  composes: u-marginTM from '../../styles/utils.scss';
}