@import '../../styles/_vars.scss';

.title {
  margin-bottom: #{10/$font-size}rem;
}

.form {
  composes: u-cf from global;
  composes: Form from '../../styles/components/Form.scss';
}

.buttonContainer {
  composes: u-posRelative from global;
}

.footer {
  composes: u-paddingVN from global;
}

.footerLogo {
  composes: u-paddingVL from global;
}

.footerArticleView {
  composes: u-paddingTT from global;
}

.noCustomHeight {
  height: auto;
}

.buttonGroup {
  margin-top: #{15/$font-size}rem;
  margin-bottom: #{15/$font-size}rem;
}

.loadingBars {
  margin-top: #{5/$font-size}rem;
}
