@import '../../styles/_vars.scss';

.title {
  composes: u-textSizeLrg u-marginBT u-textBold u-textBody from global;
}

.originalArticleButton {
  composes: u-marginBM from global;
}

.link {
  composes: u-linkClean from global;
}

.content {
  composes: UserContent from '../../styles/components/UserContent.scss';
  word-break: break-word;
  line-height: 1.5;
  font-size: #{13/$font-size}rem;
  max-width: #{339/$font-size}rem;
}

.contentMobile {
  font-size: #{14/$font-size}rem;
  max-width: 100%;

  table {
    font-size: #{14/$font-size}rem;
  }
}

.article {
  composes: u-marginTM from global;
}
