@import '../../styles/_vars.scss';

.container {
  height: #{500/$font-size}rem;
  max-height: #{500/$font-size}rem;
}

.scrollContainer {
  height: calc(100% - #{130/$font-size}rem);
}

.scrollContainerMobile {
  height: calc(100% - #{150/$font-size}rem);
  max-height: #{480/$font-size}rem;
}

.messages {
  margin-top: #{70/$font-size}rem;
}

.header {
  composes: u-marginBM from global;
}

.chatEnd {
  composes: u-textCenter from global;
}
