@import '../../styles/_vars.scss';

.wrapper {
  display: block;
  composes: u-cf from '../../styles/utils.scss';
}

.message {
  composes: u-paddingS u-marginBS from '../../styles/utils.scss';
}

.messageUser {
  composes: u-pullRight from '../../styles/utils.scss';
}

.messageAgent {
  composes: u-pullLeft from '../../styles/utils.scss';
}

.name {
  font-weight: strong;
  font-size: #{12/$font-size}rem;
  color: $zd-color-dark-gray;
}
