/**
 * 1. Need to specify here to override c-btn-primary
 */

@import '../../styles/_vars.scss';

.button {
  composes: u-sizeFull u-marginTM from global;

  max-width: 100%; /* 1 */
}

.greetingMessage {
  color: $zd-color-dark-gray;
  margin-bottom: #{13/$font-size}rem;
  white-space: pre-line;
}

.dropdown {
  composes: u-marginBL from global;
}

.dropdownMenuContainer {
  height: auto !important;
  max-height: #{200/$font-size}rem;
}

.defaultDropdownText {
  color: $zd-color-iron;
}

.nameFieldWithSocialLogin {
  margin-bottom: #{7/$font-size}rem !important;
}
