@import '../../styles/_vars.scss';

.feedbackMessage {
  composes: u-block u-textBold from global;
  margin-top: #{60/$font-size}rem;
  margin-bottom: #{10/$font-size}rem;
}

.buttonGroup {
  composes: u-flex from global;
}

.button {
  flex-grow: 1;
  max-width: 50%;
}

.rightButton {
  composes: button;
  margin-left: #{7/$font-size}rem !important;

  [dir='rtl'] & {
    margin-left: 0 !important;
    margin-right: #{7/$font-size}rem !important;
  }
}

.textarea {
  composes: u-marginBM u-hsizeAll u-paddingTS u-paddingHS from global;
  composes: Form-field from '../../styles/components/Form.scss';
  border-radius: #{4/$font-size}rem;
  resize: none;
  outline: none;
  border-color: $zd-color-gainsboro;
  color: $zd-color-dark-gray;

  &::placeholder {
    font-style: italic;
  }
}

.feedbackDescription {
  composes: u-marginBS u-block from global;
}

.chatRatingGroup {
  composes: u-marginBS u-marginTT from global;
}
