@import '../../styles/_vars.scss';

.popupChildrenContainer {
  composes: u-paddingTM u-paddingBT u-paddingHL from global;
}

.popupChildrenContainerLoading {
  composes: u-paddingVL from global;
}

.title {
  color: $zd-color-dark-gray;
  margin-bottom: #{16/$font-size}rem;
  text-align: center;
  font-size: #{13/$font-size}rem;
}

.form {
  composes: u-marginBN from global;
}

.field {
  composes: u-paddingVS u-paddingHM from global;
}

.fieldContainer:last-of-type {
  margin-bottom: #{20/$font-size}rem !important;
}

.fieldLabel {
  composes: u-marginBS from global;
  font-size: #{13/$font-size}rem;
  color: $zd-color-dark-gray !important;
}

.loadingSpinner {
  composes: Grid-cell--center from global;
}

.errorContainer {
  composes: u-marginTM u-marginBS from global;
}

.errorIcon {
  composes: u-alignTop u-inlineBlock u-marginTN from global;
  composes: ErrorIcon from '../../styles/components/Error.scss';
  margin-right: #{12/$font-size}rem;
}

.errorMsg {
  composes: u-inlineBlock from global;
  color: $error-color;
  width: calc(100% - #{27/$font-size}rem);
}
