@import '../../styles/_vars.scss';

.mobileContainer {
  composes: u-textSizeMed from global;
  height: 100% !important;
}

.container {
  height: #{$chat-height/$font-size}rem;
}

.chatEndPopupDescription {
  composes: u-paddingVL u-paddingLL u-paddingRL from global;
}

.reconnectContainer {
  composes: u-flex u-posFill u-posAbsolute u-flexAlignItemsCenter u-flexJustifyCenter from global;
}
