@import '../../styles/_vars.scss';

.popupChildrenContainer {
  composes: u-paddingTM u-paddingBT u-paddingHL from global;
}

.title {
  color: #777777;
}

.form {
  composes: u-marginBN from global;
}

.field {
  composes: u-paddingVS u-paddingHM from global;
}

.fieldContainer {
  composes: u-marginBS from global;
}
