/**
 * 1. ChatLog's messages flow above ChatHeader's content,
      this lifts ChatHeader's content to a higher index to prevent that behaviour.
 */
@import '../../styles/_vars.scss';

.avatar {
  svg {
    padding-left: #{1/$font-size}rem;
  }
}

.avatar:not([src]) {
  border: #{1/$font-size}rem solid $zd-color-iron;
}

.container {
  composes: u-flex u-flexAlignItemsCenter u-posStart--flush u-posAbsolute u-hsizeAll from global;
  background-color: $base-color;
  border-bottom: #{1/$font-size}rem solid $zd-color-gainsboro;
  box-sizing: border-box;
  height: #{58/$font-size}rem;
  padding: #{5/$font-size}rem #{17/$font-size}rem;
  top: #{43/$font-size}rem;
  z-index: $chat-header-zindex;
}

.textContainer {
  composes: u-paddingLS from global;
  color: $zd-color-oil;

  [dir='rtl'] & {
    padding-left: 0 !important;
    padding-right: #{10/$font-size}rem !important;
  }
}

.title {
  composes: u-textBold from global;
}

.clickable {
  cursor: pointer;
}
