@import '../../styles/_vars.scss';

.input {
  composes: u-inlineBlock u-marginRS u-alignBottom from '../../styles/utils.scss';
  width: #{210/$font-size}rem;
}

.button {
  composes: u-inlineBlock from '../../styles/utils.scss';
}

