@import '../../styles/_vars.scss';

.scrollContainerMobile {
  height: calc(100% - #{150/$font-size}rem);
  max-height: #{480/$font-size}rem;
}

.messages {
  margin-top: #{70/$font-size}rem;
}

.header {
  composes: u-marginBM from global;
}

.footer {
  padding-bottom: #{8/$font-size}rem !important;
}

.chatEnd {
  composes: u-textCenter from global;
}

.chatEndPopup {
  composes: u-posAbsolute u-textCenter from global;
  bottom: 10;
}

.chatEndPopupDescription {
  composes: u-paddingTL u-paddingBS from global;
}
