@import '../../styles/_vars.scss';

.containerWrapper {
  composes: u-hsizeAll u-posAbsolute from global;
}

.container {
  background-color: $zd-color-white;
  border-radius: #{3/$font-size}rem;
  box-shadow: 0 0 #{8/$font-size}rem 0 rgba($base-shadow, 0.26);
  width: 92%;
  margin: auto;
}

.ctaContainer {
  composes: u-paddingBS u-flexJustifyCenter u-flex from global;
}

.ctaButton {
  composes: u-nbfc u-hsizeAll from global;
  text-overflow: ellipsis;
}

.leftCtaBtn {
  composes: u-marginLL from global;
  composes: ctaButton;
  margin-right: #{7/$font-size}rem !important;
}

.rightCtaBtn {
  composes: u-marginRL from global;
  composes: ctaButton;
}
