@import '../../styles/_vars.scss';

.scrollContainerMobile {
  height: calc(100% - #{150/$font-size}rem);
  max-height: #{480/$font-size}rem;
}

.container {
  max-height: #{550/$font-size}rem;
}

.messages {
  margin-top: #{70/$font-size}rem;
}

.header {
  composes: u-marginBM from global;
}

.footer {
  padding-top: 0 !important;
}

.chatEnd {
  composes: u-textCenter from global;
}

.bottomPopup {
  composes: u-posAbsolute from global;
  bottom: #{10/$font-size}rem;
}

.chatEndPopupDescription {
  composes: u-paddingVL u-paddingLL u-paddingRL from global;
}

.agentTyping {
  composes: u-posAbsolute u-paddingTS from global;
  bottom: #{103/$font-size}rem;
  color: $zd-color-aluminum;
  width: #{301/$font-size}rem;
  background: linear-gradient(to bottom, rgba($zd-color-white, 0), rgba($zd-color-white, 0.8));
}

.loadingEllipses {
  composes: u-inlineBlock from global;
  padding-right: #{2/$font-size}rem;
}

.loadingEllipsesItem {
  background-color: $zd-color-iron !important;
  width: #{4/$font-size}rem;
  height: #{4/$font-size}rem;
  margin-right: #{1/$font-size}rem;
  margin-bottom: #{2/$font-size}rem;
}
