@import '../../styles/_vars.scss';

.wrapper {
  composes: u-cf u-block from global;
}

.message {
  composes: u-paddingS u-marginBS from global;
}

.messageUser {
  composes: u-pullRight from global;
}

.messageAgent {
  composes: u-pullLeft from global;
  color: $zd-color-black;
}

.name {
  margin-left: #{40/$font-size}rem;
  color: $zd-color-aluminum !important;
}

.avatar {
  display: inline-block !important;
  height: #{35/$font-size}rem;
  width: #{35/$font-size}rem;
}

.messageBubble {
  margin-left: #{40/$font-size}rem;
}

.messageBubbleAvatar {
  composes: u-marginLT u-alignTop from global;
}
