/**
 * 1. ChatLog's messages flow above ChatHeader's content,
      this lifts ChatHeader's content to a higher index to prevent that behaviour.
 */
@import '../../styles/_vars.scss';

.avatar {
  position: absolute;
  svg {
    padding-left: #{1/$font-size}rem;
  }
}

.avatarContainer {
  position: relative;
}

.avatar:not([src]) {
  border: #{1/$font-size}rem solid $zd-color-iron;
}

.avatar:nth-child(1) {
  left: 0;
}

.avatar:nth-child(2) {
  left: #{20/$font-size}rem;
  border: white #{1/$font-size}rem solid;
}

.avatar:nth-child(3) {
  left: #{40/$font-size}rem;
  border: white #{1/$font-size}rem solid;
}

.avatarOverflow {
  composes: u-flex u-flexJustifyCenter u-flexAlignItemsCenter from global;
  border: #{1/$font-size}rem solid $zd-color-iron !important;
  border-radius: 50%;
  background-color: $zd-color-white;
  height: #{32/$font-size}rem;
  width: #{32/$font-size}rem;
}

.avatarOverflowText {
  color: $zd-color-oil;
}

.container {
  composes: u-flex u-flexAlignItemsCenter u-posStart--flush u-posAbsolute u-hsizeAll from global;
  background-color: $base-color;
  box-sizing: border-box;
  box-shadow: 0 #{4/$font-size}rem #{8/$font-size}rem 0 rgba($zd-color-black, 0.1);
  height: #{58/$font-size}rem;
  padding: #{5/$font-size}rem #{17/$font-size}rem;
  top: #{43/$font-size}rem;
  z-index: $chat-header-zindex;
}

.textContainer {
  composes: u-paddingLS from global;
  color: $zd-color-oil;
  line-height: #{15/$font-size}rem;
  padding-top: #{1/$font-size}rem;

  [dir='rtl'] & {
    padding-left: 0 !important;
    padding-right: #{10/$font-size}rem !important;
  }
}

.title {
  composes: u-textBold from global;
}

.clickable {
  cursor: pointer;
}

.agentDetails {
  composes: u-flex from global;
}
