@import '../../styles/_vars.scss';

.scrollContainerMobile {
  height: calc(100% - #{150/$font-size}rem);
  max-height: #{480/$font-size}rem;
}

.messages {
  margin-top: #{70/$font-size}rem;
  margin-bottom: #{24/$font-size}rem;
}

.header {
  composes: u-marginBM from global;
}

.footer {
  padding-bottom: #{8/$font-size}rem !important;
}

.chatEnd {
  composes: u-textCenter from global;
}

.chatEndPopup {
  composes: u-posAbsolute from global;
  bottom: #{10/$font-size}rem;
}

.chatEndPopupDescription {
  composes: u-paddingVL u-paddingLL from global;
}

.agentTyping {
  composes: u-posAbsolute u-paddingTS from global;
  bottom: #{103/$font-size}rem;
  color: $zd-color-monsoon;
  width: #{301/$font-size}rem;
  background: linear-gradient(to bottom, rgba($zd-color-white, 0), rgba($zd-color-white, 0.8));
}

.loadingEllipses {
  composes: u-inlineBlock from global;
  padding-right: #{4/$font-size}rem;
}

.loadingEllipsesItem {
  background-color: $zd-color-monsoon !important;
}
