@import '../../styles/_vars.scss';

.container {
  color: $zd-color-oil;
}

.title {
  font-size: #{13/$font-size}rem;

  span {
    font-weight: normal;
  }
}

.dayList {
  font-size: #{13/$font-size}rem;
  margin: #{16/$font-size}rem 0;
}

.dayName {
  font-size: #{13/$font-size}rem;
  font-weight: bold;
  padding-bottom: #{4/$font-size}rem;
}

.hours {
  margin-bottom: #{15/$font-size}rem;
}

.dropdown {
  margin: #{20/$font-size}rem 0;
}

.dropdownMenuContainer {
  height: auto !important;
  max-height: #{200/$font-size}rem;
}

.hidden {
  composes: u-isHiddenVisually from global;
}
