@import '../../styles/_vars.scss';

.wrapper {
  composes: u-cf u-block from global;
}

.message {
  composes: u-paddingS u-marginBS from global;
}

.messageUser {
  composes: u-pullRight from global;
}

.messageAgent {
  composes: u-pullLeft from global;
}

.name {
  composes: u-textBold from global;
  color: $zd-color-dark-gray;
}
