@import '../../styles/_vars.scss';

.container {
  composes: u-posAbsolute u-posEnd--flush u-zIndex1 from global;

  background-color: $base-color;
  bottom: #{30/$font-size}rem;
  width: calc(100% - #{32/$font-size}rem);
  padding: #{4/$font-size}rem 0;
  margin: 0 #{16/$font-size}rem #{10/$font-size}rem;
  border-radius: #{4/$font-size}rem;
  box-shadow: 0 0 #{6/$font-size}rem 0 rgba($base-shadow, .2);
}

.containerMobile {
  composes: u-posAbsolute u-posFill from global;
  top: #{42.5/$font-size}rem !important;
  z-index: #{$chat-header-zindex + 1};
  overflow: hidden;

  &.hidden {
    display: none;
  }
}

.overlayMobile {
  composes: u-posAbsolute u-posFill from global;
  background-color: $zd-color-black;
  opacity: 0.4;
}

.wrapperMobile {
  composes: u-posAbsolute u-posStart--flush u-posEnd--flush from global;
  background-color: $base-color;
}

.item[type='button'] {
  background: none;
  border: none;
  color: $zd-color-grey-600 !important;
  outline: none;
  padding: 0 #{15/$font-size}rem;
  text-align: left;
  width: 100%;

  path {
    fill: $zd-color-grey-600;
  }

  &:hover, &:active, &:focus {
    color: $zd-color-grey-800 !important;
    background: $zd-color-grey-100 !important;

    path {
      fill: $zd-color-grey-800;
    }
  }

  &:disabled {
    color: $zd-color-grey-300 !important;
    background: $zd-color-white !important;
  }

  [dir='rtl'] & {
    text-align: right;
  }
}

.itemMobile[type='button'] {
  background: none;
  border-bottom: #{1/$font-size}rem solid $zd-color-grey-200 !important;
  border-color: $zd-color-grey-200 !important;
  border-top: 0;
  box-sizing: border-box;
  color: $zd-color-grey-600 !important;
  outline: none;
  text-align: left;
  width: 100%;

  &:hover, &:active, &:focus {
    color: $zd-color-grey-800 !important;
    background: $zd-color-grey-100 !important;
  }

  &:disabled, &.disabled {
    color: $zd-color-grey-300 !important;
    background: $zd-color-white !important;
  }

  [dir='rtl'] & {
    text-align: right;
  }
}

.dropzoneItem {
  height: #{38/$font-size}rem;
  background: none;
  border-bottom: #{1/$font-size}rem solid $zd-color-grey-200 !important;
  border-color: $zd-color-grey-200 !important;
  border-top: 0;
  box-sizing: border-box;
  color: $zd-color-grey-600 !important;
  outline: none;
  padding: #{10/$font-size}rem #{30/$font-size}rem;
  text-align: left;
  width: 100%;

  [dir='rtl'] & {
    text-align: right;
  }
}

.endChatContainerMobile {
  padding: #{13/$font-size}rem #{20/$font-size}rem;
}

.endChatMobileButton {
  height: #{35/$font-size}rem;
  width: 100%;
  max-width: none;
  border-radius: #{4/$font-size}rem;
}

.itemLine {
  composes: u-borderBottom from global;

  margin: #{4/$font-size}rem 0;
  border-color: $zd-color-grey-200;
}

.soundButtonReset {
  background: transparent !important;

  &:hover, &:active, &:focus {
    background: transparent !important;
  }
}

.soundIcon {
  composes: u-inlineBlock from global;
  vertical-align: middle;
  padding-left: #{6/$font-size}rem;
  padding-bottom: #{2/$font-size}rem;

  svg {
    min-height: #{15/$font-size}rem;
    min-width: #{15/$font-size}rem;
    height: #{15/$font-size}rem;
    width: #{15/$font-size}rem;
  }

  [dir='rtl'] & {
    padding-left: 0;
    padding-right: #{6/$font-size}rem;
  }
}
