@import '../../styles/_vars.scss';

.icons {
  composes: u-flex from global;
  justify-content: flex-end;
  padding-top: #{8/$font-size}rem;
}

.iconEndChat {
  composes: Icon--ellipsis u-marginLS from global;
}
