@import '../../styles/_vars.scss';

.popupChildrenContainer {
  composes: u-paddingTM u-paddingBT u-paddingHL from global;
}

.popupChildrenContainerLoading {
  composes: u-paddingVL from global;
}

.resultContainer {
  composes: u-paddingAL from global;
  width: #{275/$font-size}rem;
}

.loadingContainer {
  padding: #{18/$font-size}rem;
}

.resultScreen {
  composes: u-wordBreakAll from global;
  overflow: auto;
}

.resultIcon {
  float: left;
  margin-right: #{15/$font-size}rem;
}

.resultMessage {
  float: left;
  width: 88%;
  font-size: $font-size-lrg;
  line-height: 1.4;
  color: $zd-color-grey-800;

  a {
    cursor: pointer;
  }
}

.title {
  color: $zd-color-grey-800;
  margin-bottom: #{16/$font-size}rem;
  text-align: center;
  font-size: $font-size-lrg;
}

.form {
  composes: u-marginBN from global;
}

.field {
  margin-bottom: #{10/$font-size}rem;
}

.loadingSpinner {
  composes: Grid-cell--center from global;
}

.errorContainer {
  composes: u-marginTM u-marginBS from global;
}

.errorIcon {
  composes: u-alignTop u-inlineBlock u-marginTN from global;
  composes: ErrorIcon from '../../styles/components/Error.scss';
  margin-right: #{12/$font-size}rem;
}

.errorMsg {
  composes: u-inlineBlock from global;
  color: $error-color;
  width: calc(100% - #{27/$font-size}rem);
}

.nameContainer {
  margin-bottom: $field-margin-bottom;
}
