/**
 * 1. ChatLog's messages flow above ChatHeader's content,
      this lifts ChatHeader's content to a higher index to prevent that behaviour.
 * 2. PostCSS (Autoprefixer) strips outdated CSS properties, as a result we have
      to temporarily turn off the behaviour to enable line clamping to render ellipses
      nicely for most browsers apart from IE and FF when a text overflows..
 */
@import '../../styles/_vars.scss';

.avatar {
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0 0 0 #{2/$font-size}rem white;
  max-width: none;

  svg {
    padding-left: #{0.5/$font-size}rem;
  }
}

.avatarContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.avatar:nth-child(1) {
  left: 0;

  [dir='rtl'] & {
    left: -#{32/$font-size}rem;
  }
}

.avatar:nth-child(2) {
  left: #{20/$font-size}rem;

  [dir='rtl'] & {
    left: -#{52/$font-size}rem;
  }
}

.avatar:nth-child(3) {
  left: #{40/$font-size}rem;

  [dir='rtl'] & {
    left: -#{72/$font-size}rem;
  }
}

.avatarOverflow {
  composes: u-flex u-flexJustifyCenter u-flexAlignItemsCenter from global;
  border-radius: 50%;
  background-color: $zd-color-white;
  height: #{34/$font-size}rem;
  width: #{34/$font-size}rem;
  border: $zd-color-grey-400 #{2/$font-size}rem solid;
}

.avatarOverflowText {
  color: $zd-color-grey-600;
}

.container {
  composes: u-flex u-flexAlignItemsCenter u-posStart--flush u-posAbsolute u-hsizeAll from global;
  background-color: $base-color;
  box-sizing: border-box;
  box-shadow: 0 #{4/$font-size}rem #{8/$font-size}rem 0 rgba($zd-color-black, 0.1);
  height: #{58/$font-size}rem;
  padding: #{5/$font-size}rem #{17/$font-size}rem;
  top: #{43/$font-size}rem;
  z-index: $chat-header-zindex;
}

.textContainer {
  color: $zd-color-grey-800;
  line-height: #{15/$font-size}rem;
  padding-top: #{1/$font-size}rem;
}

.title {
  composes: u-textBold from global;

  font-size: #{14/$font-size}rem;
  width: 100%;
  max-height: #{15/$font-size}rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical; /* 2 */
  /*! autoprefixer: on */
}

.subTextContainer {
  width: 100%;
  max-height: #{30/$font-size}rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical; /* 2 */
  /*! autoprefixer: on */
}

.clickable {
  cursor: pointer;
}

.agentDetails {
  composes: u-flex from global;

  width: 100%;
}

.ratingGroup {
  display: inline-flex;
  margin-left: #{15/$font-size}rem !important;

  [dir='rtl'] & {
    margin-left: 0 !important;
    margin-right: #{15/$font-size}rem !important;
  }
}
