@import '../../styles/_vars.scss';

.container {
  composes: u-flex u-posFill u-posAbsolute u-flexAlignItemsCenter u-flexJustifyCenter from global;
}

.bubble {
  composes: u-backgroundWhite from global;
  opacity: 0.9;
  border-radius: #{30/$font-size}rem !important;
  box-shadow: 0 #{1/$font-size}rem #{10/$font-size}rem 0 rgba(0, 0, 0, 0.2);
  max-width: 90%;
  height: #{30/$font-size}rem;
  line-height: #{30/$font-size}rem;
}

.contentContainer {
  composes: u-textCenter from global;

  padding-left: #{15/$font-size}rem;
  padding-right: #{12/$font-size}rem;

  &:after {
    content: '\A0';
  }
}

.loadingSpinner {
  composes: u-alignMiddle from global;
  width: #{16/$font-size}rem;
  height: #{16/$font-size}rem;
  stroke-width: #{8/$font-size}rem;
  margin-bottom: #{1/$font-size}rem;
}

.title {
  composes: u-inlineBlock u-alignMiddle from global;
  margin-right: #{7/$font-size}rem;
  margin-bottom: #{1/$font-size}rem;
  max-width: calc(100% - #{23/$font-size}rem);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.circle {
  stroke-width: #{10/$font-size}rem;
}
