@import '../../styles/_vars.scss';

.submitButton {
  composes: u-hsizeAll from global;
  max-width: 100%;
}

.offlineGreeting {
  composes: u-marginTT from global;
  margin-bottom: #{18/$font-size}rem;
}

.loadingSpinner {
  composes: u-flex u-posFill u-posAbsolute u-flexAlignItemsCenter u-flexJustifyCenter from global;
}

.info {
  padding: #{20/$font-size}rem;
  border: $thin-border-size solid $stroke-color;
  border-radius: #{4/$font-size}rem;
}

.message {
  margin-top: #{6/$font-size}rem;
  margin-bottom: #{10/$font-size}rem;
}

.successContainer {
  font-size: #{13/$font-size}rem;
  line-height: #{20/$font-size}rem;
  color: $zd-color-oil;
}

.backButton {
  max-width: 100%;
  width: 100%;
  margin-top: #{20/$font-size}rem;
}

.offlineMessage {
  margin-top: #{10/$font-size}rem;
  line-height: #{18/$font-size}rem;
}

.operatingHoursContainer {
  margin: #{-9/$font-size}rem 0 #{21/$font-size}rem 0;
}

.operatingHoursLink {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
