@import '../../styles/_vars.scss';

.scrollContainerContent {
  padding-bottom: #{20/$font-size}rem;
}

.doneButton {
  width: 100%;
}

.submitButton {
  composes: u-hsizeAll from global;
  max-width: 100%;
}

.offlineGreeting {
  composes: u-marginTT from global;
  margin-bottom: #{18/$font-size}rem;
}

.loadingSpinner {
  composes: u-flex u-posFill u-posAbsolute u-flexAlignItemsCenter u-flexJustifyCenter from global;
}

.loadingSpinnerContainer {
  height: #{100/$font-size}rem;
  position: relative;
  padding-top: 0 !important;
}

.info {
  padding: #{20/$font-size}rem;
  border: $thin-border-size solid $stroke-color;
  border-radius: #{4/$font-size}rem;
}

.message {
  margin-top: #{6/$font-size}rem;
  margin-bottom: #{10/$font-size}rem;
}

.successContainer {
  font-size: $font-size-lrg;
  line-height: #{20/$font-size}rem;
  color: $zd-color-oil;
}

.backButton {
  max-width: 100%;
  width: 100%;
  margin-top: #{20/$font-size}rem;
}

.offlineMessage {
  margin-top: #{10/$font-size}rem;
  line-height: #{18/$font-size}rem;
}

.operatingHoursContainer {
  margin: #{-9/$font-size}rem 0 #{21/$font-size}rem 0;
}

.operatingHoursLink {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.nameFieldWithSocialLogin {
  margin-bottom: #{7/$font-size}rem !important;
}

.submitBtn {
  margin-top: #{15/$font-size}rem;
  margin-bottom: #{15/$font-size}rem;
  height: #{40/$font-size}rem;
  float: right;

  [dir='rtl'] & {
    float: left;
  }
}

.zendeskLogo {
  z-index: 1;

  [dir='rtl'] & {
    right: #{16/$font-size}rem;

    & > span {
      padding-left: #{6/$font-size}rem !important;
      padding-right: #{3/$font-size}rem !important;
      margin-left: #{13/$font-size}rem !important;
      margin-right: #{4/$font-size}rem !important;
    }
  }
}
