/**
 * 1. We target the barebones textarea element here since Field overrides
 *    the className attribute for its input
 */

@import '../../styles/_vars.scss';

.input {
  composes: u-alignBottom from global;

  textarea { /* 1 */
    height: #{33/$font-size}rem;

    &::placeholder {
      color: $zd-color-gainsboro;
    }

    &::-webkit-scrollbar {
      width: #{4/$font-size}rem;
    }

    &::-webkit-scrollbar-thumb {
      background: $base-border-color;
      border-radius: #{4/$font-size}rem;
    }
  }
}
