@import '../../styles/_vars.scss';

.successContainer {
  font-size: $font-size-lrg;
  line-height: #{20/$font-size}rem;
  color: $zd-color-grey-800;
}

.message {
  margin-top: #{6/$font-size}rem;
  margin-bottom: #{10/$font-size}rem;
}

.info {
  padding: #{20/$font-size}rem;
  border: $thin-border-size solid $stroke-color;
  border-radius: #{4/$font-size}rem;
}

.offlineMessage {
  margin-top: #{10/$font-size}rem;
  line-height: #{18/$font-size}rem;
}

.backButton {
  height: #{38/$font-size}rem;
  max-width: 100%;
  width: 100%;
  margin-top: #{20/$font-size}rem;
}
