@import '../../styles/_vars.scss';

.scrollContainerContent {
  height: 100%;
  max-height: none;
  position: relative;
}

.greeting {
  margin-top: #{6/$font-size}rem;
  font-size: $font-size-lrg;
  color: $zd-color-grey-800;
}

.button {
  width: 100%;
}
