@import '../../styles/_vars.scss';

.container {
  composes: u-posAbsolute u-marginAS u-posEnd--flush u-zIndex1 from global;

  background-color: $base-color;
  bottom: #{20/$font-size}rem;
  width: calc(100% - #{20/$font-size}rem);
  padding: #{4/$font-size}rem 0;
  border-radius: #{4/$font-size}rem;
  box-shadow: 0 0 #{6/$font-size}rem 0 rgba($base-shadow, .2);
}

.item {
  composes: u-hsizeAll u-textLeft u-borderNone from global;
  background: none;
  outline: none;
  color: $zd-color-monsoon;
  font-size: #{13/$font-size}rem;
  padding: #{8/$font-size}rem #{15/$font-size}rem;

  path {
    fill: $zd-color-monsoon;
  }

  &:hover, &:active, &:focus {
    color: $zd-color-oil;
    background: $zd-color-white-smoke;

    path {
      fill: $zd-color-oil;
    }
  }

  &:disabled {
    color: $zd-color-iron;
    background: $zd-color-white;
  }

  [dir='rtl'] & {
    text-align: right !important;
  }
}

.itemLine {
  composes: u-borderBottom from global;

  margin: #{4/$font-size}rem 0;
  border-color: $zd-color-platinum;
}

.soundIcon {
  composes: u-inlineBlock from global;
  vertical-align: middle;
  padding-left: #{6/$font-size}rem;
  padding-bottom: #{2/$font-size}rem;

  svg {
    min-height: #{15/$font-size}rem;
    min-width: #{15/$font-size}rem;
    height: #{15/$font-size}rem;
    width: #{15/$font-size}rem;
  }

  [dir='rtl'] & {
    padding-left: 0;
    padding-right: #{6/$font-size}rem;
  }
}
