@import '../../styles/_vars.scss';

.scrollContainerMobile {
  display: flex;
  flex-direction: column-reverse;

  .agentTyping {
    bottom: #{48/$font-size}rem;
  }
}

.container {
  height: #{$chat-height/$font-size}rem;
}

.mobileContainer {
  height: 100% !important;
}

.scrollContainer {
  composes: container;

  display: flex;
  flex-direction: column;
}

.scrollContainerContent {
  height: 100%;
  max-height: none;
}

.scrollContainerMessagesContent {
  composes: scrollContainerContent;

  margin-top: #{58/$font-size}rem;
}

.header {
  composes: u-marginBM from global;
}

.footer {
  padding-top: #{21/$font-size}rem !important;
  padding-bottom: #{4/$font-size}rem !important;
}

.footerMobile {
  padding: 0 !important;
  border-top: $thin-border-size solid $zd-color-gainsboro;
  margin-top: #{12/$font-size}rem !important;
}

.chatEnd {
  composes: u-textCenter from global;
}

.chatEndPopupDescription {
  composes: u-paddingVL u-paddingLL u-paddingRL from global;
}

.agentTyping {
  composes: u-posAbsolute u-paddingTS from global;
  bottom: #{97/$font-size}rem;
  color: $zd-color-aluminum;
  width: #{301/$font-size}rem;
  background: linear-gradient(to bottom, rgba($zd-color-white, 0), rgba($zd-color-white, 0.8));
}

.loadingEllipses {
  composes: u-inlineBlock from global;
  padding-right: #{2/$font-size}rem;
}

.loadingEllipsesItem {
  background-color: $zd-color-iron !important;
  width: #{4/$font-size}rem;
  height: #{4/$font-size}rem;
  margin-right: #{1/$font-size}rem;
  margin-bottom: #{2/$font-size}rem;
}

.queuePosition {
  composes: u-textCenter from global;
  margin-top: #{5/$font-size}rem;
  margin-bottom: #{10/$font-size}rem;
  color: $zd-color-aluminum;
}

.agentListBackButton {
  width: 100%;
  max-width: unset;
}

.reconnectContainer {
  composes: u-flex u-posFill u-posAbsolute u-flexAlignItemsCenter u-flexJustifyCenter from global;
}
