@import '../../styles/_vars.scss';

.container {
  margin-left: auto;
}

.ratingIcon {
  composes: u-borderTransparent from global;
  display: inline-block !important;
  padding: #{6/$font-size}rem;
  height: #{16/$font-size}rem;
  width: #{16/$font-size}rem;

  &:hover, &:focus, &:active {
    background-color: $zd-color-white;
  }
}

.ratingIconActive {
  border: #{1/$font-size}rem solid $zd-color-gainsboro !important;
  border-radius: #{4/$font-size}rem;
  background-color: $zd-color-platinum;

  svg > path {
    fill: $zd-color-dark-gray;
  }

  &:hover, &:focus, &:active {
    background-color: $zd-color-platinum;
  }
}

.leftRatingIcon {
  composes: ratingIcon;

  svg {
    padding-left: #{1/$font-size}rem;
  }
}
