/**
 * 1. in IE11 and below, flex adjustment for width is calculated incorrectly, assuming there are only
      two buttons active on a popup at a given time, the max width is limited to 50% less margin to center the
      elements properly.
 */
@import '../../styles/_vars.scss';

.popupContainerMobile {
  composes: u-posAbsolute u-posFill from global;
  top: #{42.5/$font-size}rem !important;
  z-index: 4;
  overflow: hidden;

  &.hidden {
    display: none;
  }
}

.overlayMobile {
  composes: u-posAbsolute u-posFill from global;
  background-color: $zd-color-black;
  opacity: 0.4;
}

.wrapperMobile {
  composes: u-posAbsolute u-posStart--flush u-posEnd--flush from global;
  background-color: $base-color;
}

.containerWrapper {
  composes: u-hsizeAll u-posAbsolute u-zIndex1 from global;
}

.container {
  position: relative;
  background-color: $zd-color-white;
  border-radius: #{3/$font-size}rem;
  box-shadow: 0 0 #{8/$font-size}rem 0 rgba($base-shadow, 0.26);
  width: auto;
  margin: 0 #{16/$font-size}rem #{30/$font-size}rem;
}

.ctaContainer {
  composes: u-flexJustifyCenter u-flex from global;
  padding-bottom: #{20/$font-size}rem !important;
}

.ctaButton {
  composes: u-nbfc u-hsizeAll from global;
  text-overflow: ellipsis;
  max-width: calc(50% - #{26/$font-size}rem); /* 1 */
}

.leftCtaBtn {
  composes: u-marginLL from global;
  composes: ctaButton;
  margin-right: #{12/$font-size}rem !important;

  [dir='rtl'] & {
    margin-right: #{20/$font-size}rem !important;
    margin-left: #{12/$font-size}rem !important;
  }
}

.ctaBtnMobile {
  border-radius: #{4/$font-size}rem;
}

.rightCtaBtn {
  composes: u-marginRL from global;
  composes: ctaButton;

  [dir='rtl'] & {
    margin-right: 0 !important;
    margin-left: #{20/$font-size}rem !important;
  }
}

.closeIcon {
  composes: u-posAbsolute u-posStart--vert u-posEnd--flush u-paddingRS u-isActionable from global;
  color: $zd-color-aluminum;

  [dir="rtl"] & {
    right: 0;
  }

  &:hover {
    color: $zd-color-monsoon;
  }

  svg {
    min-width: #{16/$font-size}rem;
    min-height: #{16/$font-size}rem;
    height: #{16/$font-size}rem;
    width: #{16/$font-size}rem;
  }
}
