/**
 * 1. Need to specify here to override c-btn-primary
 */

@import '../../styles/_vars.scss';

.button {
  composes: u-sizeFull u-marginTM from global;

  max-width: 100%; /* 1 */
}

.greetingMessage {
  color: #555555;
  margin-bottom: #{13/$font-size}rem;
}
