@import '../../styles/_vars.scss';

.container {
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  height: #{50/$font-size}rem !important;
}

.textContainer {
  color: $zd-color-dark-gray;
  line-height: #{16/$font-size}rem;
  padding-left: #{15/$font-size}rem;
  overflow: hidden;

  [dir='rtl'] & {
    padding-left: 0 !important;
    padding-right: #{10/$font-size}rem !important;
  }
}

.singleLineText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.name {
  composes: singleLineText;
  font-weight: 700;
}

.title {
  composes: singleLineText;
  color: $zd-color-aluminum
}
