@import '../../styles/_vars.scss';

.iconContainer {
  composes: u-flex from global;
  justify-content: flex-end;
  padding-top: #{8/$font-size}rem;
}

.iconChatMenuOption {
  padding-right: #{3/$font-size}rem;

  svg {
    padding: #{5/$font-size}rem;
    border-radius: #{4/$font-size}rem;

    min-width: #{14/$font-size}rem;
    min-height: #{14/$font-size}rem;
    width: #{14/$font-size}rem;
    height: #{14/$font-size}rem;

    g {
      fill: $zd-color-aluminum !important;
    }

    &:hover, &:active, &:focus {
      background: $zd-color-platinum;

      g {
        fill: $zd-color-dark-gray !important;
      }
    }
  }
}

.iconAttachment {
  composes: iconChatMenuOption;

  path {
    stroke: $zd-color-aluminum !important;
  }

  &:hover, &:active, &:focus {
    path {
      stroke: $zd-color-dark-gray !important;
    }
  }
}

.iconDisabled {
  svg {
    g {
      fill: $zd-color-iron !important;
    }

    &:hover, &:active, &:focus {
      background: none;

      g {
        fill: $zd-color-iron !important;
      }
    }
  }
}
