@import '../../styles/_vars.scss';

.container {
  composes: u-posRelative u-marginBT from global;
}

.wrapper {
  composes: u-cf u-block from global;
}

.message {
  composes: u-paddingS from global;
  margin-bottom: #{7/$font-size}rem;
}

.messageUser {
  composes: u-pullRight from global;
  color: $zd-color-white;

  [dir='rtl'] & {
    float: left !important;
  }
}

.userBackground {
  composes: u-userBackgroundColor from global;
}

.messageAgent {
  composes: u-pullLeft from global;
  color: $zd-color-black;

  [dir='rtl'] & {
    float: right !important;
  }
}

.agentBackground {
  background: $zd-color-anti-flash-white;
  max-width: #{219/$font-size}rem !important;
}

.name {
  composes: u-marginBT u-marginTT from global;
  margin-left: #{50/$font-size}rem;
  color: $zd-color-aluminum !important;

  [dir='rtl'] & {
    margin-left: 0;
    margin-right: #{40/$font-size}rem;
  }
}

.avatar {
  composes: u-posAbsolute from global;
  bottom: #{7/$font-size}rem;

  svg {
    padding-top: #{8/$font-size}rem;
    min-width: #{13/$font-size}rem;
    min-height: #{13/$font-size}rem;
    max-width: #{13/$font-size}rem;
    max-height: #{13/$font-size}rem;
  }
}

.avatarDefault {
  composes: avatar;
  height: #{32/$font-size}rem;
  width: #{32/$font-size}rem;
}

.avatarWithSrc {
  composes: avatar;
  height: #{30/$font-size}rem;
  width: #{30/$font-size}rem;
}

.messageBubble {
  margin-left: #{40/$font-size}rem;

  [dir='rtl'] & {
    margin-left: 0;
    margin-right: #{40/$font-size}rem;
  }
}
