@import '../../styles/_vars.scss';

.container {
  composes: u-posAbsolute from global;

  background-color: $base-color;
  bottom: #{20/$font-size}rem;
  right: 0;
  margin: #{10/$font-size}rem;
  width: calc(100% - #{20/$font-size}rem);
  padding: #{9/$font-size}rem 0;
  border-radius: #{4/$font-size}rem;
  box-shadow: 0 0 #{6/$font-size}rem 0 rgba($base-shadow, .2);
}

.item {
  color: $zd-color-monsoon;
  padding: #{8/$font-size}rem #{15/$font-size}rem;

  &:hover, &:active, &:focus {
    color: $zd-color-oil;
    background: $zd-color-white-smoke;
  }
}

.itemLine {
  composes: u-borderBottom from global;

  margin: #{4/$font-size}rem 0;
  border-color: $zd-color-platinum;
}
