@import "../../styles/_vars.scss";

.container {
  margin-bottom: #{15 / $font-size}rem;
}

.channelIcon {
  display: inline-block;
  padding-right: #{8 / $font-size}rem;

  [dir="rtl"] & {
    padding-right: 0;
    padding-left: #{8 / $font-size}rem;
  }
}

.channelIconMobile {
  display: inline-block;
  padding-right: #{12 / $font-size}rem;

  [dir="rtl"] & {
    padding-right: 0;
    padding-left: #{12 / $font-size}rem;
  }
}
