@import '../../styles/_vars.scss';

.chat {
  position: relative;
  overflow: hidden;
}

.chatEndPopupDescription {
  composes: u-paddingVL from global;
  color: $zd-color-grey-800;
  padding-left: #{20 / $font-size}rem;
  padding-right: #{20 / $font-size}rem;
}

.reconnectContainer {
  composes: u-flex u-posFill u-posAbsolute u-flexAlignItemsCenter u-flexJustifyCenter from global;
}
