@import '../../styles/_vars.scss';

.container {
  color: $zd-color-grey-800;
}

.title {
  font-size: $font-size-lrg;

  span {
    font-weight: normal;
  }
}

.dayList {
  font-size: $font-size-lrg;
  margin: #{16/$font-size}rem 0;
}

.dayName {
  font-size: $font-size-lrg;
  font-weight: bold;
  padding-bottom: #{4/$font-size}rem;
}

.lastTiming {
  margin-bottom: #{12/$font-size}rem;
}

.button {
  max-width: 100%;
  width: 100%;
}

.hidden {
  composes: u-isHiddenVisually from global;
}
