@import '../../styles/_vars.scss';

.messageBubble {
  composes: u-paddingAS from '../../styles/utils.scss';
  border-radius: #{8/$font-size}rem;
  line-height: 1.5;
  max-width: #{230/$font-size}rem;
}
