@import '../../styles/_vars.scss';

.messageBubble {
  composes: u-textBreak u-inlineBlock from global;
  white-space: pre-wrap;
  border-radius: #{16/$font-size}rem;
  line-height: 1.4;
  max-width: #{230/$font-size}rem;
  padding: #{7/$font-size}rem #{10/$font-size}rem;
}
