@import 'src/styles/_vars.scss';

.item {
  color: $zd-color-grey-800;
  list-style: decimal;
  font-size: #{14 / $font-size}rem;
  margin-bottom: #{7 / $font-size}rem;
  padding-left: #{2 / $font-size}rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.itemMobile {
  font-size: $font-size-mobile;
}

.link {
  composes: u-userTextColor from global;
}
