@import '../../styles/_vars.scss';

.checkboxContainer {
  composes: u-hsizeAll from '../../styles/utils.scss';
  display: inline-block;
}

.checkbox {
  composes: u-posRelative u-pullLeft u-isActionable from '../../styles/utils.scss';

  width: #{14/$font-size}rem;
  height: #{14/$font-size}rem;
  background-color: $base-color;
  border: $thin-border-size solid $stroke-color;
  border-radius: #{4/$font-size}rem;
  margin-right: #{10/$font-size}rem;
  top: #{1/$font-size}rem;

  [dir='rtl'] & {
    float: right !important;
    margin-right: 0;
    margin-left: #{10/$font-size}rem;
  }
}

.checkboxCaption {
  composes: u-textBold u-nbfc u-pullLeft u-isActionable u-block from '../../styles/utils.scss';

  color: $zd-color-monsoon;

  [dir='rtl'] & {
    float: right !important;
  }
}

.input {
  composes: u-isHiddenVisually from '../../styles/utils.scss';

  width: #{14/$font-size}rem;
  height: #{14/$font-size}rem;
}

.focused {
  border: $thin-border-size solid $stroke-focused-color;
  box-shadow: 0 0 0 #{3/$font-size}rem rgba(153,153,153, 0.4);
}

.invalid {
  border: $thin-border-size solid $error-color;
}

.field {
  composes: Form-field Form-field--clean from '../../styles/components/Form.scss';
  composes: u-isSelectable u-posRelative u-flex u-flexAlignItemsBase from '../../styles/utils.scss';
}

.container {
  composes: Form-fieldContainer from '../../styles/components/Form.scss';
  composes: u-block from '../../styles/utils.scss';
}

.description {
  composes: Form-description from '../../styles/components/Form.scss';
  composes: u-textAluminum from '../../styles/utils.scss';
}
