@import '../../styles/_vars.scss';

.field {
  composes: u-paddingAS from global;
}

.fieldFocused {
  background-color: $zd-color-white-smoke;
  color: $zd-color-oil;

  .arrowRight {
    border-left: #{7/$font-size}rem solid $zd-color-dark-gray;
  }

  .arrowLeft {
    border-right: #{7/$font-size}rem solid $zd-color-dark-gray;
  }
}

.fieldBorder {
  composes: u-borderBottom from global;
  margin-bottom: #{3/$font-size}rem;
  padding-bottom: #{3/$font-size}rem;
}

.disabled {
  color: $zd-color-iron;
  cursor: default !important;
}

.enabled {
  &:hover {
    background-color: $zd-color-white-smoke;
    color: $zd-color-oil;

    .arrowRight {
      border-left: #{7/$font-size}rem solid $zd-color-dark-gray;
    }

    .arrowLeft {
      border-right: #{7/$font-size}rem solid $zd-color-dark-gray;
    }
  }
}

.arrowRight {
  composes: u-pullRight from global;

  width: 0;
  height: 0;
  border-top: #{5/$font-size}rem solid transparent;
  border-bottom: #{5/$font-size}rem solid transparent;
  border-left: #{7/$font-size}rem solid $zd-color-aluminum;
  margin-top: #{2/$font-size}rem;
  margin-right: #{10/$font-size}rem;

  [dir="rtl"] & {
    margin-right: 0;
    margin-left: #{10/$font-size}rem;
  }
}

.arrowLeft {
  composes: u-pullLeft from global;

  width: 0;
  height: 0;
  border-top: #{5/$font-size}rem solid transparent;
  border-bottom: #{5/$font-size}rem solid transparent;
  border-right: #{7/$font-size}rem solid $zd-color-aluminum;

  margin-top: #{2/$font-size}rem;
  margin-right: #{8/$font-size}rem;

  [dir="rtl"] & {
    margin-right: 0;
    margin-left: #{8/$font-size}rem;
  }
}

.arrowMobile {
  margin-top: #{4/$font-size}rem;
}

.name {
  composes: u-inlineBlock from global;
  width: 90%;
}
