@import '../../styles/_vars.scss';

.container {
  composes: u-marginBM u-posRelative from '../../styles/utils.scss';
  color: $zd-color-oil;
}

.arrow {
  composes: u-pullRight u-paddingTT u-posAbsolute from '../../styles/utils.scss';
  right: #{10/$font-size}rem;
  top: #{10/$font-size}rem;
  pointer-events: none;

  svg {
    pointer-events: none;
  }
}

.arrowOpen {
  svg {
    transform: rotate(180deg);
  }
}

.label {
  composes: Form-fieldLabel from '../../styles/components/Form.scss';
  composes: u-textXHeight from '../../styles/utils.scss';
}

.input {
  composes: Form-field from '../../styles/components/Form.scss';
  composes: u-hsizeAll from '../../styles/utils.scss';

  &:focus {
    border: $thin-border-size solid $stroke-focused-color;
  }

  &::-webkit-input-placeholder {
    color: $zd-color-oil;
  }

  &:-moz-placeholder {
    color: $zd-color-oil;
  }

  &:-ms-input-placeholder {
    color: $zd-color-oil;
  }
}

.labelMobile {
  composes: u-textSize15 from '../../styles/utils.scss';
}

.labelLandscape {
  composes: u-textSizeSml from '../../styles/utils.scss';
}
