@import '../../styles/_vars.scss';

.container {
  composes: Arrange-sizeFill u-vsizeAll u-posRelative from global;
}

.searchInput {
  composes: Arrange-sizeFill u-paddingR Form-placeholder from global;
}

.fullscreen {
  composes: u-textSizeBaseMobile from global;
}
