@import '../../styles/_vars.scss';

.container {
  composes: u-paddingAS u-posRelative from global;
  border: $thin-border-size solid $zd-color-grey-300;
  background-color: $zd-color-grey-100;
}

.containerError {
  composes: u-flex u-marginTL from global;
  composes: Error from '../../styles/components/Error.scss';

  svg {
    margin: 0 #{8/$font-size}rem 0 #{10/$font-size}rem;
  }

}

.preview {
  composes: u-flex u-flexAlignItemsCenter from global;
  min-height: #{32/$font-size}rem;
  z-index: 2;
}

.previewError {
  color: $zd-color-grey-700 !important;
  font-size: #{12/$font-size}rem;
}

.description {
  flex: 1;
}

.previewName {
  composes: u-flex from global;
  color: $zd-color-grey-800;
  overflow: hidden;
}

.secondaryText {
  composes: u-block from global;
  color: $zd-color-grey-600;
}

.secondaryTextError {
  color: $zd-color-red-500;
  font-size: #{12/$font-size}rem;
}

.downloadSize {
  color: $zd-color-grey-600;
}

.downloadText {
  composes: u-marginLT from global;
  color: $zd-color-blue-600;
}

.icon {
  composes: u-paddingTN u-isActionable from global;

  svg {
    fill: $zd-color-grey-500 !important;
    min-width: #{10/$font-size}rem; /* 1 */
    min-height: #{10/$font-size}rem; /* 1 */
    height: #{10/$font-size}rem;
    width: #{10/$font-size}rem;
  }
}

.iconPreview {
  composes: Icon--preview from '../../styles/components/Icon.scss';
  composes: u-paddingTN u-marginTN u-inlineBlock from global;
}

.link {
  composes: u-linkClean from global;
}
