@import '../../styles/_vars.scss';

.error {
  composes: u-marginVS from global;
  composes: Error from '../../styles/components/Error.scss';

  color: $error-text-color;
}

.container {
  composes: u-block u-marginBS from global;
  margin-bottom: $spacing-lrg;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.label {
  /* Match garden's visual style  */
  line-height: 2.14286;

  display: block;
  margin-top: #{16 / $font-size}rem;
  font-weight: 700;
  color: $zd-color-grey-800;
}

.attachment {
  composes: u-marginTS from global;
  border-radius: #{4 / $font-size}rem;

  &:last-of-type {
    margin-bottom: $spacing-sml !important;
  }
}
