@import '../../styles/_vars.scss';

.dropzone {
  composes: Container--dashed from '../../styles/components/Container.scss';

  position: absolute;
  margin: #{10 / $font-size}rem;
}

.dropzoneActive {
  composes: u-textBold u-userTextColor from global;
  composes: Anim-color from '../../styles/components/Animation.scss';
}
