@import '../../styles/_vars.scss';

.container {
  composes: u-paddingAS u-posRelative from global;
  border: $thin-border-size solid $stroke-color;
  color: $secondary-color;
}

.containerError {
  composes: u-borderError from global;
}

.preview {
  composes: u-flex u-flexAlignItemsCenter from global;
  min-height: #{32/$font-size}rem;
  z-index: 2;
}

.description {
  flex: 1;
}

.previewName {
  composes: u-flex u-textBody from global;
  overflow: hidden;
}

.secondaryText {
  composes: u-block from global;
}

.secondaryTextError {
  color: $zd-color-flamingo;
}

.downloadSize {
  color: $secondary-color;
}

.downloadText {
  composes: u-marginLT from global;
  color: #007FAB;
}

.icon {
  composes: u-paddingTN u-isActionable from global;

  svg {
    min-width: #{10/$font-size}rem; /* 1 */
    min-height: #{10/$font-size}rem; /* 1 */
    height: #{10/$font-size}rem;
    width: #{10/$font-size}rem;
  }
}

.iconPreview {
  composes: Icon--preview from '../../styles/components/Icon.scss';
  composes: u-paddingTN u-marginTN u-inlineBlock from global;
}

.link {
  composes: u-linkClean from global;
}
