@import '../../styles/_vars.scss';

.error {
  composes: Error u-textError u-marginVS from global;
}

.container {
  composes: Form-fieldContainer u-block u-marginTM u-marginBS from global;
}

.label {
  composes: Form-fieldLabel u-textXHeight from global;
}
