@import '../../styles/_vars.scss';

.container {
  composes: u-posAbsoluteCenter from global;

  z-index: 100;
}

.dropzone {
  composes: u-posAbsolute u-marginAS from global;
  composes: Container--dashed from '../../styles/components/Container.scss';
}

.dropzoneActive {
  composes: u-textBold u-userTextColor from global;
  composes: Anim-color from '../../styles/components/Animation.scss';
}

.dropzoneChild {
  composes: u-textCenter u-posRelative u-posCenter--vert from global;

  font-size: $font-size-lrg;
}

.dropzoneChildLabel {
  composes: u-marginTS from global;
  font-weight: 700;
  color: $zd-color-grey-800;
}
