@import '../../styles/_vars.scss';

.error {
  composes: u-textError u-marginVS from global;
  composes: Error from '../../styles/components/Error.scss';
}

.container {
  composes: u-block u-marginBS from global;
  margin-bottom: $spacing-lrg;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.label {
  composes: u-textXHeight from global;

  margin-bottom: #{6/$font-size}rem;
  font-weight: 700;
  color: $zd-color-grey-800;
}

.attachment {
  composes: u-marginTS from global;
  border-radius: #{4/$font-size}rem;
}
