@import '../../../../styles/_vars.scss';

.container {
  background-color: $zd-color-white;
  box-shadow: 0 #{2/$font-size}rem #{16/$font-size}rem 0 rgba($base-shadow, 0.26);
  padding: #{16/$font-size}rem 0;
}

.title {
  composes: u-textCenter from global;
  margin-bottom: #{10/$font-size}rem;
  font-size: #{13/$font-size}rem;
  font-weight: normal;
  color: $zd-color-oil;
}

.optionButtons {
  text-align: center !important;
}

.noBtn {
  composes: u-marginLS from global;
}

.reasonButtons {
  margin: 0 auto;
  width: 85%;
}

.relatedBtn {
  composes: u-marginBS from global;
  width: 100%;
}

.unrelatedBtn {
  width: 100%;
}
